
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="邦宁云播,邦宁云视频,vip视频解析,vip视频在线解析,vip解析,万能vip视频解析,vip视频全能解析,vip视频,手机vip视频解析,手机在线解析vip视频,优酷vip解析,爱奇艺vip解析,腾讯vip解析,乐视vip解析,芒果vip解析">
    <meta name="Description" content="全网最全的视频资源 更新最快 免费在线播放.最新资源观看,哪里可以看最新的电影电视剧，">
    <meta name="keywords" />
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            alert("抱歉！本网站不兼容IE浏览器，建议更换现代浏览器使用，比如Chrome浏览器等");
        }
        if (location.href.toLowerCase().indexOf("ihelpy") != -1) {
            alert("本站已启用新域名video.isYour.Love,请修改收藏页面，即将跳转...");
            location.href = "https://video.isyour.love";
        } else {
            //启用https
            if (location.href.toLowerCase().indexOf("https") != 0 && location.href.toLowerCase().indexOf("localhost") == -1 && location.href.search(/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/) == -1) {
                location.href = "https" + location.href.substring(4)
            }
        }


    </script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

    <script src="https://cdn.staticfile.org/vue/3.0.11/vue.global.js"></script>
    <!--引用bootstrap图标库css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css">

    <script src="https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Js/Tools.js"></script>
    <style>
        body {
            background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png);
        }
    </style>
    
    <meta name="referer" content="never" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flexbody {
        }

        .cqsTxt {
            font-size: 1.4rem !important;
        }

        .tooltip {
            z-index: 999999 !important;
            position: fixed !important;
        }

        .bi {
            font-size: 0.9rem;
        }
        /*       .biMiddle {
            vertical-align: middle;
        }*/

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .dmBarbutton {
            flex: auto !important;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            background-color: black;
            min-height: 100%;
        }

        .fullHeight {
            height: 100%;
            pointer-events: none;
        }

        .searchitem {
            margin: 0px 0px 6px 0px;
            background-color: white;
            border-radius: 7px;
        }

        .searchItems {
            border-radius: 2px;
            padding: 6px 7px;
            margin: 4px 3px;
            font-size: 14px;
            float: left;
            cursor: pointer;
            color: #ffffff;
            background-color: #526668;
        }

        select {
            background-color: black !important;
        }


        .trans {
            border-radius: 50%;
            overflow: hidden;
            animation: rotate 1.5s linear infinite;
        }

        .nowSelectItem {
            background-color: #ff5200 !important;
            box-shadow: inset 0 0 4px 0px black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        .list-group-item {
            cursor: pointer;
        }

        button {
            outline: none !important;
        }

        .videoFullPage {
            height: 70% !important;
            width: 100% !important;
            margin: 0px auto;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px; /*滚动条宽度*/
            height: 16px; /*滚动条高度*/
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px; /*滚动条的背景区域的圆角*/
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px; /*滚动条的圆角*/
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        }

        .selectTabActive {
            border-radius: 5px 5px 0px 0px;
            position: relative !important;
            bottom: -2px;
            border: 1px solid;
            border-color: #5cb85c !important;
            z-index: 3;
            border-bottom-color: transparent !important;
            background-color: white;
        }

        #userMark i {
            font-size: 1.2rem;
            position: relative;
            top: 1px;
        }


        .divItem {
            padding: 10px;
            min-height: 150px;
            padding: 10px;
            border: 1px solid #5cb85c;
            border-top: 0px;
            margin-bottom: 10px;
            background-color: white;
            color: #585858;
        }

        hr {
            margin: 10px 0px;
        }

        .popover {
            color: black;
        }

        .pageButton {
            border-radius: 4px !important;
            padding: 3px !important;
            margin-left: 5px !important;
            padding: 5px !important;
            color: green;
            border: 1px solid;
        }

        .pageButtonEnter {
            background-color: green !important;
            color: white !important;
        }
    </style>
    <style>
        .vjs-control-bar {
            font-size: 15px;
            background-color: transparent !important;
            z-index: 11;
        }

        .vjs-button {
            width: 3em !important;
        }

        .vjs-poster, video {
            outline: none;
        }

        /*.vjs-progress-control {
                position: absolute !important;
                width: 100% !important;
                display: block !important;
                height: auto !important;
                z-index: 3 !important;
                top: -4px !important;
            }*/
    </style>

    
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    <script src="https://cdn.staticfile.org/blueimp-md5/2.13.0/js/md5.min.js"></script>




    <title>邦宁云播播放器 - ⎛⎝邦宁云播⎠⎞</title>
</head>
<body>
    




<div id="app" style="font-size: 14px; pointer-events:all; position:absolute;left:0;right:0;top:2px;bottom:2px;border-radius:10px;z-index:3;background-color: rgb(249, 250, 251);color:#a9a9a9;margin:0px 2px;">
    <div class="v-cloak" id="realY" style="background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png); background-attachment: local; padding-left:7px; position: absolute; left: 0px; right: 1px; top: 3px; border-radius: 10px; bottom: 20px; overflow-y: auto; padding-right: 5px;">
        <div>
            <div style="margin-top: 5px; color: black; font-size: 18px;float: left; margin-right: 10px;">
                <i :style="{'color':showAll ? 'red':''}" v-on:click="showAll= !showAll;" class="bi bi-bullseye" style="font-size:1.2rem;"></i>
                <span style="color: red;display:none;" v-show="showAll">【测试模式】</span>当前播放列表:
            </div>
            <div style="line-height: 17px; padding: 6px 6px 6px 0px; font-size: 17px; overflow: auto; float: left;">
                <a v-on:click="fk()"><span class="badge badge-success">搜索结果不满意</span></a>
            </div>
        </div>

        
        <div class="input-group input-group-sm" style=" border: 1px solid #1e7e34; border-radius: 5px;">
            <input style="border: 0px;" v-model="searchCodeUser" type="text" class="form-control" autocomplete="off" placeholder="请输入 影片名称 或 播放地址 搜索结果由互联网自动聚合生成,请勿相信视频内容中的广告" name="id" v-on:keyup.enter="userInputSearch(searchCodeUser)" />
            <span class="input-group-btn">
                <button class="btn btn-success" style="font-size: 14px; margin: -1px !important; background-color: #5cb85c; line-height: 1.42857143; border: 1px solid transparent; color: white;" onclick="app.userInputSearch(app.searchCodeUser); return false;">搜 索</button>
            </span>
        </div>
        <div v-show="searchCodeUserList.length > 0" style="padding: 5px 5px 10px 5px; background-color: white; position: absolute; z-index: 4; left: 10px; right: 10px; color: black; border: 1px solid #1e7e34; border-top: 0px; border-radius: 0px 0px 5px 5px; overflow: hidden; ">
            <div v-for="i in searchCodeUserList" v-on:click="userInputSearch(i)" style=" font-size: 1rem; margin: 4px;" class="badge badge-dark">{{i}}</div>
        </div>
        
        <div class="loading" style="z-index: 9999; position: absolute; top: 55px; bottom: 0px; left: 0px; right: 0px; color: #1e7e34; background-color: white; padding-top: 70px; padding-left: 10px; font-size: 1.5rem; ">
            <p><i style="font-size: 2rem; color: black;" class="bi bi-hourglass"></i>请稍等</p>
            <p>正在加载播放器...</p>
        </div>
        <div style="height: 120px;">
            <div v-is="'script'" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></div>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fl+5z+3v-d0+94"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="9497300006"></ins>
            <div v-is="'script'">
                (adsbygoogle = window.adsbygoogle || []).push({});
            </div>
        </div>

        <iframe v-if="adadress"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width: 100%; border-radius: 10px 10px 10px 10px;margin-top: 2px;height:100px;"
                v-bind:src="adadress"></iframe>
        <div style="color:#d03d3d;font-weight: 600;padding: 10px 0px 20px 0px;" v-show="tips.length!=0" v-html="tips"></div>
        <div class="row rowpb" style="margin-left: -2px; margin-right: -3px;margin-top:4px;">
            <div class="rowpbbody col-xs-12 col-sm-6 col-md-6 col-lg-4" v-for="(items,ind) in searchList" style="padding:0px 2px;">
                <div v-show="showLight3 || (items.light!=3)" class="searchitem" style="border: 1px solid rgb(197 197 197); box-shadow: 0 0 4px 0px #767676;">
                    <div style="font-size: 16px;border-bottom: 1px solid rgb(226, 226, 226);position: relative;">
                        <div style="overflow: hidden;position: absolute; bottom: 2px; top: 2px; left: 3px; width: 73px; background-size: 100% 100%; background-color: rgb(162 162 162); border-radius: 5px;">
                            <img :src="items.Img" referrerPolicy="no-referrer" style="width:100%;height:100%;" alt="海报" onerror="$(this).attr('src','https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/def.png')" />
                        </div>
                        <div style="padding: 3px;z-index: 10;overflow: hidden;margin-left: 77px;text-overflow: ellipsis;">
                            <div>
                                <span style="font-weight: 600;font-size:14px;color: #000000;">
                                    
                                    {{items.Name}}
                                    
                                    <span id="userMark" v-html="StrToHtml(items.UserMark)"></span>
                                </span>
                                <span class="videoId" :va="items.TypeId+'-'+items.VideoCode"  style="font-size:12px;color:#F06292;">({{items.TypeId}})</span>
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-person-circle"></i>
                                {{items.Actors}}
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-signpost-2"></i>
                                {{items.Describe}}
                            </div>
                            <div>
                                <span style="font-size: 13px;">
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到豆瓣查看或写影评" style="padding-left: 0px; background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://search.douban.com/movie/subject_search?search_text='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-star-half"></i>豆瓣
                                    </span>
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到百度百科查询相关资料" style="background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://baike.baidu.com/search?word='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-stickies"></i>百科
                                    </span>
                                    <span class="badge badge-light" title="搜索这部影片" style="background: transparent; color: #4077ad; cursor: pointer; " v-bind:txt="items.Name" onclick="app.userInputSearch($(this).attr('txt'))">
                                        <i class="bi biMiddle bi-search"></i>搜索本片
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding: 0px 5px;">
                        <div class="searchItems" v-show="items.showChild == false" v-on:click="items.showChild = !items.showChild;reBindLiu()">
                            <i class="bi bi-arrow-90deg-down"></i>
                            <span>点击查看共:{{items.Data.length}}集</span>
                        </div>
                        <div v-on:contextmenu.stop='newWindow(items.Name + "-" + items2.N,items2.S,items.Player)' v-on:click="clickOne(items,ind2)" v-show="items.showChild" v-for="(items2,ind2) in items.Data" class="searchItems" v-bind:class="{'nowSelectItem': nowSelectItem.obj == items &&  nowSelectItem.ind == ind2}">
                            <span>{{items2.N || "正片"}}</span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>
        <div v-show="searchList.length > 0" style=" font-weight: bolder; font-size: 12px; background-color: #e1e1e1; padding: 4px; border-radius: 5px; color: #28a745; ">
            当前页:
            <button class="pageButton" v-bind:class="nowPage == 1? 'pageButtonEnter' :''" v-on:click="changePage(1)">第1页</button>
            <button class="pageButton" v-bind:class="nowPage == 2? 'pageButtonEnter' :''" v-on:click="changePage(2)">第2页</button>
            <button class="pageButton" v-bind:class="nowPage == 3? 'pageButtonEnter' :''" v-on:click="changePage(3)">第3页</button>
        </div>
        <div style="clear: both;"></div>
        <div>
            <div v-is="'script'" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></div>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="8184218337"></ins>
            <div v-is="'script'">
                (adsbygoogle = window.adsbygoogle || []).push({});
            </div>
        </div>
        <hr />
        <ul class="nav nav-tabs" style="border-color: #5cb85c;">
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 1;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 1 ? 'selectTabActive' : ''">使用声明</a></li>
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 2;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 2 ? 'selectTabActive' : ''">帮助</a></li>
        </ul>
        <div v-show="selectTab == 2" class="divItem" style="padding:0px;">
            <ul class="list-group">
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        鼠标右键点击分集，可以在新窗口打开播放.
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        搜索资源技巧请参阅<a target="_blank" href="/Html/SearchTold.html">搜索完全指南</a>
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        <a href="#" v-on:click="fk()" ><i class="bi bi-patch-question"></i>意见/留言/视频举报/bug反馈</a>
                    </div>
                </li>
            </ul>
        </div>

        <div v-show="selectTab == 1" class="divItem">
            <p>
                使用本服务表示您已明白：
            </p>
            <p>
                1.本应用仅作为视频搜索引擎工具，搜索结果均从互联网自动生成，本应用不参与任何 制作，发布，上传，存储。
            </p>
            <p>
                2.本应用完全免费，也不售卖任何服务,视频归原网站所有。如不慎侵犯您的著作权，请及时联系管理员删除
            </p>
            <p>
                3.我们已经屏蔽了可能的有害内容。如果发现搜索结果中存在有害内容，请及时联系管理员屏蔽相关的关键字
            </p>
            <p>
                4.本应用没有在视频内容中添加任何推广信息，亦无法屏蔽。切勿相信视频播放中出现的广告，以免对您造成损失！
            </p>
        </div>
    </div>
</div>


<div id="JxDiv" style="z-index: 999; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none; background-color: black;">
    <div style="background: black; color: white;">
        <div v-on:click="back()" style="background-color: red; position:absolute;z-index:22;padding:7px;">
            返回剧集
        </div>
        <div style="text-align: center; padding: 7px 0px; white-space: nowrap;overflow:hidden;">{{title}}</div>
    </div>
    <div onclick="$(this).hide()" id="JxDiv_loading" style="z-index: 2; position: fixed; left: 0px; top: 20%; right: 0px; text-align: center; color: white; font-size: 1.4rem; ">
        <span class="badge badge-success">正在加载播放器,请稍等...</span>
    </div>
    <div style=" width: 100%;background-color: rgb(69, 69, 69); position: fixed; top: 38px; bottom: 0; left: 0px; right: 0;">
        <iframe onload="$('#JxDiv_loading').hide()" sandbox='allow-scripts allow-same-origin' frameborder="0" border="0" scrolling="no" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowtransparency="true" style="width:100%;height:100%;background-color:#454545;"
                :src="url"></iframe>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您没有播放权限</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                原因是:系统判断不适合播放
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" onclick="app.showAll = true; $('.nowSelectItem').click();" style="position: absolute; left: 20px; color: blue;">判断有误?</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕知道了</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertFk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">反馈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="marks">搜索词:</p>
                <input id="fkSearch" type="text" class="form-control" />
                <p class="marks">描述:</p>
                <textarea id="fkText" class="form-control marksText" style="width:100%;height:200px;" placeholder="这搜的什么玩意儿。&#10;&#10;播放器错误请填写：&#10;操作系统：？？&#10;浏览器名字：？？" maxlength="150"></textarea>
                <a></a>
            </div>
            <div class="modal-footer">
                <a style="color: blue; left: 13px; position: absolute;">播放器错误反馈QQ：2847046608</a>
                <button type="button" onclick='fetch(`/player/feedback?t=${$("#fkSearch").val()}&b=${$("#fkText").val()}`);alert("收到了，谢谢")' class="btn btn-primary" data-dismiss="modal">提交留言</button>
            </div>
        </div>
    </div>
</div>


    
    <script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>


    
<script>
    var _0x4bb6 = ['tooltip', '.fullShow', 'searchCode', '拦截了播放：', '.rowpb', 'mass', 'nowPage', '#JxDiv_loading', 'indexOf', 'hide', 'createApp', 'origin', 'json', 'initialized', '不能删除sojson.v5', '0x0', '0x5', '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>', '#fkText', 'showChild', 'tips', '波多野结衣', 'newWindow?tk=', 'href', 'Name', 'length', 'fromCharCode', '#alertFk', '.loading', 'animate__', 'null', 'getPlayer?url=', 'webkitAnimationEnd\x20mozAnimationEnd\x20MSAnimationEnd\x20oanimationend\x20animationend', 'http', 'webkitIsFullScreen', 'webkitExitFullscreen', 'css', '本次搜索被取消，请稍后再试...', '#fkSearch', 'searchCodeUserList', 'title', '#app', 'w5TCvMKeKcOa', 'body', 'mozCancelFullScreen', '请输入搜索名称...', '0x1', 'show', 'nowSelectItem', 'once', 'undefined', 'oncontextmenu', 'data', '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#0a9c0a;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22通常速度较快\x22>快</span>', '/player/getplayer?url=', 'toString', 'modal', 'isFullScreen', 'Data', 'obj', '#JxDiv', '/player/getSource', '性行为', '0.2s', 'charCodeAt', 'exitFullscreen', 'mount', 'webkitRequestFullscreen', 'toLowerCase', 'log', 'reBindLiuDo', 'val', 'one', 'addClass', 'searchList', 'reBindLiu', 'sojson.v5', 'animate__animated', 'oIFMo', '#alertModal', 'requestFullscreen', 'w5PCkGfCpQ==', '0x3', 'url', 'backOutRight', '!Gs$', 'open', '[data-toggle=\x22tooltip\x22]', 'openUrl', 'Player', '正在搜索\x22', 'opacity', 'ru66', 'autoPlayNext', 'mozRequestFullScreen', 'w47CkmvCsMKC', 'videoFullPage', 'msRequestFullscreen', 'showLight3', '\x22...<span\x20class=\x22glyphicon\x20glyphicon-refresh\x20trans\x22></span>', '/player/VjsPlayer?url=', 'Describe', 'rc4', 'ismy', 'oTZo']; var _0x2bda = function (_0x4bb6d0, _0x2bda05) { _0x4bb6d0 = _0x4bb6d0 - 0x0; var _0x2b6dd2 = _0x4bb6[_0x4bb6d0]; return _0x2b6dd2; }; var jxApp = Vue[_0x2bda('0xa')]({ 'data'() { return { 'url': '', 'title': '' }; }, 'methods': { 'back'() { jxApp['url'] = ''; $('#JxDiv')['animateCss'](_0x2bda('0x54')); }, 'open'(_0xdef78a, _0x110b1e) { if ((_0xdef78a['Player'] || '')[_0x2bda('0x8')](_0x2bda('0x68')) != -0x1) { window['open'](_0xdef78a['Player'] + _0xdef78a[_0x2bda('0x3a')][_0x110b1e]['S']); return; } if (_0xdef78a[_0x2bda('0x3a')][_0x110b1e]['S']['indexOf'](_0x2bda('0x4e')) != -0x1) { jxApp[_0x2bda('0x58')](_0xdef78a['Data'][_0x110b1e]['S'], _0xdef78a[_0x2bda('0x18')] + _0xdef78a[_0x2bda('0x3a')][_0x110b1e]['N']); return; } jxApp[_0x2bda('0x58')](_0xdef78a['Player'] + _0xdef78a[_0x2bda('0x3a')][_0x110b1e]['S'], _0xdef78a[_0x2bda('0x18')] + _0xdef78a[_0x2bda('0x3a')][_0x110b1e]['N']); }, 'openUrl'(_0x385d95, _0x569948) { $(_0x2bda('0x7'))['show'](); jxApp[_0x2bda('0x53')] = _0x385d95; jxApp[_0x2bda('0x28')] = _0x569948; $('#JxDiv')['animateCss']('fadeIn'); } }, 'mounted'() { $(_0x2bda('0x1c'))[_0x2bda('0x9')](); } })[_0x2bda('0x42')](_0x2bda('0x3c')); var app = Vue['createApp']({ 'data'() { return { 'searchList': [], 'showLight3': localStorage[_0x2bda('0x62')] == 't', 'nowSelectItem': { 'obj': {}, 'ind': 0x0, 'cdn': ![] }, 'tips': _0x2bda('0x2d'), 'textTrackTime': 0x0, 'searchCode': '', 'searchCodeUser': '', 'searchCodeUserList': [], 'adadress': '', 'selectTab': 0x1, 'addSeppd': 0xa, 'showAll': ![], 'autoPlayNext': localStorage[_0x2bda('0x5d')] == 'f' ? ![] : !![], 'speedModel': 0x0, 'nowPage': 0x1 }; }, 'methods': { 'changePage'(_0x42df77) { if (_0x42df77 == app['nowPage']) { return; } app[_0x2bda('0x6')] = _0x42df77; app['search'](app[_0x2bda('0x2')], _0x42df77); }, 'fk'() { $(_0x2bda('0x26'))[_0x2bda('0x47')](app['searchCode']); $(_0x2bda('0x12'))[_0x2bda('0x47')](''); $(_0x2bda('0x1b'))[_0x2bda('0x38')]({}); }, 'newWindow'(_0x1f0de2, _0x146e25, _0x4e40b9) { _0x4e40b9 == null ? _0x4e40b9 = _0x2bda('0x1f') : ''; _url = _0x4e40b9 + _0x146e25 + '|' + _0x1f0de2 + '|' + new Date()['getTime'](); var _0x274660 = btoa(encodeURI(_url)); window['open'](_0x2bda('0x16') + _0x274660); }, 'StrToHtml'(_0x223373) { var _0x52ff51 = ''; if (!!!_0x223373) { return ''; } var _0x195376 = _0x223373['split']('\x20'); for (var _0x5232f8 = 0x0; _0x5232f8 < _0x195376[_0x2bda('0x19')]; _0x5232f8++) { if (_0x195376[_0x5232f8] == '4k') { _0x52ff51 += _0x2bda('0x11'); } if (_0x195376[_0x5232f8] == 'hd') { _0x52ff51 += '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22高清线\x22>HD</span>'; } if (_0x195376[_0x5232f8] == 's1') { _0x52ff51 += _0x2bda('0x35'); } if (_0x195376[_0x5232f8] == 's3') { _0x52ff51 += '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#10647c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22部分地区访问较慢，但可以播放，请自行测试\x22>慢</span>'; } } return _0x52ff51; }, 'clickOne'(_0x135f13, _0xc5e68) { app['loadObj'](_0x135f13, _0xc5e68, !![]); }, 'loadObj'(_0x57405e, _0x105f6f, _0x1c39fa, _0x27a5b4) { app[_0x2bda('0x30')] = { 'obj': _0x57405e, 'ind': _0x105f6f, 'cdn': _0x27a5b4 }; if (!app['showAll']) { if ((_0x57405e['Describe'] || '')['toLowerCase']()[_0x2bda('0x8')]('av') != -0x1 || _0x57405e['Describe']['indexOf']('伦理') != -0x1 || _0x57405e[_0x2bda('0x65')][_0x2bda('0x8')]('性感') != -0x1 || _0x57405e['Describe']['indexOf']('美女') != -0x1) { $(_0x2bda('0x4f'))[_0x2bda('0x38')]({}); console[_0x2bda('0x45')](_0x2bda('0x3')); console[_0x2bda('0x45')](_0x57405e[_0x2bda('0x3a')][_0x105f6f]['S']); return ![]; } var _0x34b8a2 = ['乱伦', '手淫', _0x2bda('0x3e'), _0x2bda('0x15'), '性女', '淫水', '金瓶梅', '高清无码']; for (var _0x46acc5 = 0x0; _0x46acc5 < _0x34b8a2[_0x2bda('0x19')]; _0x46acc5++) { if (_0x57405e['Name']['indexOf'](_0x34b8a2[_0x46acc5]) != -0x1) { $('#alertModal')[_0x2bda('0x38')]({}); console[_0x2bda('0x45')]('拦截了播放：'); console[_0x2bda('0x45')](_0x57405e['Data'][_0x105f6f]['S']); return ![]; } } } document[_0x2bda('0x28')] = app['nowSelectItem'][_0x2bda('0x3b')]['Name'] + '-' + app[_0x2bda('0x30')][_0x2bda('0x3b')][_0x2bda('0x3a')][app['nowSelectItem']['ind']]['N']; _0x57405e['Player'] = _0x57405e[_0x2bda('0x59')] || _0x2bda('0x64'); jxApp[_0x2bda('0x56')](_0x57405e, _0x105f6f); }, 'reBindLiu'() { app['reBindLiuDo'](); setTimeout(function () { app[_0x2bda('0x46')](); }, 0x64); setTimeout(function () { app['reBindLiuDo'](); }, 0x12c); }, 'reBindLiuDo'() { if ($('.rowpbbody')[_0x2bda('0x19')] == 0x0) { return; } if (window['mass']) { window['mass']['reloadItems'](); window[_0x2bda('0x5')]['layout'](); } else { window['mass'] = new Masonry(document['querySelector'](_0x2bda('0x4')), { 'transitionDuration': _0x2bda('0x3f'), 'resize': !![], 'initLayout': ![], 'stagger': 0x0, 'itemSelector': '.rowpbbody' }); } }, 'cqsClick'() { FullScreen(document[_0x2bda('0x2b')]); $('.vjs-control-bar')['css'](_0x2bda('0x5b'), '0'); setTimeout(function () { $('.vjs-control-bar')[_0x2bda('0x24')](_0x2bda('0x5b'), ''); }, 0xbb8); }, 'userInputSearch'(_0x3dbaa1) { var _0x1e00b7 = getQueryVariable('poster'); var _0x2a6e27 = ''; if (_0x1e00b7 != '') { _0x2a6e27 += '&poster=' + _0x1e00b7; } location['href'] = location['origin'] + (_0x2bda('0x36') + _0x3dbaa1 + _0x2a6e27); }, 'search'(_0xfbf2e7, _0x288b6d) { app['searchCodeUser'] = ''; if (_0xfbf2e7[_0x2bda('0x44')]()[_0x2bda('0x8')](_0x2bda('0x1e')) != -0x1) { return; } if (_0xfbf2e7[_0x2bda('0x44')]()[_0x2bda('0x8')](_0x2bda('0x21')) != -0x1) { location[_0x2bda('0x17')] = location[_0x2bda('0xb')] + '/player/getplayer?url=' + _0xfbf2e7; return; } app[_0x2bda('0x2')] = _0xfbf2e7; app[_0x2bda('0x4a')] = []; app['tips'] = _0x2bda('0x5a') + _0xfbf2e7 + _0x2bda('0x63'); var _0x375beb = new Date()['getTime'](); var _0x5637cf = randomStr(![], 0x9, 0x9); $['ajax']({ 'headers': { 'token': gettoken(_0x375beb, _0x5637cf), 't': _0x375beb, 'k': _0x5637cf }, 'type': 'GET', 'url': _0x2bda('0x3d'), 'data': { 'name': _0xfbf2e7, 'pg': _0x288b6d || 0x1 }, 'success': function (_0x5593a5, _0x3c7438) { if (app) { app[_0x2bda('0x14')] = ''; if (_0x5593a5[_0x2bda('0x19')] == 0x0) { app['tips'] = '未找到叫《' + _0xfbf2e7 + '》的影片.请尝试精简关键字.</br><a\x20href=\x22/Html/SearchTold.html\x22\x20target=\x22_blank\x22\x20style=\x22font-size:\x2020px;\x22>《搜索完全指南》</a>'; } else { for (var _0x44f92d = 0x0; _0x44f92d < _0x5593a5['length']; _0x44f92d++) { if (_0x5593a5[_0x44f92d][_0x2bda('0x3a')][_0x2bda('0x19')] > 0x4) { _0x5593a5[_0x44f92d][_0x2bda('0x13')] = ![]; } else { _0x5593a5[_0x44f92d]['showChild'] = !![]; } } app[_0x2bda('0x4a')] = _0x5593a5; } } setTimeout(function () { $(_0x2bda('0x57'))[_0x2bda('0x0')](); }, 0x64); }, 'error': function () { app['tips'] = _0x2bda('0x25'); }, 'dataType': 'json' }); } }, 'filters': { 'noTip': function (_0x2e4ac7) { if (!_0x2e4ac7) { _0x2e4ac7 = '暂无'; } return _0x2e4ac7; } }, 'watch': { 'autoPlayNext'(_0x186ae2) { if (_0x186ae2) { localStorage['autoPlayNext'] = 't'; } else { localStorage[_0x2bda('0x5d')] = 'f'; } }, 'showLight3'(_0x2ec2eb) { if (_0x2ec2eb) { localStorage[_0x2bda('0x62')] = 't'; } else { localStorage['showLight3'] = 'f'; } }, 'searchCodeUser'(_0x2d2790) { if (_0x2d2790['trim']() == '' || _0x2d2790['indexOf'](_0x2bda('0x21')) != -0x1) { app[_0x2bda('0x27')] = []; return; } fetch('/player/getListForCode/' + _0x2d2790)['then'](_0x4523ba => _0x4523ba[_0x2bda('0xc')]())['then'](_0xc51f59 => { app[_0x2bda('0x27')] = _0xc51f59; }); }, 'searchList'(_0x447468) { app[_0x2bda('0x4b')](); $('#realY')['animate']({ 'scrollTop': 0x0 }, 0xc8); } } })[_0x2bda('0x42')](_0x2bda('0x29')); var encode_version = 'sojson.v5', jxalo = '__0x7c489', __0x7c489 = ['TcOIwptiw5TCu8Odw6TCkA==', 'w6tYMsKFQg==', _0x2bda('0x51'), 'O8O5JcO5w7A=', _0x2bda('0x5f'), _0x2bda('0x2a')]; (function (_0x38f961, _0x19f748) { var _0x898b77 = function (_0x34929e) { while (--_0x34929e) { _0x38f961['push'](_0x38f961['shift']()); } }; _0x898b77(++_0x19f748); }(__0x7c489, 0x98)); var _0x1066 = function (_0x3f5a4d, _0x578954) { _0x3f5a4d = _0x3f5a4d - 0x0; var _0x111a20 = __0x7c489[_0x3f5a4d]; if (_0x1066[_0x2bda('0xd')] === undefined) { (function () { var _0x5cf077 = typeof window !== _0x2bda('0x32') ? window : typeof process === 'object' && typeof require === 'function' && typeof global === 'object' ? global : this; var _0xda80e6 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/='; _0x5cf077['atob'] || (_0x5cf077['atob'] = function (_0x47cd0b) { var _0x564b83 = String(_0x47cd0b)['replace'](/=+$/, ''); for (var _0x27009a = 0x0, _0x46bb09, _0x37cd9b, _0x253b4a = 0x0, _0x32b9e1 = ''; _0x37cd9b = _0x564b83['charAt'](_0x253b4a++); ~_0x37cd9b && (_0x46bb09 = _0x27009a % 0x4 ? _0x46bb09 * 0x40 + _0x37cd9b : _0x37cd9b, _0x27009a++ % 0x4) ? _0x32b9e1 += String[_0x2bda('0x1a')](0xff & _0x46bb09 >> (-0x2 * _0x27009a & 0x6)) : 0x0) { _0x37cd9b = _0xda80e6[_0x2bda('0x8')](_0x37cd9b); } return _0x32b9e1; }); }()); var _0x262fbd = function (_0x4ed08a, _0x979e6e) { var _0x2b9c27 = [], _0x1731ff = 0x0, _0x1e213a, _0x427481 = '', _0x3be3e9 = ''; _0x4ed08a = atob(_0x4ed08a); for (var _0x3a8785 = 0x0, _0x4658e6 = _0x4ed08a[_0x2bda('0x19')]; _0x3a8785 < _0x4658e6; _0x3a8785++) { _0x3be3e9 += '%' + ('00' + _0x4ed08a['charCodeAt'](_0x3a8785)[_0x2bda('0x37')](0x10))['slice'](-0x2); } _0x4ed08a = decodeURIComponent(_0x3be3e9); for (var _0x3323e8 = 0x0; _0x3323e8 < 0x100; _0x3323e8++) { _0x2b9c27[_0x3323e8] = _0x3323e8; } for (_0x3323e8 = 0x0; _0x3323e8 < 0x100; _0x3323e8++) { _0x1731ff = (_0x1731ff + _0x2b9c27[_0x3323e8] + _0x979e6e[_0x2bda('0x40')](_0x3323e8 % _0x979e6e[_0x2bda('0x19')])) % 0x100; _0x1e213a = _0x2b9c27[_0x3323e8]; _0x2b9c27[_0x3323e8] = _0x2b9c27[_0x1731ff]; _0x2b9c27[_0x1731ff] = _0x1e213a; } _0x3323e8 = 0x0; _0x1731ff = 0x0; for (var _0x3cf622 = 0x0; _0x3cf622 < _0x4ed08a[_0x2bda('0x19')]; _0x3cf622++) { _0x3323e8 = (_0x3323e8 + 0x1) % 0x100; _0x1731ff = (_0x1731ff + _0x2b9c27[_0x3323e8]) % 0x100; _0x1e213a = _0x2b9c27[_0x3323e8]; _0x2b9c27[_0x3323e8] = _0x2b9c27[_0x1731ff]; _0x2b9c27[_0x1731ff] = _0x1e213a; _0x427481 += String[_0x2bda('0x1a')](_0x4ed08a['charCodeAt'](_0x3cf622) ^ _0x2b9c27[(_0x2b9c27[_0x3323e8] + _0x2b9c27[_0x1731ff]) % 0x100]); } return _0x427481; }; _0x1066['rc4'] = _0x262fbd; _0x1066['data'] = {}; _0x1066[_0x2bda('0xd')] = !![]; } var _0x37a75c = _0x1066[_0x2bda('0x34')][_0x3f5a4d]; if (_0x37a75c === undefined) { if (_0x1066[_0x2bda('0x31')] === undefined) { _0x1066['once'] = !![]; } _0x111a20 = _0x1066[_0x2bda('0x66')](_0x111a20, _0x578954); _0x1066['data'][_0x3f5a4d] = _0x111a20; } else { _0x111a20 = _0x37a75c; } return _0x111a20; }; function gettoken(_0x2e9f38, _0x2897c0) { var _0xbafc1d = { 'iZNRF': function _0x5e5df7(_0x177cec, _0x557c60) { return _0x177cec + _0x557c60; }, 'tqapo': _0x1066(_0x2bda('0xf'), _0x2bda('0x5c')), 'fMMcg': function _0x1ee758(_0x4255a7, _0x5f5253) { return _0x4255a7(_0x5f5253); } }; var _0x170d11 = _0xbafc1d[_0x1066(_0x2bda('0x2e'), 'N*HY')](_0xbafc1d[_0x1066('0x2', 'ru66')], _0x2e9f38) + _0x2897c0; return _0xbafc1d[_0x1066(_0x2bda('0x52'), 'F3ep')](md5, _0x170d11); }; if (!(typeof encode_version !== _0x1066('0x4', _0x2bda('0x55')) && encode_version === 'sojson.v5')) { window[_0x1066(_0x2bda('0x10'), 'VOxW')](_0x2bda('0xe')); }; encode_version = _0x2bda('0x4c'); (function () { if (getQueryVariable('ismy')) { app[_0x2bda('0x67')] = !![]; } var _0x380fb2 = decodeURI(getQueryVariable(_0x2bda('0x53')))['toLowerCase'](); if (_0x380fb2 && _0x380fb2['indexOf']('.m3u8') == -0x1) { app['search'](decodeURI(getQueryVariable('url'))); } if (decodeURI(getQueryVariable('adadress'))) { app['adadress'] = decodeURI(getQueryVariable('adadress')); } }()); window[_0x2bda('0x33')] = function (_0x2d4e57) { _0x2d4e57['preventDefault'](); app[_0x2bda('0x4b')](); }; function FullScreen(_0x1bad8e) { var _0x16384f = document['fullScreen'] || document['mozFullScreen'] || document[_0x2bda('0x22')]; if (!_0x16384f) { _0x1bad8e[_0x2bda('0x50')] && _0x1bad8e['requestFullscreen']() || _0x1bad8e[_0x2bda('0x5e')] && _0x1bad8e[_0x2bda('0x5e')]() || _0x1bad8e['webkitRequestFullscreen'] && _0x1bad8e[_0x2bda('0x43')]() || _0x1bad8e[_0x2bda('0x61')] && _0x1bad8e[_0x2bda('0x61')](); } else { document[_0x2bda('0x41')] ? document[_0x2bda('0x41')]() : document['mozCancelFullScreen'] ? document['mozCancelFullScreen']() : document[_0x2bda('0x23')] ? document['webkitExitFullscreen']() : ''; } } function ExitFullScreen() { try { document['exitFullscreen'] ? document['exitFullscreen']() : ''; document[_0x2bda('0x2c')] ? document['mozCancelFullScreen']() : ''; document[_0x2bda('0x23')] ? document[_0x2bda('0x23')]() : ''; } catch (_0x3c4d28) { } } setInterval(function () { if (document[_0x2bda('0x39')] || document['mozIsFullScreen'] || document[_0x2bda('0x22')]) { $(_0x2bda('0x1'))['show'](); $('.video-js')['addClass'](_0x2bda('0x60')); } else { $('.fullShow')[_0x2bda('0x9')](); $('.video-js')['removeClass']('videoFullPage'); } }, 0x1f4); function onresize2() { app[_0x2bda('0x4b')](); } onresize2(); window['onresize'] = function () { onresize2(); }; setTimeout(function () { $(_0x2bda('0x57'))['tooltip'](); }, 0x64); (function (_0x158d50) { _0x158d50['fn']['extend']({ 'animateCss': function (_0x272af0, _0x47d75b) { var _0x297cca = this; _0x158d50(_0x297cca)['addClass'](_0x2bda('0x4d')); _0x158d50(_0x297cca)[_0x2bda('0x49')](_0x2bda('0x1d') + _0x272af0); if (_0x272af0['indexOf']('In') != -0x1) { _0x158d50(_0x297cca)[_0x2bda('0x2f')](); } var _0x5a8b25 = _0x2bda('0x20'); _0x158d50(_0x297cca)[_0x2bda('0x48')](_0x5a8b25, function () { _0x158d50(_0x297cca)['removeClass'](_0x2bda('0x1d') + _0x272af0); if (_0x47d75b) _0x47d75b(); if (_0x272af0['indexOf']('Out') != -0x1) { _0x158d50(_0x297cca)[_0x2bda('0x9')](); } }); } }); }(jQuery));
</script>


    
    


    <!-- 谷歌统计Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154955960-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154955960-1');
    </script>

    <div style="display:none;">
        <!--cnzz统计-->
        <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279848754&web_id=1279848754"></script>
    </div>
    <!--谷歌AD-->
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
            crossorigin="anonymous"></script>

</body>
</html>