
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="邦宁云播,邦宁云视频,vip视频解析,vip视频在线解析,vip解析,万能vip视频解析,vip视频全能解析,vip视频,手机vip视频解析,手机在线解析vip视频,优酷vip解析,爱奇艺vip解析,腾讯vip解析,乐视vip解析,芒果vip解析">
    <meta name="Description" content="全网最全的视频资源 更新最快 免费在线播放.最新资源观看,哪里可以看最新的电影电视剧，">
    <meta name="keywords" />
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            alert("抱歉！本网站不兼容IE浏览器，建议更换现代浏览器使用，比如Chrome浏览器等");
        }
        if (location.href.toLowerCase().indexOf("ihelpy") != -1) {
            alert("本站已启用新域名video.isYour.Love,请修改收藏页面，即将跳转...");
            location.href = "https://video.isyour.love";
        } else {
            //启用https
            if (location.href.toLowerCase().indexOf("https") != 0 && location.href.toLowerCase().indexOf("localhost") == -1 && location.href.search(/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/) == -1) {
                location.href = "https" + location.href.substring(4)
            }
        }
    </script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

    <script src="https://cdn.staticfile.org/vue/3.0.11/vue.global.js"></script>
    <!--引用bootstrap图标库css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css">

    <script src="https://videocdn.isyour.love/videoSite/Js/Tools.js"></script>
    <style>
        body {
            background-image: url(https://videocdn.isyour.love/videoSite/Image/bg.png);
        }
    </style>
    
    <meta name="referer" content="never" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flexbody {
        }

        .cqsTxt {
            font-size: 1.4rem !important;
        }

        .tooltip {
            z-index: 999999 !important;
            position: fixed !important;
        }

        .bi {
            font-size: 0.9rem;
        }
        /*       .biMiddle {
            vertical-align: middle;
        }*/

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .dmBarbutton {
            flex: auto !important;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            background-color: black;
            min-height: 100%;
        }

        .fullHeight {
            height: 100%;
            pointer-events: none;
        }

        .searchitem {
            margin: 0px 0px 6px 0px;
            background-color: white;
            border-radius: 7px;
        }

        .searchItems {
            border-radius: 2px;
            padding: 6px 7px;
            margin: 4px 3px;
            font-size: 14px;
            float: left;
            cursor: pointer;
            color: #ffffff;
            background-color: #526668;
        }

        select {
            background-color: black !important;
        }


        .trans {
            border-radius: 50%;
            overflow: hidden;
            animation: rotate 1.5s linear infinite;
        }

        .nowSelectItem {
            background-color: #ff5200 !important;
            box-shadow: inset 0 0 4px 0px black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        .list-group-item {
            cursor: pointer;
        }

        button {
            outline: none !important;
        }

        .videoFullPage {
            height: 70% !important;
            width: 100% !important;
            margin: 0px auto;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px; /*滚动条宽度*/
            height: 16px; /*滚动条高度*/
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px; /*滚动条的背景区域的圆角*/
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px; /*滚动条的圆角*/
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        }

        .selectTabActive {
            border-radius: 5px 5px 0px 0px;
            position: relative !important;
            bottom: -2px;
            border: 1px solid;
            border-color: #5cb85c !important;
            z-index: 3;
            border-bottom-color: transparent !important;
            background-color: white;
        }

        #userMark i {
            font-size: 1.2rem;
            position: relative;
            top: 1px;
        }


        .divItem {
            padding: 10px;
            min-height: 150px;
            padding: 10px;
            border: 1px solid #5cb85c;
            border-top: 0px;
            margin-bottom: 10px;
            background-color: white;
            color: #585858;
        }

        hr {
            margin: 10px 0px;
        }

        .popover {
            color: black;
        }

        .pageButton {
            border-radius: 4px !important;
            padding: 3px !important;
            margin-left: 5px !important;
            padding: 5px !important;
            color: green;
            border: 1px solid;
        }

        .pageButtonEnter {
            background-color: green !important;
            color: white !important;
        }
    </style>
    <style>
        .vjs-control-bar {
            font-size: 15px;
            background-color: transparent !important;
            z-index: 11;
        }

        .vjs-button {
            width: 3em !important;
        }

        .vjs-poster, video {
            outline: none;
        }

        /*.vjs-progress-control {
                position: absolute !important;
                width: 100% !important;
                display: block !important;
                height: auto !important;
                z-index: 3 !important;
                top: -4px !important;
            }*/
    </style>

    
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    <script src="https://cdn.staticfile.org/blueimp-md5/2.13.0/js/md5.min.js"></script>




    <title>邦宁云播播放器 - ⎛⎝邦宁云播⎠⎞</title>
</head>
<body>
    




<div id="app" style="font-size: 14px; pointer-events:all; position:absolute;left:0;right:0;top:2px;bottom:2px;border-radius:10px;z-index:3;background-color: rgb(249, 250, 251);color:#a9a9a9;margin:0px 2px;">
    <div class="v-cloak" id="realY" style="background-image: url(https://videocdn.isyour.love/videoSite/Image/bg.png); background-attachment: local; padding-left:7px; position: absolute; left: 0px; right: 1px; top: 3px; border-radius: 10px; bottom: 20px; overflow-y: auto; padding-right: 5px;">
        <div>
            <div style="margin-top: 5px; color: black; font-size: 18px;float: left; margin-right: 10px;">
                <i :style="{'color':showAll ? 'red':''}" v-on:click="showAll= !showAll;" class="bi bi-bullseye" style="font-size:1.2rem;"></i>
                <span style="color: red;display:none;" v-show="showAll">【测试模式】</span>当前播放列表:
            </div>
            <div style="line-height: 17px; padding: 6px 6px 6px 0px; font-size: 17px; overflow: auto; float: left;">
                <a v-on:click="fk()"><span class="badge badge-success">搜索结果不满意</span></a>
            </div>
        </div>

        
        <div class="input-group input-group-sm" style=" border: 1px solid #1e7e34; border-radius: 5px;">
            <input style="border: 0px;" v-model="searchCodeUser" type="text" class="form-control" autocomplete="off" placeholder="请输入 影片名称 或 播放地址 搜索结果由互联网自动聚合生成,请勿相信视频内容中的广告" name="id" v-on:keyup.enter="userInputSearch(searchCodeUser)" />
            <span class="input-group-btn">
                <button class="btn btn-success" style="font-size: 14px; margin: -1px !important; background-color: #5cb85c; line-height: 1.42857143; border: 1px solid transparent; color: white;" onclick="app.userInputSearch(app.searchCodeUser); return false;">搜 索</button>
            </span>
        </div>
        <div v-show="searchCodeUserList.length > 0" style="padding: 5px 5px 10px 5px; background-color: white; position: absolute; z-index: 4; left: 10px; right: 10px; color: black; border: 1px solid #1e7e34; border-top: 0px; border-radius: 0px 0px 5px 5px; overflow: hidden; ">
            <div v-for="i in searchCodeUserList" v-on:click="userInputSearch(i)" style=" font-size: 1rem; margin: 4px;" class="badge badge-dark">{{i}}</div>
        </div>
        
        <div class="loading" style="z-index: 9999; position: absolute; top: 55px; bottom: 0px; left: 0px; right: 0px; color: #1e7e34; background-color: white; padding-top: 70px; padding-left: 10px; font-size: 1.5rem; ">
            <p><i style="font-size: 2rem; color: black;" class="bi bi-hourglass"></i>请稍等</p>
            <p>正在加载播放器...</p>
        </div>
        <div style="height: 120px;">
            <div v-is="'script'" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></div>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fl+5z+3v-d0+94"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="9497300006"></ins>
            <div v-is="'script'">
                (adsbygoogle = window.adsbygoogle || []).push({});
            </div>
        </div>

        <iframe v-if="adadress"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width: 100%; border-radius: 10px 10px 10px 10px;margin-top: 2px;height:100px;"
                v-bind:src="adadress"></iframe>
        <div style="color:#d03d3d;font-weight: 600;padding: 10px 0px 20px 0px;" v-show="tips.length!=0" v-html="tips"></div>
        <div class="row rowpb" style="margin-left: -2px; margin-right: -3px;margin-top:4px;">
            <div class="rowpbbody col-xs-12 col-sm-6 col-md-6 col-lg-4" v-for="(items,ind) in searchList" style="padding:0px 2px;">
                <div v-show="showLight3 || (items.light!=3)" class="searchitem" style="border: 1px solid rgb(197 197 197); box-shadow: 0 0 4px 0px #767676;">
                    <div style="font-size: 16px;border-bottom: 1px solid rgb(226, 226, 226);position: relative;">
                        <div style="overflow: hidden;position: absolute; bottom: 2px; top: 2px; left: 3px; width: 73px; background-size: 100% 100%; background-color: rgb(162 162 162); border-radius: 5px;">
                            <img :src="items.Img" referrerPolicy="no-referrer" style="width:100%;height:100%;" alt="海报" onerror="$(this).attr('src','https://videocdn.isyour.love/videoSite/Image/def.png')" />
                        </div>
                        <div style="padding: 3px;z-index: 10;overflow: hidden;margin-left: 77px;text-overflow: ellipsis;">
                            <div>
                                <span style="font-weight: 600;font-size:14px;color: #000000;">
                                    
                                    {{items.Name}}
                                    
                                    <span id="userMark" v-html="StrToHtml(items.UserMark)"></span>
                                </span>
                                <span class="videoId" :va="items.TypeId+'-'+items.VideoCode"  style="font-size:12px;color:#F06292;">({{items.TypeId}})</span>
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-person-circle"></i>
                                {{items.Actors}}
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-signpost-2"></i>
                                {{items.Describe}}
                            </div>
                            <div>
                                <span style="font-size: 13px;">
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到豆瓣查看或写影评" style="padding-left: 0px; background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://search.douban.com/movie/subject_search?search_text='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-star-half"></i>豆瓣
                                    </span>
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到百度百科查询相关资料" style="background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://baike.baidu.com/search?word='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-stickies"></i>百科
                                    </span>
                                    <span class="badge badge-light" title="搜索这部影片" style="background: transparent; color: #4077ad; cursor: pointer; " v-bind:txt="items.Name" onclick="app.userInputSearch($(this).attr('txt'))">
                                        <i class="bi biMiddle bi-search"></i>搜索本片
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding: 0px 5px;">
                        <div class="searchItems" v-show="items.showChild == false" v-on:click="items.showChild = !items.showChild;reBindLiu()">
                            <i class="bi bi-arrow-90deg-down"></i>
                            <span>点击查看共:{{items.Data.length}}集</span>
                        </div>
                        <div v-on:contextmenu.stop='newWindow(items.Name + "-" + items2.N,items2.S,items.Player)' v-on:click="clickOne(items,ind2)" v-show="items.showChild" v-for="(items2,ind2) in items.Data" class="searchItems" v-bind:class="{'nowSelectItem': nowSelectItem.obj == items &&  nowSelectItem.ind == ind2}">
                            <span>{{items2.N || "正片"}}</span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>
        <div v-show="searchList.length > 0" style=" font-weight: bolder; font-size: 12px; background-color: #e1e1e1; padding: 4px; border-radius: 5px; color: #28a745; ">
            当前页:
            <button class="pageButton" v-bind:class="nowPage == 1? 'pageButtonEnter' :''" v-on:click="changePage(1)">第1页</button>
            <button class="pageButton" v-bind:class="nowPage == 2? 'pageButtonEnter' :''" v-on:click="changePage(2)">第2页</button>
            <button class="pageButton" v-bind:class="nowPage == 3? 'pageButtonEnter' :''" v-on:click="changePage(3)">第3页</button>
        </div>
        <div style="clear: both;"></div>
        <div>
            <div v-is="'script'" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></div>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="8184218337"></ins>
            <div v-is="'script'">
                (adsbygoogle = window.adsbygoogle || []).push({});
            </div>
        </div>
        <hr />
        <ul class="nav nav-tabs" style="border-color: #5cb85c;">
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 1;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 1 ? 'selectTabActive' : ''">使用声明</a></li>
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 2;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 2 ? 'selectTabActive' : ''">帮助</a></li>
        </ul>
        <div v-show="selectTab == 2" class="divItem" style="padding:0px;">
            <ul class="list-group">
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        鼠标右键点击分集，可以在新窗口打开播放.
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        搜索资源技巧请参阅<a target="_blank" href="/Html/SearchTold.html">搜索完全指南</a>
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        <a href="#" v-on:click="fk()" ><i class="bi bi-patch-question"></i>意见/留言/视频举报/bug反馈</a>
                    </div>
                </li>
            </ul>
        </div>

        <div v-show="selectTab == 1" class="divItem">
            <p>
                使用本服务表示您已明白：
            </p>
            <p>
                1.本应用仅作为视频搜索引擎工具，搜索结果均从互联网自动生成，本应用不参与任何 制作，发布，上传，存储。
            </p>
            <p>
                2.本应用完全免费，也不售卖任何服务,视频归原网站所有。如不慎侵犯您的著作权，请及时联系管理员删除
            </p>
            <p>
                3.我们已经屏蔽了可能的有害内容。如果发现搜索结果中存在有害内容，请及时联系管理员屏蔽相关的关键字
            </p>
            <p>
                4.本应用没有在视频内容中添加任何推广信息，亦无法屏蔽。切勿相信视频播放中出现的广告，以免对您造成损失！
            </p>
        </div>
    </div>
</div>


<div id="JxDiv" style="z-index: 999; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none; background-color: black;">
    <div style="background: black; color: white;">
        <div v-on:click="back()" style="background-color: red; position:absolute;z-index:22;padding:7px;">
            返回剧集
        </div>
        <div style="text-align: center; padding: 7px 0px; white-space: nowrap;overflow:hidden;">{{title}}</div>
    </div>
    <div onclick="$(this).hide()" id="JxDiv_loading" style="z-index: 2; position: fixed; left: 0px; top: 20%; right: 0px; text-align: center; color: white; font-size: 1.4rem; ">
        <span class="badge badge-success">正在加载播放器,请稍等...</span>
    </div>
    <div style=" width: 100%;background-color: rgb(69, 69, 69); position: fixed; top: 38px; bottom: 0; left: 0px; right: 0;">
        <iframe onload="$('#JxDiv_loading').hide()" sandbox='allow-scripts allow-same-origin' frameborder="0" border="0" scrolling="no" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowtransparency="true" style="width:100%;height:100%;background-color:#454545;"
                :src="url"></iframe>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您没有播放权限</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                原因是:系统判断不适合播放
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" onclick="app.showAll = true; $('.nowSelectItem').click();" style="position: absolute; left: 20px; color: blue;">判断有误?</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕知道了</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertFk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">反馈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="marks">搜索词:</p>
                <input id="fkSearch" type="text" class="form-control" />
                <p class="marks">描述:</p>
                <textarea id="fkText" class="form-control marksText" style="width:100%;height:200px;" placeholder="这搜的什么玩意儿。&#10;&#10;播放器错误请填写：&#10;操作系统：？？&#10;浏览器名字：？？" maxlength="150"></textarea>
                <a></a>
            </div>
            <div class="modal-footer">
                <a style="color: blue; left: 13px; position: absolute;">播放器错误反馈QQ：2847046608</a>
                <button type="button" onclick='fetch(`/player/feedback?t=${$("#fkSearch").val()}&b=${$("#fkText").val()}`);alert("收到了，谢谢")' class="btn btn-primary" data-dismiss="modal">提交留言</button>
            </div>
        </div>
    </div>
</div>


    
    <script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>


    
<script>

    var _0x1785 = ['.fullShow', 'showLight3', 'animate__', 'isFullScreen', '波多野结衣', 'openUrl', 'requestFullscreen', '本次搜索被取消，请稍后再试...', 'reBindLiuDo', 'Out', '请输入搜索名称...', '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22高清线\x22>HD</span>', '#fkSearch', 'exitFullscreen', 'http', 'object', 'addClass', 'createApp', 'Data', 'title', '0x5', 'charCodeAt', '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#0a9c0a;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22通常速度较快\x22>快</span>', 'fromCharCode', 'w5TCvMKeKcOa', 'oncontextmenu', 'replace', '[data-toggle=\x22tooltip\x22]', 'url', '.video-js', 'searchList', 'mozFullScreen', 'mozCancelFullScreen', 'newWindow?tk=', '/player/getListForCode/', '0x0', 'loadObj', 'mount', 'layout', 'data', 'obj', '》的影片.请尝试精简关键字.</br><a\x20href=\x22/Html/SearchTold.html\x22\x20target=\x22_blank\x22\x20style=\x22font-size:\x2020px;\x22>《搜索完全指南》</a>', '性行为', 'videoFullPage', 'toLowerCase', 'Describe', '/player/getSource', 'Name', 'val', 'getTime', '#alertModal', 'searchCode', '金瓶梅', 'search', 'showChild', 'getPlayer?url=', 'O8O5JcO5w7A=', '不能删除sojson.v5', 'modal', '拦截了播放：', 'indexOf', 'F3ep', 'split', '#fkText', 'then', 'animate__animated', 'origin', 'body', 'showAll', 'w6tYMsKFQg==', '&poster=', 'open', 'backOutRight', 'onresize', 'tips', 'json', '.vjs-control-bar', 'href', 'ru66', 'show', 'mass', 'reBindLiu', 'tooltip', 'initialized', 'webkitExitFullscreen', '!Gs$', 'Actors', 'adadress', 'log', 'nowSelectItem', '高清无码', '.rowpbbody', 'removeClass', '0x2', 'rc4', 'Player', 'length', 'webkitIsFullScreen']; var _0x2d32 = function (_0x1785af, _0x2d3273) { _0x1785af = _0x1785af - 0x0; var _0x503b3e = _0x1785[_0x1785af]; return _0x503b3e; }; var jxApp = Vue['createApp']({ 'data'() { return { 'url': '', 'title': '' }; }, 'methods': { 'back'() { jxApp[_0x2d32('0x1c')] = ''; $('#JxDiv')['animateCss'](_0x2d32('0x48')); }, 'open'(_0x43d361, _0x40fb36) { if ((_0x43d361[_0x2d32('0x5f')] || '')['indexOf']('oTZo') != -0x1) { window['open'](_0x43d361[_0x2d32('0x5f')] + _0x43d361[_0x2d32('0x12')][_0x40fb36]['S']); return; } if (_0x43d361['Data'][_0x40fb36]['S'][_0x2d32('0x3c')]('oIFMo') != -0x1) { jxApp[_0x2d32('0x5')](_0x43d361['Data'][_0x40fb36]['S'], _0x43d361['Name'] + _0x43d361['Data'][_0x40fb36]['N']); return; } jxApp[_0x2d32('0x5')](_0x43d361['Player'] + _0x43d361['Data'][_0x40fb36]['S'], _0x43d361[_0x2d32('0x2f')] + _0x43d361['Data'][_0x40fb36]['N']); }, 'openUrl'(_0x49e658, _0x32ffb2) { $('#JxDiv_loading')[_0x2d32('0x4f')](); jxApp[_0x2d32('0x1c')] = _0x49e658; jxApp[_0x2d32('0x13')] = _0x32ffb2; $('#JxDiv')['animateCss']('fadeIn'); } }, 'mounted'() { $('.loading')['hide'](); } })[_0x2d32('0x25')]('#JxDiv'); var app = Vue[_0x2d32('0x11')]({ 'data'() { return { 'searchList': [], 'showLight3': localStorage[_0x2d32('0x1')] == 't', 'nowSelectItem': { 'obj': {}, 'ind': 0x0, 'cdn': ![] }, 'tips': _0x2d32('0xa'), 'textTrackTime': 0x0, 'searchCode': '', 'searchCodeUser': '', 'searchCodeUserList': [], 'adadress': '', 'selectTab': 0x1, 'addSeppd': 0xa, 'showAll': ![], 'autoPlayNext': localStorage['autoPlayNext'] == 'f' ? ![] : !![], 'speedModel': 0x0, 'nowPage': 0x1 }; }, 'methods': { 'changePage'(_0x2d98fb) { if (_0x2d98fb == app['nowPage']) { return; } app['nowPage'] = _0x2d98fb; app[_0x2d32('0x35')](app['searchCode'], _0x2d98fb); }, 'fk'() { $(_0x2d32('0xc'))['val'](app[_0x2d32('0x33')]); $(_0x2d32('0x3f'))[_0x2d32('0x30')](''); $('#alertFk')[_0x2d32('0x3a')]({}); }, 'newWindow'(_0x27728b, _0x46f725, _0x3110e3) { _0x3110e3 == null ? _0x3110e3 = _0x2d32('0x37') : ''; _url = _0x3110e3 + _0x46f725 + '|' + _0x27728b + '|' + new Date()[_0x2d32('0x31')](); var _0x4c7264 = btoa(encodeURI(_url)); window['open'](_0x2d32('0x21') + _0x4c7264); }, 'StrToHtml'(_0x3350ef) { var _0x10a361 = ''; if (!!!_0x3350ef) { return ''; } var _0x328cdd = _0x3350ef[_0x2d32('0x3e')]('\x20'); for (var _0x167662 = 0x0; _0x167662 < _0x328cdd['length']; _0x167662++) { if (_0x328cdd[_0x167662] == '4k') { _0x10a361 += '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>'; } if (_0x328cdd[_0x167662] == 'hd') { _0x10a361 += _0x2d32('0xb'); } if (_0x328cdd[_0x167662] == 's1') { _0x10a361 += _0x2d32('0x16'); } if (_0x328cdd[_0x167662] == 's3') { _0x10a361 += '<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#10647c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22部分地区访问较慢，但可以播放，请自行测试\x22>慢</span>'; } } return _0x10a361; }, 'clickOne'(_0x5200e8, _0x298344) { app[_0x2d32('0x24')](_0x5200e8, _0x298344, !![]); }, 'loadObj'(_0x5eb5be, _0x4a2418, _0xbb7d17, _0x1b48f2) { app['nowSelectItem'] = { 'obj': _0x5eb5be, 'ind': _0x4a2418, 'cdn': _0x1b48f2 }; if (!app[_0x2d32('0x44')]) { if ((_0x5eb5be['Describe'] || '')[_0x2d32('0x2c')]()[_0x2d32('0x3c')]('av') != -0x1 || _0x5eb5be['Describe']['indexOf']('伦理') != -0x1 || _0x5eb5be[_0x2d32('0x2d')][_0x2d32('0x3c')]('性感') != -0x1 || _0x5eb5be['Describe']['indexOf']('美女') != -0x1) { $('#alertModal')[_0x2d32('0x3a')]({}); console['log']('拦截了播放：'); console['log'](_0x5eb5be['Data'][_0x4a2418]['S']); return ![]; } var _0x2dbaa8 = ['乱伦', '手淫', _0x2d32('0x2a'), _0x2d32('0x4'), '性女', '淫水', _0x2d32('0x34'), _0x2d32('0x5a')]; for (var _0x13ec49 = 0x0; _0x13ec49 < _0x2dbaa8[_0x2d32('0x60')]; _0x13ec49++) { if (_0x5eb5be['Name']['indexOf'](_0x2dbaa8[_0x13ec49]) != -0x1) { $(_0x2d32('0x32'))[_0x2d32('0x3a')]({}); console['log'](_0x2d32('0x3b')); console[_0x2d32('0x58')](_0x5eb5be[_0x2d32('0x12')][_0x4a2418]['S']); return ![]; } } } document['title'] = app[_0x2d32('0x59')]['obj']['Name'] + '-' + app[_0x2d32('0x59')][_0x2d32('0x28')][_0x2d32('0x12')][app[_0x2d32('0x59')]['ind']]['N']; _0x5eb5be['Player'] = _0x5eb5be[_0x2d32('0x5f')] || '/player/VjsPlayer?url='; jxApp[_0x2d32('0x47')](_0x5eb5be, _0x4a2418); }, 'reBindLiu'() { app[_0x2d32('0x8')](); setTimeout(function () { app['reBindLiuDo'](); }, 0x64); setTimeout(function () { app[_0x2d32('0x8')](); }, 0x12c); }, 'reBindLiuDo'() { if ($('.rowpbbody')[_0x2d32('0x60')] == 0x0) { return; } if (window[_0x2d32('0x50')]) { window[_0x2d32('0x50')]['reloadItems'](); window[_0x2d32('0x50')][_0x2d32('0x26')](); } else { window[_0x2d32('0x50')] = new Masonry(document['querySelector']('.rowpb'), { 'transitionDuration': '0.2s', 'resize': !![], 'initLayout': ![], 'stagger': 0x0, 'itemSelector': _0x2d32('0x5b') }); } }, 'cqsClick'() { FullScreen(document[_0x2d32('0x43')]); $('.vjs-control-bar')['css']('opacity', '0'); setTimeout(function () { $(_0x2d32('0x4c'))['css']('opacity', ''); }, 0xbb8); }, 'userInputSearch'(_0x207db0) { var _0x5533da = getQueryVariable('poster'); var _0xbec3e5 = ''; if (_0x5533da != '') { _0xbec3e5 += _0x2d32('0x46') + _0x5533da; } location[_0x2d32('0x4d')] = location['origin'] + ('/player/getplayer?url=' + _0x207db0 + _0xbec3e5); }, 'search'(_0x585b60, _0x100e96) { app['searchCodeUser'] = ''; if (_0x585b60['toLowerCase']()[_0x2d32('0x3c')]('null') != -0x1) { return; } if (_0x585b60[_0x2d32('0x2c')]()[_0x2d32('0x3c')]('http') != -0x1) { location['href'] = location[_0x2d32('0x42')] + '/player/getplayer?url=' + _0x585b60; return; } app['searchCode'] = _0x585b60; app[_0x2d32('0x1e')] = []; app['tips'] = '正在搜索\x22' + _0x585b60 + '\x22...<span\x20class=\x22glyphicon\x20glyphicon-refresh\x20trans\x22></span>'; var _0x306392 = new Date()[_0x2d32('0x31')](); var _0xcc4578 = randomStr(![], 0x9, 0x9); $['ajax']({ 'headers': { 'token': gettoken(_0x306392, _0xcc4578), 't': _0x306392, 'k': _0xcc4578 }, 'type': 'GET', 'url': _0x2d32('0x2e'), 'data': { 'name': _0x585b60, 'pg': _0x100e96 || 0x1 }, 'success': function (_0x3dcced, _0x4fa3b7) { if (app) { app['tips'] = ''; if (_0x3dcced[_0x2d32('0x60')] == 0x0) { app['tips'] = '未找到叫《' + _0x585b60 + _0x2d32('0x29'); } else { for (var _0x3bb019 = 0x0; _0x3bb019 < _0x3dcced[_0x2d32('0x60')]; _0x3bb019++) { if (_0x3dcced[_0x3bb019]['Data'][_0x2d32('0x60')] > 0x4) { _0x3dcced[_0x3bb019][_0x2d32('0x36')] = ![]; } else { _0x3dcced[_0x3bb019][_0x2d32('0x36')] = !![]; } _0x3dcced[_0x3bb019][_0x2d32('0x5f')] = _0x3dcced[_0x3bb019]['Player'] || ''; _0x3dcced[_0x3bb019]['Describe'] = _0x3dcced[_0x3bb019]['Describe'] || ''; _0x3dcced[_0x3bb019][_0x2d32('0x56')] = _0x3dcced[_0x3bb019][_0x2d32('0x56')] || ''; } app['searchList'] = _0x3dcced; } } setTimeout(function () { $(_0x2d32('0x1b'))['tooltip'](); }, 0x64); }, 'error': function () { app[_0x2d32('0x4a')] = _0x2d32('0x7'); }, 'dataType': _0x2d32('0x4b') }); } }, 'filters': { 'noTip': function (_0x49fd60) { if (!_0x49fd60) { _0x49fd60 = '暂无'; } return _0x49fd60; } }, 'watch': { 'autoPlayNext'(_0x1b5424) { if (_0x1b5424) { localStorage['autoPlayNext'] = 't'; } else { localStorage['autoPlayNext'] = 'f'; } }, 'showLight3'(_0x1074ab) { if (_0x1074ab) { localStorage['showLight3'] = 't'; } else { localStorage[_0x2d32('0x1')] = 'f'; } }, 'searchCodeUser'(_0x5c841f) { if (_0x5c841f['trim']() == '' || _0x5c841f['indexOf'](_0x2d32('0xe')) != -0x1) { app['searchCodeUserList'] = []; return; } fetch(_0x2d32('0x22') + _0x5c841f)[_0x2d32('0x40')](_0x26aaef => _0x26aaef['json']())[_0x2d32('0x40')](_0x241b08 => { app['searchCodeUserList'] = _0x241b08; }); }, 'searchList'(_0x5e92b6) { app[_0x2d32('0x51')](); $('#realY')['animate']({ 'scrollTop': 0x0 }, 0xc8); } } })['mount']('#app'); var encode_version = 'sojson.v5', jxalo = '__0x7c489', __0x7c489 = ['TcOIwptiw5TCu8Odw6TCkA==', _0x2d32('0x45'), 'w5PCkGfCpQ==', _0x2d32('0x38'), 'w47CkmvCsMKC', _0x2d32('0x18')]; (function (_0xd19b76, _0x44ffe7) { var _0x5d1dc7 = function (_0x278e36) { while (--_0x278e36) { _0xd19b76['push'](_0xd19b76['shift']()); } }; _0x5d1dc7(++_0x44ffe7); }(__0x7c489, 0x98)); var _0x1066 = function (_0x49d1b7, _0x490d92) { _0x49d1b7 = _0x49d1b7 - 0x0; var _0x30091d = __0x7c489[_0x49d1b7]; if (_0x1066[_0x2d32('0x53')] === undefined) { (function () { var _0x1229e8 = typeof window !== 'undefined' ? window : typeof process === _0x2d32('0xf') && typeof require === 'function' && typeof global === 'object' ? global : this; var _0xfae273 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/='; _0x1229e8['atob'] || (_0x1229e8['atob'] = function (_0x385a06) { var _0x554367 = String(_0x385a06)[_0x2d32('0x1a')](/=+$/, ''); for (var _0x55b2ce = 0x0, _0x515dc8, _0x254972, _0x4e2cfc = 0x0, _0x5cbb96 = ''; _0x254972 = _0x554367['charAt'](_0x4e2cfc++); ~_0x254972 && (_0x515dc8 = _0x55b2ce % 0x4 ? _0x515dc8 * 0x40 + _0x254972 : _0x254972, _0x55b2ce++ % 0x4) ? _0x5cbb96 += String[_0x2d32('0x17')](0xff & _0x515dc8 >> (-0x2 * _0x55b2ce & 0x6)) : 0x0) { _0x254972 = _0xfae273[_0x2d32('0x3c')](_0x254972); } return _0x5cbb96; }); }()); var _0x2f1244 = function (_0xe35d4, _0x51c4b2) { var _0x5571aa = [], _0x3ace4d = 0x0, _0x285dad, _0x53a1c6 = '', _0x2a8a87 = ''; _0xe35d4 = atob(_0xe35d4); for (var _0xf876da = 0x0, _0x5bf8dc = _0xe35d4['length']; _0xf876da < _0x5bf8dc; _0xf876da++) { _0x2a8a87 += '%' + ('00' + _0xe35d4[_0x2d32('0x15')](_0xf876da)['toString'](0x10))['slice'](-0x2); } _0xe35d4 = decodeURIComponent(_0x2a8a87); for (var _0x148f66 = 0x0; _0x148f66 < 0x100; _0x148f66++) { _0x5571aa[_0x148f66] = _0x148f66; } for (_0x148f66 = 0x0; _0x148f66 < 0x100; _0x148f66++) { _0x3ace4d = (_0x3ace4d + _0x5571aa[_0x148f66] + _0x51c4b2[_0x2d32('0x15')](_0x148f66 % _0x51c4b2['length'])) % 0x100; _0x285dad = _0x5571aa[_0x148f66]; _0x5571aa[_0x148f66] = _0x5571aa[_0x3ace4d]; _0x5571aa[_0x3ace4d] = _0x285dad; } _0x148f66 = 0x0; _0x3ace4d = 0x0; for (var _0x5c67b0 = 0x0; _0x5c67b0 < _0xe35d4[_0x2d32('0x60')]; _0x5c67b0++) { _0x148f66 = (_0x148f66 + 0x1) % 0x100; _0x3ace4d = (_0x3ace4d + _0x5571aa[_0x148f66]) % 0x100; _0x285dad = _0x5571aa[_0x148f66]; _0x5571aa[_0x148f66] = _0x5571aa[_0x3ace4d]; _0x5571aa[_0x3ace4d] = _0x285dad; _0x53a1c6 += String[_0x2d32('0x17')](_0xe35d4[_0x2d32('0x15')](_0x5c67b0) ^ _0x5571aa[(_0x5571aa[_0x148f66] + _0x5571aa[_0x3ace4d]) % 0x100]); } return _0x53a1c6; }; _0x1066[_0x2d32('0x5e')] = _0x2f1244; _0x1066['data'] = {}; _0x1066['initialized'] = !![]; } var _0x54f731 = _0x1066['data'][_0x49d1b7]; if (_0x54f731 === undefined) { if (_0x1066['once'] === undefined) { _0x1066['once'] = !![]; } _0x30091d = _0x1066['rc4'](_0x30091d, _0x490d92); _0x1066[_0x2d32('0x27')][_0x49d1b7] = _0x30091d; } else { _0x30091d = _0x54f731; } return _0x30091d; }; function gettoken(_0x526d8a, _0x1b3e0f) { var _0x3d7a18 = { 'iZNRF': function _0x3a894f(_0x563d66, _0x3c9189) { return _0x563d66 + _0x3c9189; }, 'tqapo': _0x1066(_0x2d32('0x23'), _0x2d32('0x4e')), 'fMMcg': function _0x40445d(_0x581b0d, _0x21da6f) { return _0x581b0d(_0x21da6f); } }; var _0x1053b9 = _0x3d7a18[_0x1066('0x1', 'N*HY')](_0x3d7a18[_0x1066(_0x2d32('0x5d'), _0x2d32('0x4e'))], _0x526d8a) + _0x1b3e0f; return _0x3d7a18[_0x1066('0x3', _0x2d32('0x3d'))](md5, _0x1053b9); }; if (!(typeof encode_version !== _0x1066('0x4', _0x2d32('0x55')) && encode_version === 'sojson.v5')) { window[_0x1066(_0x2d32('0x14'), 'VOxW')](_0x2d32('0x39')); }; encode_version = 'sojson.v5'; (function () { if (getQueryVariable('ismy')) { app['ismy'] = !![]; } var _0x2b3000 = decodeURI(getQueryVariable('url'))['toLowerCase'](); if (_0x2b3000 && _0x2b3000[_0x2d32('0x3c')]('.m3u8') == -0x1) { app[_0x2d32('0x35')](decodeURI(getQueryVariable(_0x2d32('0x1c')))); } if (decodeURI(getQueryVariable('adadress'))) { app['adadress'] = decodeURI(getQueryVariable(_0x2d32('0x57'))); } }()); window[_0x2d32('0x19')] = function (_0x41473b) { _0x41473b['preventDefault'](); app['reBindLiu'](); }; function FullScreen(_0x1113e4) { var _0x496ba0 = document['fullScreen'] || document[_0x2d32('0x1f')] || document[_0x2d32('0x61')]; if (!_0x496ba0) { _0x1113e4[_0x2d32('0x6')] && _0x1113e4['requestFullscreen']() || _0x1113e4['mozRequestFullScreen'] && _0x1113e4['mozRequestFullScreen']() || _0x1113e4['webkitRequestFullscreen'] && _0x1113e4['webkitRequestFullscreen']() || _0x1113e4['msRequestFullscreen'] && _0x1113e4['msRequestFullscreen'](); } else { document['exitFullscreen'] ? document['exitFullscreen']() : document[_0x2d32('0x20')] ? document[_0x2d32('0x20')]() : document['webkitExitFullscreen'] ? document['webkitExitFullscreen']() : ''; } } function ExitFullScreen() { try { document[_0x2d32('0xd')] ? document[_0x2d32('0xd')]() : ''; document['mozCancelFullScreen'] ? document['mozCancelFullScreen']() : ''; document[_0x2d32('0x54')] ? document[_0x2d32('0x54')]() : ''; } catch (_0x52978a) { } } setInterval(function () { if (document[_0x2d32('0x3')] || document['mozIsFullScreen'] || document[_0x2d32('0x61')]) { $('.fullShow')[_0x2d32('0x4f')](); $(_0x2d32('0x1d'))[_0x2d32('0x10')]('videoFullPage'); } else { $(_0x2d32('0x0'))['hide'](); $('.video-js')[_0x2d32('0x5c')](_0x2d32('0x2b')); } }, 0x1f4); function onresize2() { app['reBindLiu'](); } onresize2(); window[_0x2d32('0x49')] = function () { onresize2(); }; setTimeout(function () { $(_0x2d32('0x1b'))[_0x2d32('0x52')](); }, 0x64); (function (_0x11aeae) { _0x11aeae['fn']['extend']({ 'animateCss': function (_0x415edc, _0x479d97) { var _0x27180c = this; _0x11aeae(_0x27180c)[_0x2d32('0x10')](_0x2d32('0x41')); _0x11aeae(_0x27180c)['addClass']('animate__' + _0x415edc); if (_0x415edc[_0x2d32('0x3c')]('In') != -0x1) { _0x11aeae(_0x27180c)[_0x2d32('0x4f')](); } var _0x3dedee = 'webkitAnimationEnd\x20mozAnimationEnd\x20MSAnimationEnd\x20oanimationend\x20animationend'; _0x11aeae(_0x27180c)['one'](_0x3dedee, function () { _0x11aeae(_0x27180c)[_0x2d32('0x5c')](_0x2d32('0x2') + _0x415edc); if (_0x479d97) _0x479d97(); if (_0x415edc['indexOf'](_0x2d32('0x9')) != -0x1) { _0x11aeae(_0x27180c)['hide'](); } }); } }); }(jQuery));
</script>

    <!-- 谷歌统计Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154955960-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154955960-1');
    </script>

    <div style="display:none;">
        <!--cnzz统计-->
        <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279848754&web_id=1279848754"></script>
    </div>
    <!--谷歌AD-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
            crossorigin="anonymous"></script>

</body>
</html>