
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="referrer" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="邦宁云播,邦宁云视频,vip视频解析,vip视频在线解析,vip解析,万能vip视频解析,vip视频全能解析,vip视频,手机vip视频解析,手机在线解析vip视频,优酷vip解析,爱奇艺vip解析,腾讯vip解析,乐视vip解析,芒果vip解析">
    <meta name="Description" content="全网最全的视频资源 更新最快 免费在线播放.最新资源观看,哪里可以看最新的电影电视剧，">
    <meta name="keywords" />
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            alert("抱歉！本网站不兼容IE浏览器，建议更换现代浏览器使用，比如Chrome浏览器等");
        }
        if (location.href.toLowerCase().indexOf("ihelpy") != -1) {
            alert("本站已启用新域名video.isYour.Love,请修改收藏页面，即将跳转...");
            location.href = "https://video.isyour.love";
        } else {
            //启用https
            if (location.href.toLowerCase().indexOf("https") != 0 && location.href.toLowerCase().indexOf("localhost") == -1 && location.href.search(/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/) == -1) {
                location.href = "https" + location.href.substring(4)
            }
        }


    </script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

    <script src="https://cdn.staticfile.org/vue/3.0.11/vue.global.js"></script>
    <!--引用bootstrap图标库css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />

    
    <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css">

    <script src="https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Js/Tools.js"></script>
    <style>
        body {
            background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png);
        }
    </style>
    
    <meta name="referer" content="never" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flexbody {
        }

        .cqsTxt {
            font-size: 1.4rem !important;
        }

        .tooltip {
            z-index: 999999 !important;
            position: fixed !important;
        }

        .bi {
            font-size: 0.9rem;
        }
        /*       .biMiddle {
            vertical-align: middle;
        }*/

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .dmBarbutton {
            flex: auto !important;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            background-color: black;
            min-height: 100%;
        }

        .fullHeight {
            height: 100%;
            pointer-events: none;
        }

        .searchitem {
            margin: 0px 0px 6px 0px;
            background-color: white;
            border-radius: 7px;
        }

        .searchItems {
            border-radius: 2px;
            padding: 6px 7px;
            margin: 4px 3px;
            font-size: 14px;
            float: left;
            cursor: pointer;
            color: #ffffff;
            background-color: #526668;
        }

        select {
            background-color: black !important;
        }


        .trans {
            border-radius: 50%;
            overflow: hidden;
            animation: rotate 1.5s linear infinite;
        }

        .nowSelectItem {
            background-color: #ff5200 !important;
            box-shadow: inset 0 0 4px 0px black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        .list-group-item {
            cursor: pointer;
        }

        button {
            outline: none !important;
        }

        .videoFullPage {
            height: 70% !important;
            width: 100% !important;
            margin: 0px auto;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px; /*滚动条宽度*/
            height: 16px; /*滚动条高度*/
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px; /*滚动条的背景区域的圆角*/
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px; /*滚动条的圆角*/
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        }

        .selectTabActive {
            border-radius: 5px 5px 0px 0px;
            position: relative !important;
            bottom: -2px;
            border: 1px solid;
            border-color: #5cb85c !important;
            z-index: 3;
            border-bottom-color: transparent !important;
            background-color: white;
        }

        #userMark i {
            font-size: 1.2rem;
            position: relative;
            top: 1px;
        }


        .divItem {
            padding: 10px;
            min-height: 150px;
            padding: 10px;
            border: 1px solid #5cb85c;
            border-top: 0px;
            margin-bottom: 10px;
            background-color: white;
            color: #585858;
        }

        hr {
            margin: 10px 0px;
        }

        .popover {
            color: black;
        }

        /*正常的未被访问过的链接*/
        /* .nava:link {
            background-color: transparent !important;
        }*/
    </style>
    <style>
        .vjs-control-bar {
            font-size: 15px;
            background-color: transparent !important;
            z-index: 11;
        }

        .vjs-button {
            width: 3em !important;
        }

        .vjs-poster, video {
            outline: none;
        }

        /*.vjs-progress-control {
                position: absolute !important;
                width: 100% !important;
                display: block !important;
                height: auto !important;
                z-index: 3 !important;
                top: -4px !important;
            }*/
    </style>

    
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    <script src="https://cdn.staticfile.org/blueimp-md5/2.13.0/js/md5.min.js"></script>




    <title>邦宁云播播放器 - ⎛⎝邦宁云播⎠⎞</title>
    
    
    <!--谷歌AD-->
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
            crossorigin="anonymous"></script>
</head>
<body>
    




<div id="app" style="font-size: 14px; pointer-events:all; position:absolute;left:0;right:0;top:2px;bottom:2px;border-radius:10px;z-index:3;background-color: rgb(249, 250, 251);color:#a9a9a9;margin:0px 2px;">
    <div class="v-cloak" id="realY" style="background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png); background-attachment: local; padding-left:7px; position: absolute; left: 0px; right: 1px; top: 3px; border-radius: 10px; bottom: 20px; overflow-y: auto; padding-right: 5px;">
        <div>
            <div style="margin-top: 5px; color: black; font-size: 18px;float: left; margin-right: 10px;">
                <i :style="{'color':showAll ? 'red':''}" v-on:click="showAll= !showAll;" class="bi bi-bullseye" style="font-size:1.2rem;"></i>
                <span style="color: red;display:none;" v-show="showAll">【测试模式】</span>当前播放列表:
            </div>
            <div style="line-height: 17px; padding: 6px 6px 6px 0px; font-size: 17px; overflow: auto; float: left;">
                <a v-on:click="fk()"><span class="badge badge-success">搜索结果不满意</span></a>
            </div>
        </div>

        
        <div class="input-group input-group-sm" style=" border: 1px solid #1e7e34; border-radius: 5px;">
            <input style="border: 0px;" v-model="searchCodeUser" type="text" class="form-control" autocomplete="off" placeholder="请输入 影片名称 或 播放地址 搜索结果由互联网自动聚合生成,请勿相信视频内容中的广告" name="id" v-on:keyup.enter="userInputSearch(searchCodeUser)" />
            <span class="input-group-btn">
                <button class="btn btn-success" style="font-size: 14px; margin: -1px !important; background-color: #5cb85c; line-height: 1.42857143; border: 1px solid transparent; color: white;" onclick="app.userInputSearch(app.searchCodeUser); return false;">搜 索</button>
            </span>
        </div>
        <div v-show="searchCodeUserList.length > 0" style="padding: 5px 5px 10px 5px; background-color: white; position: absolute; z-index: 4; left: 10px; right: 10px; color: black; border: 1px solid #1e7e34; border-top: 0px; border-radius: 0px 0px 5px 5px; overflow: hidden; ">
            <div v-for="i in searchCodeUserList" v-on:click="userInputSearch(i)" style=" font-size: 1rem; margin: 4px;" class="badge badge-dark">{{i}}</div>
        </div>
        
        <div class="loading" style="z-index: 9999; position: absolute; top: 55px; bottom: 0px; left: 0px; right: 0px; color: #1e7e34; background-color: white; padding-top: 70px; padding-left: 10px; font-size: 1.5rem; ">
            <p><i style="font-size: 2rem; color: black;" class="bi bi-hourglass"></i>请稍等</p>
            <p>正在加载播放器...</p>
        </div>
        <div style="height: 120px;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fl+5z+3v-d0+94"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="9497300006"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <iframe v-if="adadress"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width: 100%; border-radius: 10px 10px 10px 10px;margin-top: 2px;height:100px;"
                v-bind:src="adadress"></iframe>
        <div style="color:#d03d3d;font-weight: 600;padding: 10px 0px 20px 0px;" v-show="tips.length!=0" v-html="tips"></div>
        <div class="row rowpb" style="margin-left: -2px; margin-right: -3px;margin-top:4px;">
            <div class="rowpbbody col-xs-12 col-sm-6 col-md-6 col-lg-4" v-for="(items,ind) in searchList" style="padding:0px 2px;">
                <div v-show="showLight3 || (items.light!=3)" class="searchitem" style="border: 1px solid rgb(197 197 197); box-shadow: 0 0 4px 0px #767676;">
                    <div style="font-size: 16px;border-bottom: 1px solid rgb(226, 226, 226);position: relative;">
                        <div style="overflow: hidden;position: absolute; bottom: 2px; top: 2px; left: 3px; width: 73px; background-size: 100% 100%; background-color: rgb(162 162 162); border-radius: 5px;">
                            <img :src="items.Img" referrerPolicy="no-referrer" style="width:100%;height:100%;" alt="海报" onerror="$(this).attr('src','https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/def.png')" />
                        </div>
                        <div style="padding: 3px;z-index: 10;overflow: hidden;margin-left: 77px;text-overflow: ellipsis;">
                            <div>
                                <span style="font-weight: 600;font-size:14px;color: #000000;">
                                    
                                    {{items.Name}}
                                    
                                    <span id="userMark" v-html="StrToHtml(items.UserMark)"></span>
                                </span>
                                <span class="videoId" :va="items.TypeId+'-'+items.VideoCode"  style="font-size:12px;color:#F06292;">({{items.TypeId}})</span>
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-person-circle"></i>
                                {{items.Actors}}
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-signpost-2"></i>
                                {{items.Describe}}
                            </div>
                            <div>
                                <span style="font-size: 13px;">
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到豆瓣查看或写影评" style="padding-left: 0px; background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://search.douban.com/movie/subject_search?search_text='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-star-half"></i>豆瓣
                                    </span>
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到百度百科查询相关资料" style="background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://baike.baidu.com/search?word='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-stickies"></i>百科
                                    </span>
                                    <span class="badge badge-light" title="搜索这部影片" style="background: transparent; color: #4077ad; cursor: pointer; " v-bind:txt="items.Name" onclick="app.userInputSearch($(this).attr('txt'))">
                                        <i class="bi biMiddle bi-search"></i>搜索本片
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding: 0px 5px;">
                        <div class="searchItems" v-show="items.showChild == false" v-on:click="items.showChild = !items.showChild;reBindLiu()">
                            <i class="bi bi-arrow-90deg-down"></i>
                            <span>点击查看共:{{items.Data.length}}集</span>
                        </div>
                        <div v-on:contextmenu.stop='newWindow(items.Name + "-" + items2.N,items2.S,items.Player)' v-on:click="clickOne(items,ind2)" v-show="items.showChild" v-for="(items2,ind2) in items.Data" class="searchItems" v-bind:class="{'nowSelectItem': nowSelectItem.obj == items &&  nowSelectItem.ind == ind2}">
                            <span>{{items2.N || "正片"}}</span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>
        <div v-show="searchList.length > 0" style="font-size: 10px; background-color: #e1e1e1; padding: 4px; border-radius: 5px; color: #28a745; ">
            --搜索结果只展示前20条,排名不分先后
        </div>
        <div style="clear: both;"></div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="8184218337"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr />
        <ul class="nav nav-tabs" style="border-color: #5cb85c;">
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 1;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 1 ? 'selectTabActive' : ''">使用声明</a></li>
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 2;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 2 ? 'selectTabActive' : ''">帮助</a></li>
        </ul>
        <div v-show="selectTab == 2" class="divItem" style="padding:0px;">
            <ul class="list-group">
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        鼠标右键点击分集，可以在新窗口打开播放.
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        搜索资源技巧请参阅<a target="_blank" href="/Html/SearchTold.html">搜索完全指南</a>
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        <a href="#" v-on:click="fk()" ><i class="bi bi-patch-question"></i>意见/留言/视频举报/bug反馈</a>
                    </div>
                </li>
            </ul>
        </div>

        <div v-show="selectTab == 1" class="divItem">
            <p>
                使用本服务表示您已明白：
            </p>
            <p>
                1.本应用仅作为视频搜索引擎工具，搜索结果均从互联网自动生成，本应用不参与任何 制作，发布，上传，存储。
            </p>
            <p>
                2.本应用完全免费，也不售卖任何服务,视频归原网站所有。如不慎侵犯您的著作权，请及时联系管理员删除
            </p>
            <p>
                3.我们已经屏蔽了可能的有害内容。如果发现搜索结果中存在有害内容，请及时联系管理员屏蔽相关的关键字
            </p>
            <p>
                4.本应用没有在视频内容中添加任何推广信息，亦无法屏蔽。切勿相信视频播放中出现的广告，以免对您造成损失！
            </p>
        </div>
    </div>
</div>


<div id="JxDiv" style="z-index: 999; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none; background-color: black;">
    <div style="background: black; color: white;">
        <div v-on:click="back()" style="background-color: red; position:absolute;z-index:22;padding:7px;">
            返回剧集
        </div>
        <div style="text-align: center; padding: 7px 0px; white-space: nowrap;overflow:hidden;">{{title}}</div>
    </div>
    <div id="JxDiv_loading" style="pointer-events:none;z-index: 2; position: fixed; left: 0px; top: 20%; right: 0px; text-align: center; color: white; font-size: 1.4rem; ">
        <span class="badge badge-success">正在加载播放器,请稍等...</span>
    </div>
    <div style=" width: 100%;background-color: rgb(69, 69, 69); position: fixed; top: 38px; bottom: 0; left: 0px; right: 0;">
        <iframe onload="$('#JxDiv_loading').hide()" sandbox='allow-scripts allow-same-origin' frameborder="0" border="0" scrolling="no" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowtransparency="true" style="width:100%;height:100%;background-color:#454545;"
                :src="url"></iframe>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您没有播放权限</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                原因是:系统判断不适合播放
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" onclick="app.showAll = true; $('.nowSelectItem').click();" style="position: absolute; left: 20px; color: blue;">判断有误?</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕知道了</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertFk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">反馈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="marks">搜索词:</p>
                <input id="fkSearch" type="text" class="form-control" />
                <p class="marks">描述:</p>
                <textarea id="fkText" class="form-control marksText" style="width:100%;height:200px;" placeholder="这搜的什么玩意儿。&#10;&#10;播放器错误请填写：&#10;操作系统：？？&#10;浏览器名字：？？" maxlength="150"></textarea>
                <a></a>
            </div>
            <div class="modal-footer">
                <a style="color: blue; left: 13px; position: absolute;">播放器错误反馈QQ：2847046608</a>
                <button type="button" onclick='fetch(`/player/feedback?t=${$("#fkSearch").val()}&b=${$("#fkText").val()}`);alert("收到了，谢谢")' class="btn btn-primary" data-dismiss="modal">提交留言</button>
            </div>
        </div>
    </div>
</div>


    
    <script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Js/video.js/video.2.min.js"></script>
    <script src="https://cdn.staticfile.org/video.js/7.12.1/lang/zh-CN.min.js"></script>
    
<script>
        /*
 * 加密工具已经升级了一个版本，目前为 jsjiami.com.v6 ，更新了加密算法，缩减了体积;
 * 另外 jsjiami.com.v6 已经强制加入校验，注释可以去掉，但是 jsjiami.com.v6 不能去掉，其他都没有任何绑定。
 * 誓死不会加入任何后门，JsJiami.com 加密的使命就是为了保护你们的Javascript 。
 */
 var _0xod7='jsjiami.com.v6',_0xod7_=['‮_0xod7'],_0x2757=[_0xod7,'ecK+woRXCA==','wp4SwrRtwpVE','wol/w7dKw54=','wpzDisOGVcOlw75+wrwJWQ==','ShF8wrPDoA==','w4rCll19','ccO8wqXDkmLChBHDhQNXwro=','NlxeOQ==','wqnDvMKf','wo8gcU/Cgw==','d8O+wro5dg==','IsOzOCzDsA==','MGoLw6oM','wqEIRcK3w5/CosOwNWQJw5LCkg==','WsO0wrnDtGE=','S8OIwpXDn3k=','BnomdDM=','ExEMwoc3','w5gBck0A','CjUkwpQ=','aF0IACk=','w6JqZMOxwqo=','woHDisO1wrEZ','w588woLCk8OH','wo9yw5hJw6Y=','w5QcJ8Klw78=','w4YEwo7Cg8OS','w4wddV8K','wq4HV0nCoiTDl30awrcCfw==','w7fCn0bCqMO8','DsO4aA59','K1dNMDZhGg==','wqzDocOOZMOL','w4YrZnkD','woPDs3nDtcOl','LH9qNQE=','w4IMamMu','wpscwrV+wok=','F2TCtMOswpA=','woVFw7ROw4xUw5E=','wrU9FGDDtw==','SMOGV8OEIg==','ZGnCncOewpo=','w7fCoVfCv8OA','wpRnw55zw54=','wodyw79Bw6E=','wpI4UsKPw70=','woDDlx7CqMOQ','P3/CnMOewoM=','McKMK8K6XA==','w7PDsMOZw4HCgg==','w5XCtsKucxM=','VAfCtMK5wok=','DjkiwoI0w6jDijoreMOVOmHDqg==','fcOqwqXDkk3CkBHDgApRwqzCu8KmwoQ=','PX1SWEPDvU/DllXCk8KUUWTDhm/CrsKZwprDtQ==','w4YIf1QnPsOAD0vDnkFqJz3Dv8KSY0PDtw==','P8OKex1GHsOIwrJ1CcO0wr95w6nDvcOuw40Twr7Dmg==','JF08Sjt8AU3DqHfCr1x9wprCoMOIw6hAw6/Dtg==','wqN+wrVodw==','PcOpbQJq','w5rCmHpowpUiwoNz','Kl5UPzI=','JzwRJHA=','GWJEXWE=','wqnDiMOrwrkOwos=','w7wjbFks','U3gREgk=','wowgBWvDkQ==','wpzClSjCjh4=','FkJ/OiQ=','blrCosOEwrI=','w6ANwqXCncOM','wqjDt8OESMK8JcKNQHg4','wpbCnADCkQo=','w6fCs27CiMO2','wol/w51ow4c=','woXDqsOqUMOK','w7hVWsOH','J2NDcmE=','w53Ch0V1wpM=','wrPDvsOtVMK7','UAd7woTDgQ==','wrnCqsO0w6nCsw==','OHNucGk=','XCZRw7vDrw==','w5TCscKtUgM=','w4kQNMKYw5Y=','BEXCjsOdwpA=','wpvDgwDCu8OP','w6NcaB3Cqw==','w6hVVMOCwppCT8O0JcOz','wovDi8OgQsOJ','eMKTSxfDlg==','dDwAZA==','wobCpxLCvQw=','w545F17Dtg==','VwnCjMKJwrQ=','wonDl8O5asKS','wpsfNQ==','EMKJLg==','BD8k','w78VNW7DoA==','csKGwqBAIw==','ZAVNw7/DpQ==','ATcGwrol','wrxdwpJT','wpERwpFDwrc=','wqfChMOXw6jCuA==','wqsUUsKOw5s=','w5nDhsOuw6nCtg==','w5xTwqQ=','w6DCocOJwpU=','wqVXwqtvXcKZwoTCr30=','wp7Cjxw=','wo3DkMOTaA==','5LuI6IKa5Ymj6Zmcw6kPwovCmmJTwpBFPw==','w47DvMOmw4jCgEzChsOtw5E=','w5UbwrzCkMOOwro=','w6PDncOqwq0OwobCrsKv','w6vCtcK1Tw==','w7fClU8=','fVVtVGo=','DRQZwqUz','OksPw6MK','fB05FMKAVsOjHQ==','wrAzwqNuwrU=','G0AXw4Ix','wptxw59Sw7E=','IMOwNirDig==','wqJXwo1zRcKSw5jCmilFQA==','YF7CmMO2wpA=','w4fCkVfChsOp','RsKGesKaLg==','cBTCjcKpwo0=','SlrCvcOjwqw=','w4bChUx6','b8OdwrjDg3I=','wrzClwPCjwTDmw==','wrZcMBMLejJnwoMlw6XDgSsmBxzDq8OOwrDDjX/CuQ==','w4wHDcKrw5k=','PnYWRRs=','ecKiwpB2Iw==','AXXCgsOUwoY=','JcOawotPKg==','MXZJf1DDtl/DgA==','w6oxJMKGw5c=','w5E7IMK5w7VEwp9Jw4UJw4vCoSAb','woHDvzPChcOnwoHDj8KTw5o=','w7weDWDDvgJqwr3DgcO9asO9S8Kyw43DhhRM','wpMcR8KRw78=','wpfDjXHDlsO+','w7DCo8KpQxEMwrHDucOkDsKSw7bCqsKQAWFv','wr7CihDCugjDhHDCrBbDsx1UwoXChHRtOcOmW8KA','w6/CqcKiZBEOwrDDmsOiFsK4w7DCpcKON2dzwrnCmV0=','wrICIVPDsxTCs8KMfEjDm0B+S2w6ZzbCgcKxZcKCRg==','wrbDrMO5WsKBOcKPW3hNTHkSasOEw6E7R1w=','WShtw5PDhcKzaEHDu8KxUMOOwo1kw5Eww4lIaQ==','wrLDiMOnwrUTwpfCmcOqw4s2NH05wpVOwo7CgMKaF3Q=','wq0NUVDCpznDmmMqwrsUf8O1HA==','NF1HHzZsHHZDe8O4RMKAZcKKdUU5w6M=','BsONwqdAGcKkw7LCpMOFUVzCnXAPD8KgP8KKOcK+','w5wCZ3wvJMOmEk7DrHJzJwLDr8KDdEPDvC4=','cwJewrfDpg==','w5vCjWLCrMOX','wpPDtcO5w5fCg3HDgMO0wpM=','wptSSyPCjHBZaBI=','Qi5zw7XDi8KbfkjDu8KnRMOFwoQ=','w7BfGgcecxMrwpYlw7TDnw==','T8KrWsK9GMK3acKXwqsFwqrCm8KBw7o3','Z8OBesONDkwbWsOQCmJpw7VOw4MQwpQa','bTp/wqzDhg==','dsOcfcOlAQ==','wrbCqxrCrD4=','Y8OMd8OR','HEIKw5k1cMO7cg==','HcOEwrxnJg==','w70yAVHDkw==','EMOrdwND','woQewr5vwo5qZsOXAQjCpsO3cw==','TcKqUsKRGMKYZsKe','WgRuw5LDtQ==','wqjDvhDCmMOow4jDt8KVw4jCmzFWwoZ/w5HDocKZw6BvS3g5wos=','wq4NYsKtw7g=','w5DDscOiw5XCoQ==','CUkBw7YteMO4','w6PCiUrCpsOkw5rDssKCwplmw7vDqcKEdwESw4U=','wqQJKlXDuxTChMK2Ug==','w6DCisKtUyE=','AsO+woFzOQ==','FUwTYjY=','w5zDvcOlw5bCjlbDjcOEwrs=','bsOtwoHDrcOA','w43Cklc=','w6XCoUJ2wrM=','wqsFXnXCsw==','Sl3CiMOswrXCpDE9','MWBVJDk=','wrXDlMOORcK7','w4/Cj0TCqsOG','ecOKfMODH3c0','HMOROyjDsg==','wqnCtC7Cix8=','wqYXJWnDiA==','KlpSKw==','XMO7woXDg8OzwoUiw6PDhTLCrMOMXX4=','w6tJHhscewwhwpE=','wo9bw7Z6w6Y=','w5LDvcOp','w400C3PDlQ==','QsKuwoxVFMKZG8OWViXCuQ==','woEUWsKrw5A=','w7IXwo7CvsOY','wpx/wrtSXg==','OlY6RCpHIg==','dB5zwrrDgQ==','wqnCj8Oew5Q=','wpzDkMOCRsOSw7Rbwqk4','wrpmJDYbaQ==','w4zClkp3wqg+wplGwp/ChTk7','wplZw7w=','woTDhGfCoMKv','w4DCjGTCpsOs','FcKbKMKuWsKGwpQgKHY=','wo3DpkDCvcKPw6XCpXvDtcKY','w7kaN8Kaw6c=','C1ALUBc=','wpDDq8OhasOJ','wrYSwqt8wpQ=','wrzDr3DCtsK0','wrbDhcOqwqk2worCu8O6w5Zx','w445IMKh','w6g9NsKiw4k=','wovDs8OKRsKVPg==','wp/DvsOfXg==','LFBUJgc=','XMOzwrjDhw==','wrMyD3rDjw==','wqV8w5hYw78=','woXDh8OqfsO8','ScOXwoMv','woZGw4Zew5k=','Q8OXwpor','FlPCj8OY','Sw8aPsK8','REnCicOBwozCty4=','wq/DjsOGXsODw6M=','E8OHLic=','Px8cRcKJworCmMOHwrccw4zCqMOHw7w=','G0cKw78Qfw==','NXpdd3U=','w6pEMwU=','AcKHLQ==','VsKtVMKYDg==','M8OuYMOiDk4=','w5RKSyrCiGsRQRLDoA==','PsOId8OHA1E8Tg==','SsOSfsOSCg==','w6MSC24=','dcO9wrnDiH8=','wqsHXUXClSnDt38p','6Kys6LyM5YeO5pCj57eS5ZGB56SaBiIl','dn40Fzw=','wrdNwrVzYsKbw4vCoAZTXcKM','wqHCoMKzYhEHwrE=','SxxAwrjDmA==','C0cC','a8O3wq3DlGjCjT7Dgx1X','w4vDssOg','wqYiO3HDqQ==','WShzw7HDiA==','FsONwrF7HMKxw47CucOeGm/CmnBe','PndfTEvDvUjDnE7DqsKVVjU=','Q8KGfRfDuA==','wrfDmwDChcOe','QgJMwpjDig==','wrzDusOfa8KZIcKP','wqPChjzCryI=','wpxIw4Zsw7s=','wrzClQ/Chg==','w7DDosOiw43Cng==','BFYEdQs=','SMO6wpDDkcOj','wpbDrsOFScKB','fzUTGcK9','woYVwqPCgcOZwrzDtkxkwrnDkQ==','cBY8EcKe','fMOLfw==','HcOHwqI=','wowUTEU=','wozDksOLTsOS','wq3Cg8OUw5bCrcOu','ImN9eUs=','wrlPw6Z5w4U=','Y3sfIg0=','wqnDgsOkwro1woHCtg==','ZMOOwoIGTg==','wq/DnUPDqMOG','w6PCu11RwpA=','w7EtwpXCisO6','I3pHbG7DukvDm03Dpg==','wr/Dk8ODWcKo','PMKfB8KWbw==','MEpIFAM=','w6pLwrF9XMOXw47CuDxXCMKMKAjCh2bDjMO2N8KhRHgCawE8L8ODwq/DnsKLwrrCjMO+w7NhwoE/ZH1yHCbCtCF1FCbCl8KGw7PDsG/DicKow5JfaTM/HF0hw7hDDBXDtcKQwonCgmZ9HcO5w6vCjXjDmVc5wrHCtMKkwqsuw57Cp8KzwpIvwrFqX8Obw6zDqMOaa29Jw5TClcOQYMOGw7cUO8KiWTDDniIkw5bCusOnw481wpVzwpHCpz/DhcK+dAwOeX5Yw6bCvGwgwrVjw7HCvnrCtRjDrVXCvcOGw7vDiFASZsK5JsKiw4pocMKrbcODwotOw7rCo8OewqFVwokBO8K1DG/Dh8KewpHDrzLCoT/pga/luZDpgLvlu57ov6rlvKLCsQflvqrCrmvChMKwazor','wp06NcKuw74Kwo9sw5QOwofCoCMIQ8OgVRh1w5HChgvDvsKFFyjDv30kwqhOSnLDi8OOwrHCkcKaXzBFcsObw4nDgwTDpEfCk8KNFMKdw4TCqcKfFiTCgGLDrMKwEsKmw5UbT8K+w5jDkMOxwoLCmErDs8KTYsOwwrpnT8KLXVrDksKDwqQRwrYyw6nCncK5w6DCkXlKw4MQN8O2XjJJw4kWNTvCtUTChAprCRkGw7APwp5zwpzCpsKmw53CkQzCvDjDrsOtw7LCmRh0Qn16wqnDksKaacK/VzbDm8Oyw6gwd2whwp3DrsOvXcOHwophacKrU8OlUCsew6MXX0trdsK3wq3CuRbCpsOAKWpLEMKXw7jpg5nliYXlnrvljJPorrjplIDov6XmhZvvvZXkvoXljq7kuKbmkrTml4nvv43or5/oho/oo7DmtJjor73CpcK55oS9w4vDnB/Cj8O2w54z','w7VewqpIV8KPw54=','w6bDjMOpwrsIwpfCmsO5','5ouN5oiT5Lmq5pCC5pen77+f','5oC96KGE5LmH','6auF5rm85pa456Gx','wogGaXI0JMOuBUPDuVg=','PVcpcjdkIVbDtUrCnUx8','wrbDhcOqwqk7wo/CsA==','w68CdnQ0OcOBDw==','w5rCmGVzwpAuwp9XwpfCkTQ=','w4fCmU15wp8Ewos=','wq9Iw6Vqw6w=','w4gnIcKqw6hlwo0=','woXDhkPDocOK','woXCg8OJw5LCq8Ovw7tG','wq/Di1LDhcOqwohU','PsOIPiPDp3Qm','woBawrVycQ==','wpTClivCnwI=','w6djUTTCoA==','w5DDvMOow5rCgw==','TsKrRw==','w4fCkHDCvMOp','WRgsEQ==','esOiT8OTFg==','FHvClsOcwrE=','B8OJwqk=','wrXCqMOfw6LCrw==','PsOOdQ==','wqTDoELCn8K8','w4gbwqvChcOH','wonDlcO5fcKI','6YS/55G45qKk','AWZecEw=','dMO3wqLDgX/CjQ==','csKQeMKHIQ==','ZVjCgcOK','wqrDpcODwq4U','TMKeew==','5omt5oiX5Lqz5pCd5pen77y3','w4LCmE4=','w4nDusO4w5fCig==','w6zCqcKvZRETwqDDnMOlK8KKw6DCpA==','wqcXUg==','wokbR8K/','w4wawqs=','cDUyEUTDqRp2wpFpwqEbw6AVfQs2csKbJkjDuw==','A8KQcBDDicOow5wew4U8dA==','WCE5NsK1','wpvDhFXCoMK4','woXDsMOgQ8OF','wr3CoCLCvi8=','HVkzRA==','ScKfeBDDg8OTw7c=','wro/U23Ciw==','wpLDjcODRsOK','cRY/','5oin5ouM5Li85pCc5pen776c','w7VDOw==','wocrFGHDuw==','wqvCtcOJw5LCgA==','cCZjw7E=','b3oR','TMKYex3Djw==','Bygswp4G','M8OWMw==','w7DCgmHCosOrw4rDm8K0wrNDw7o=','VsKXWMK6DA==','w5HDkMOIUMOWw7N4wrYsVA==','w4cCa3AyOA==','w4FJQBXCjw==','wo87KsK4w6BI','Zh9Nw4XDiw==','AsO/worDhsK7wog5w4nDlCbCosOVHGjDhcKd','wqcFWUfCiDjDjw==','SMOHcMOIJg==','wrogwpldwqk=','FMO+wpRnGw==','c8OXaw==','YB/CpMKiwqQ=','Qj7CqsKjwoI=','VsOLwobDmsOx','wrhBwolFdQ==','wqkTwrt+woABZ8OUCj/Cq8O1K8KqGMKLw6fDrX1uXQYT','w4TDscO1w4vCnw==','wonDmWrCucKi','wpDCpMOWw7XCkA==','WCJ5w7fDkMK1','UMKhTcKbHcKUX8KXwqYlwro=','LzwHG14=','wqzDg8OhwrsCwqzCug==','SH4+GhM=','w40sK8Kow6RC','XRHCu8Kbwoc=','QMKHwph3MA==','w4dBYC7Ch3s4axQ=','F8OYwqpJOQ==','KU0pw5UL','w6UoMcKu','w7fCtMK0','w6dUUsOYwq0=','FcOYwqw=','w4/Ck0h4wpUuwp5n','w7vCjMKcYiM=','wqQDIlzDqAXCksKa','wqkOJFDDrg==','w40gIsKnw6Q=','SsObwqLDnMO3','SVHCh8Odwrw=','wqPDlGfCicKN','wrLCg8Obw4PCusOuw5pMw6/Dt8KLIMOIewLCnnhD','w6nCoU/CncON','wq4FAlDDqw==','AMKaLsKvT8KbwoE=','fhNnw4jDtg==','BMK0T8KHH8KUbsOG','W1bCn8ObwrzCtw==','OnpCbUU=','ajlKwqHDiA==','ecOnwrjDiVvCiRzDlTdXwqbCqg==','wpYeIXzDtQ==','bCRTwofDgl4=','UlYCw7sgdMO6LmTChinCpUlVND3DjMOWwoYCCFQ=','U0Abw7Y1QsOgbnQ=','ccKiRBLDlg==','U2o6OiQ=','wrPCkcOMw6LCow==','fEgyQCttNhrDpmbCnWV4woXCp8Otw7VXw4nDt8OedsOd','wosHeUzCqg==','H8OdwqlH','WjwCOcKZ','eTceBcK5','5qyX5Z+d5pGd57ehGQ==','XsOYwqlKCcK1w4XDs8OLQG7Cu3MWDsKgKA==','IF0/UzFgB1rDpWbCvFp0woQ=','w73Cj393wos=','wqfCiibChxrDkHfCigTDtD4=','cBA3UMKv','UsKowopxDQ==','URfCkcKLwpY=','JMOhwrzDh2XDhRnDjQ1Tw7PCqsKswo0/w4vDrD8PPsKJMStoSxcfQVnCog7Dh8OlJk0hBCAHQcOqJcOQb8Obw47CtEcAX19iwpLDqsONwqMVOcKswpfCrcKJwolJw7HDlsKsw4XCvU/DpsOWZcOPwrdCwpp+w6LDq8Kvw7TCgjXDssKmWsKnw4puNMK+RCLCmcKrYgAVwqbChBvDgH/DvXPCnG/DqsOGwpZHPV4rVW/ClMOZwrUwwpUUJxICc8OGWRwZEgfCnGsewrsUw4nCtyt8w6QJUcKGw6FaMcKBwoHDgXPDtwlGwpDCvFsSGkrCjnXDgMK9XcOaH1bCsCzCm0d/XsOqw4PDpcKvQxDpgaLlirnln5XljZvor6DplbDov6HmhIDvv7Tkvp7ljZvkuKjmk7bmlJDvv57orqHoh67oo4rmtK3orbrDqcKc5oSHSMO4wqMEdHHDqg==','QChbw7/Dk8K4eWfDtsKEQA==','S8KqRMKRE8K+eg==','wq8IT8K8','wqfDhsOJwowN','aRAoAw==','wqQhwq9dwps=','M1jCmsOB','BsOLLwTDpw==','wo8vGm3Drw==','wpvCsQLChyU=','wrzCox7CgSk=','w69FOBcdWTUkwogQw7DDliI=','w5fCs2F9wr0=','NGw6w7kf','wqosckfCsQ==','bjTCssK+','dm0TMz7CtA==','QxzClcKuwrA=','wqHCkhzCuxc=','w6fDpMOew7TCiQ==','aMOvwpoXVQ==','aTXCrcK6','wrZcw4Jkw5I=','wrnChzPCpDs=','wqQDJ3vDtgHCksKa','w5pJeMOywrI=','44CR55qM5byM54iTZOisq+WwveisreexmOetjeWEpemUtOWvgmrDhVLDvE5dw44GV1vDoSgjUCbCnzbDjh/DsVZ5IHfDnMOXw7dlBmgWw5rCq3nDnw8jPD5fwpI7YsOlwqsFD8KbIsKMw6opw65xw43CnsO1w5DCnSfCuFUSNMKdwonDujM3wqtrIcKBSkXDosKFwpnCn+OCiuaRvee1nOWvpuWFquaMp+WOqeODk2fCoMKqVA==','wrfCig7Cojs=','w4LCkkd7wpMj','fMONf8OOEw==','LMOfcA==','bsOswoAXew==','VMOFbMOH','TMKUchLDj8O0','w7hVWsOHwppFQsO9AA==','IVrClMOOwqQxGsK+wpQ=','Q8KuwoBIAcKUFMOTRCI=','BnExRAo=','K8OsUjRj','w68ZMMKgw6Q=','w5A8wq3CgsOd','w5UmKsKjw6RDwps=','wq3Cj8Odw5nCrQ==','EMKFKA==','AwobwrQT','Xiw3ZMKY','bi/Cq8Kg','AEAISj4=','QlfCiMOKwqHCiiQ=','wqDCgAvCmg7DnUbCpgHDog5SwozCmmtnOMO3','NcOSwrJpGg==','w4BAVxHChA==','w79VUMOe','OUsxTw==','wqjDusOKTcKTJMKpR2hubGYba8Orw7otVg==','wrLDjEbDkw==','5py25q285pOe57ev6KGo5Y2D5raa77yi6K2R56iC5ZGe5Yeg6KyXGU7Cqw==','wrzDrwU=','w6oVBmbDtgJGwpHDmMOpaMO4dcKww4vDhhU=','A8KQI8KoUsKGwrANMmh9w6oAwoTDssK1A8KEw5IzT8OdVcKNeMOUw7TDosOIworDt8O/wo/DiMO5IXZ7UcKAflfDpQnCjAcVwqMAw6JJAcO3wrrDn37DocOCRB8jw6pKCcONYMOWwok2wrLChcKWJ8O6IcKT','w6PCs8KsWSQTwqTDhsOfB8KGw7E=','wp3Dp8OJXsKm','C0vCq8Orwqg=','wqDCk8OOw57CicOqw7haw4XDt8KmJw==','wpYOYcK/w7k=','wrbDmHnCp8KF','w7tTSzfCnw==','eznCpsKOwq/DtGFd','AcO9YQVa','wplHw5xCw5g=','wqokOXHDnw==','MFxZOS9NGQ==','wrDDgcOJwrcW','UcKsT8KD','KVUMw5k7','J8OBfA==','OsOKdBlZD8OOwqZ9DsOB','w7vCsU9wwqs=','OFxUMTZ2Gkxw','wqjCiMOew5TCocOJw78=','KmfCjsOwwo4=','WMKiwoVf','PldJDDtjBnZdAsO4WsKACw==','TMKhV8KjAsKfeMKUwrBpwr3CgsOZ','fiVgw6fDhw==','wpTDrF7DjcOK','dDsmQsKk','wp7DgMOKUcOq','w7JTRsOXwrU=','wrlIwqRy','wrcoYsKSw50=','Q8Kjwo5NLsKVP8OSQ2U=','TxLCksKhwoE=','O0wqUQ==','w67ClsOWw5DCoMOjw6sMw6zDt8KqH8OEejrCsWRFwo3CsQ3ClcOB','wprDvEjCog==','SsOuwrfDtMOZ','RcOnwoTDkMOuwqQw','PTU/GHY=','WFzCjcOdwrrCrQEhHglABlDCrHdmw5pD','JMOuwrFFKg==','wozDnMOTdsKc','CU4Lw7Q=','IsOcdhg=','bjXCp8Kj','S8OQwo/DsmY=','w6dCSTfChA==','wpnDvmnCi8Ko','O8OKeARMAsOOwqV4GMOnwrlww7fDgsOkw4wC','w5cRwo3CjcOFwqzDt0p1','w6ZSQMOewq0=','wozDjcONVMOJw780wq99','wpcqCFzDli/Cgjdg','A8ODNcKadsKBwrolCmIhwqM=','wrbDk8Oqw7LCssOBw79gw7vDg8Ojbg==','HAARFBhrCwDDtjTCqBQ=','XA3Dm8OswrLCqDQNCSFeNg==','JQfCr8O6wpEUOMK3wrvCr27Dgw==','VcOme8O+FA==','IkfCiMOR','w7DCvsKZexI=','w6vCtUpEwpQ=','cGQHMxg=','w4IfAGHDpA==','wobDrSLCvsOM','G1MCw7YKcsO6ZGbCjQ==','dcO9wrbDoH7CiRHDvxpAwrvCu8Kt','esOTwpUlc8KZZTdIwrXCv1k/YSccwoPCvA==','wrTDgEfDlcO3wrRGwohzw7XCjHN8d8Kfw4HCsw==','JcOAYyRKG8O4wq9vCcO0wr95w6nDncOuw40Twr7Dmg==','T8KrWsKmDsKAacKewrQiwo/CnMKIw7MKw5ICwqbDpMKz','VcKhQsKfAsKFTsKewrYjwqzCmsKQw5ksw50cwrDDosKvwofDlVo=','wrbCg8OYw5rCsMOyw4tGw7rDp8K7IMOZTzvCm2dEwq3CrAzClcKA','fcOXSsODFk03WsOiOXtpw4pew5IHwpQRwp0=','FMOQwqxfNsKlw5vCsMOfRmjCjXkN','fcOLYsOlBlYxTMO6OXtpw4p+w5IHwpQRwp0=','VcKhQsKfAsKFWcKDwq4iwo/CnMKIw7Mqw5ICwqbDpMKz','eRMvVMKy','XhQlScKQ','w4bCgFPCpMOm','wp5Ow6BHw5V4w5I=','wqoFKV3DuRQ=','wq1pw5Nvw7Fdw7DCnWRdw5LCusKFwoc1bMOew63Dhg7DpcOBw7TDnMK0wrMHXEdTRMKXwrUFIMOeKcO8wqfDhsOAScKjwpAlU8Oiw5HDoGp7w6UkB8OxbMKawqDCjV3Dt3jCv3Vj','DMK2T8KDG8KTfsKUwqMv','woDChUZrwpcp','wpQFwrVnwqJEcsOJLjfCo8O1','gjsjbQidatWNmik.cPogmY.Tv6=='];if(function(_0x2095bd,_0x3e2d48,_0xb37315){function _0xa5250c(_0xc0184a,_0x39fc10,_0x51d5d0,_0x166976,_0x32de89,_0x5d46a4){_0x39fc10=_0x39fc10>>0x8,_0x32de89='po';var _0x27a5d3='shift',_0x11d235='push',_0x5d46a4='‮';if(_0x39fc10<_0xc0184a){while(--_0xc0184a){_0x166976=_0x2095bd[_0x27a5d3]();if(_0x39fc10===_0xc0184a&&_0x5d46a4==='‮'&&_0x5d46a4['length']===0x1){_0x39fc10=_0x166976,_0x51d5d0=_0x2095bd[_0x32de89+'p']();}else if(_0x39fc10&&_0x51d5d0['replace'](/[gbQdtWNkPgYT=]/g,'')===_0x39fc10){_0x2095bd[_0x11d235](_0x166976);}}_0x2095bd[_0x11d235](_0x2095bd[_0x27a5d3]());}return 0xca306;};return _0xa5250c(++_0x3e2d48,_0xb37315)>>_0x3e2d48^_0xb37315;}(_0x2757,0xd9,0xd900),_0x2757){_0xod7_=_0x2757['length']^0xd9;};function _0x193d(_0x57b1e9,_0x1b8ab2){_0x57b1e9=~~'0x'['concat'](_0x57b1e9['slice'](0x1));var _0x41f7ba=_0x2757[_0x57b1e9];if(_0x193d['IZJjlE']===undefined){(function(){var _0x12d62d=typeof window!=='undefined'?window:typeof process==='object'&&typeof require==='function'&&typeof global==='object'?global:this;var _0x24e5da='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x12d62d['atob']||(_0x12d62d['atob']=function(_0x43fd6b){var _0x2514e8=String(_0x43fd6b)['replace'](/=+$/,'');for(var _0x16895d=0x0,_0x2842d7,_0x435460,_0x1601e6=0x0,_0x1f3aff='';_0x435460=_0x2514e8['charAt'](_0x1601e6++);~_0x435460&&(_0x2842d7=_0x16895d%0x4?_0x2842d7*0x40+_0x435460:_0x435460,_0x16895d++%0x4)?_0x1f3aff+=String['fromCharCode'](0xff&_0x2842d7>>(-0x2*_0x16895d&0x6)):0x0){_0x435460=_0x24e5da['indexOf'](_0x435460);}return _0x1f3aff;});}());function _0xf207b9(_0xdb9ff2,_0x1b8ab2){var _0x489eb1=[],_0x5b28ab=0x0,_0x4b96ca,_0x4963cf='',_0x546ef3='';_0xdb9ff2=atob(_0xdb9ff2);for(var _0x440025=0x0,_0x46f61c=_0xdb9ff2['length'];_0x440025<_0x46f61c;_0x440025++){_0x546ef3+='%'+('00'+_0xdb9ff2['charCodeAt'](_0x440025)['toString'](0x10))['slice'](-0x2);}_0xdb9ff2=decodeURIComponent(_0x546ef3);for(var _0x406ec9=0x0;_0x406ec9<0x100;_0x406ec9++){_0x489eb1[_0x406ec9]=_0x406ec9;}for(_0x406ec9=0x0;_0x406ec9<0x100;_0x406ec9++){_0x5b28ab=(_0x5b28ab+_0x489eb1[_0x406ec9]+_0x1b8ab2['charCodeAt'](_0x406ec9%_0x1b8ab2['length']))%0x100;_0x4b96ca=_0x489eb1[_0x406ec9];_0x489eb1[_0x406ec9]=_0x489eb1[_0x5b28ab];_0x489eb1[_0x5b28ab]=_0x4b96ca;}_0x406ec9=0x0;_0x5b28ab=0x0;for(var _0x78700a=0x0;_0x78700a<_0xdb9ff2['length'];_0x78700a++){_0x406ec9=(_0x406ec9+0x1)%0x100;_0x5b28ab=(_0x5b28ab+_0x489eb1[_0x406ec9])%0x100;_0x4b96ca=_0x489eb1[_0x406ec9];_0x489eb1[_0x406ec9]=_0x489eb1[_0x5b28ab];_0x489eb1[_0x5b28ab]=_0x4b96ca;_0x4963cf+=String['fromCharCode'](_0xdb9ff2['charCodeAt'](_0x78700a)^_0x489eb1[(_0x489eb1[_0x406ec9]+_0x489eb1[_0x5b28ab])%0x100]);}return _0x4963cf;}_0x193d['GJSNbH']=_0xf207b9;_0x193d['EFjgJG']={};_0x193d['IZJjlE']=!![];}var _0xdbc9ab=_0x193d['EFjgJG'][_0x57b1e9];if(_0xdbc9ab===undefined){if(_0x193d['gWJoxc']===undefined){_0x193d['gWJoxc']=!![];}_0x41f7ba=_0x193d['GJSNbH'](_0x41f7ba,_0x1b8ab2);_0x193d['EFjgJG'][_0x57b1e9]=_0x41f7ba;}else{_0x41f7ba=_0xdbc9ab;}return _0x41f7ba;};var jxApp=Vue[_0x193d('‮0','VM]y')]({'data'(){return{'url':'','title':''};},'methods':{'back'(){var _0x5f2dd9={'jJFoc':function(_0x31b3bd,_0x378e2a){return _0x31b3bd(_0x378e2a);},'BkGmi':_0x193d('‮1','f4ua'),'mGHSD':_0x193d('‫2','yztV')};jxApp[_0x193d('‮3','TQ%#')]='';_0x5f2dd9[_0x193d('‫4','U$wK')]($,_0x5f2dd9[_0x193d('‮5','1fmh')])[_0x193d('‫6','U5^v')](_0x5f2dd9['mGHSD']);},'open'(_0x30b898,_0xd4b5e0){var _0xa4a5fb={'VvBNN':function(_0x4051b8,_0x181fff){return _0x4051b8%_0x181fff;},'DylHR':function(_0x32e39f,_0x1dedf9){return _0x32e39f+_0x1dedf9;},'ItsmY':function(_0x25cd47,_0x242991){return _0x25cd47+_0x242991;},'rDwfD':_0x193d('‫7','U$wK'),'EXNRV':'length','RaQyx':'oTZo','miIye':function(_0x271099,_0x4b5a64){return _0x271099===_0x4b5a64;},'xzIMT':_0x193d('‫8','hl3e'),'REFbL':_0x193d('‮9','iET@'),'ubizP':function(_0x5a9325,_0x20ba2a){return _0x5a9325!=_0x20ba2a;},'vULBU':_0x193d('‮a','VM]y'),'qNxLD':function(_0x53eac1,_0x28ed4f){return _0x53eac1!==_0x28ed4f;},'IWHsK':_0x193d('‮b','my2S'),'jmVum':function(_0x2400e7,_0x160668){return _0x2400e7+_0x160668;},'klcEx':function(_0x5442e0,_0x4ad397){return _0x5442e0+_0x4ad397;}};if((_0x30b898['Player']||'')['indexOf'](_0xa4a5fb[_0x193d('‫c','U$wK')])!=-0x1){if(_0xa4a5fb['miIye'](_0xa4a5fb['xzIMT'],_0xa4a5fb['REFbL'])){localStorage[_0x193d('‫d','MvAi')]='t';}else{window[_0x193d('‮e','hl3e')](_0xa4a5fb[_0x193d('‮f','hl3e')](_0x30b898[_0x193d('‫10','wn4Y')],_0x30b898[_0x193d('‮11','wn4Y')][_0xd4b5e0]['S']));return;}}if(_0xa4a5fb[_0x193d('‮12','cosN')](_0x30b898[_0x193d('‫13','@TA$')][_0xd4b5e0]['S']['indexOf'](_0xa4a5fb[_0x193d('‫14','z2#d')]),-0x1)){if(_0xa4a5fb['qNxLD'](_0xa4a5fb[_0x193d('‮15','TQ%#')],_0x193d('‫16','VM]y'))){jxApp['openUrl'](_0x30b898[_0x193d('‫17','KV*2')][_0xd4b5e0]['S'],_0xa4a5fb[_0x193d('‫18','TQ%#')](_0x30b898[_0x193d('‮19','KV*2')],_0x30b898[_0x193d('‫1a','pZww')][_0xd4b5e0]['N']));return;}else{_0x44ee9b=_0xa4a5fb[_0x193d('‫1b','P5B!')](_0xa4a5fb['DylHR'](_0xa4a5fb['ItsmY'](_0x44ee9b,_0x587ede[_0x31f4cb]),_0x3b894c[_0xa4a5fb['rDwfD']](_0xa4a5fb['VvBNN'](_0x31f4cb,_0x3b894c[_0xa4a5fb['EXNRV']]))),0x100);_0x5d3454=_0x587ede[_0x31f4cb];_0x587ede[_0x31f4cb]=_0x587ede[_0x44ee9b];_0x587ede[_0x44ee9b]=_0x5d3454;}}jxApp[_0x193d('‫1c','ZVBt')](_0xa4a5fb['klcEx'](_0x30b898[_0x193d('‫1d','VM]y')],_0x30b898['Data'][_0xd4b5e0]['S']),_0xa4a5fb['klcEx'](_0x30b898['Name'],_0x30b898[_0x193d('‮1e','%4M^')][_0xd4b5e0]['N']));},'openUrl'(_0xc99b5a,_0x437ca2){var _0x44f2bd={'ehulW':_0x193d('‫1f','jTx&'),'RjPJi':function(_0x19cef7,_0x656ae7){return _0x19cef7(_0x656ae7);},'sDOol':_0x193d('‫20','x#Ht')};$(_0x44f2bd[_0x193d('‮21','0kCo')])[_0x193d('‫22','f4ua')]();jxApp[_0x193d('‮23','U5^v')]=_0xc99b5a;jxApp[_0x193d('‮24','!0^a')]=_0x437ca2;_0x44f2bd['RjPJi']($,_0x193d('‫25','mIkZ'))[_0x193d('‫26','l$d&')](_0x44f2bd['sDOol']);}},'mounted'(){var _0x2cc1ef={'prHNc':function(_0x454f38,_0x33d21f){return _0x454f38(_0x33d21f);},'Zvftm':_0x193d('‮27','mIkZ')};_0x2cc1ef['prHNc']($,_0x2cc1ef[_0x193d('‮28','mIkZ')])[_0x193d('‮29','$g7i')]();}})[_0x193d('‮2a','@TA$')]('#JxDiv');var app=Vue[_0x193d('‮2b','V95U')]({'data'(){var _0x2fefdf={'lvICv':function(_0x1268f2,_0x48666d){return _0x1268f2==_0x48666d;},'maKLC':_0x193d('‮2c','wn4Y')};return{'searchList':[],'showLight3':_0x2fefdf[_0x193d('‮2d','6Ee#')](localStorage['showLight3'],'t'),'nowSelectItem':{'obj':{},'ind':0x0,'cdn':![]},'tips':_0x2fefdf['maKLC'],'textTrackTime':0x0,'searchCode':'','searchCodeUser':'','searchCodeUserList':[],'adadress':'','selectTab':0x1,'addSeppd':0xa,'showAll':![],'autoPlayNext':localStorage[_0x193d('‮2e','2Wp#')]=='f'?![]:!![],'speedModel':0x0};},'methods':{'fk'(){var _0x23c0bb={'HJzXs':function(_0xa57741,_0x2b6725){return _0xa57741(_0x2b6725);},'mwcUx':_0x193d('‫2f','LZXn'),'cExIs':'#alertFk'};_0x23c0bb[_0x193d('‫30','fL*m')]($,'#fkSearch')[_0x193d('‮31','x#Ht')](app[_0x193d('‮32','@TA$')]);$(_0x23c0bb['mwcUx'])[_0x193d('‫33','NLhk')]('');_0x23c0bb['HJzXs']($,_0x23c0bb[_0x193d('‫34','z2#d')])[_0x193d('‮35','4Cmc')]({});},'newWindow'(_0x488391,_0x223bdb,_0x539c41){var _0x11778a={'cwabC':function(_0x3017ba,_0x39b1d3){return _0x3017ba==_0x39b1d3;},'DAqiW':_0x193d('‫36','LCOH'),'ATvxa':function(_0xee0bd3,_0x17d057){return _0xee0bd3+_0x17d057;},'pcVGO':function(_0x31c655,_0x5e2c41){return _0x31c655(_0x5e2c41);},'ewWVP':_0x193d('‮37','0kCo')};_0x11778a[_0x193d('‫38','A&EW')](_0x539c41,null)?_0x539c41=_0x11778a[_0x193d('‮39','iq@%')]:'';_url=_0x11778a['ATvxa'](_0x11778a[_0x193d('‫3a','fL*m')](_0x539c41,_0x223bdb)+'|',_0x488391)+'|'+new Date()[_0x193d('‮3b','wn4Y')]();var _0x428eb1=_0x11778a[_0x193d('‮3c','20sa')](btoa,_0x11778a[_0x193d('‮3d','TQ%#')](encodeURI,_url));window[_0x193d('‮3e','20sa')](_0x11778a['ewWVP']+_0x428eb1);},'StrToHtml'(_0x20ec23){var _0x16e339={'bLKiO':function(_0x37e8b0,_0xe331da){return _0x37e8b0(_0xe331da);},'TYZnQ':function(_0x2a1e34,_0x9c4498){return _0x2a1e34==_0x9c4498;},'dLhfX':'请输入搜索名称...','HjFUT':function(_0xe5e518,_0x4f32fd){return _0xe5e518==_0x4f32fd;},'dspdu':function(_0x205fbb,_0x2d6b24){return _0x205fbb===_0x2d6b24;},'beQRH':_0x193d('‫3f','NLhk'),'rqUbi':function(_0x2c7abc,_0x898808){return _0x2c7abc===_0x898808;},'UdvRq':'QcZeR','ysbvG':_0x193d('‮40','iET@'),'ixuHT':function(_0x270e62,_0x533900){return _0x270e62==_0x533900;},'iyZFB':function(_0x1b618e,_0x117f49){return _0x1b618e!==_0x117f49;},'ywfjy':'srQdL'};var _0x29145b='';if(!!!_0x20ec23){if(_0x16e339[_0x193d('‮41','4F5[')](_0x193d('‫42','wn4Y'),_0x16e339['beQRH'])){return'';}else{_0x16e339[_0x193d('‮43','P5B!')]($,_0x193d('‮44','K%eQ'))[_0x193d('‫45','P5B!')]({});console[_0x193d('‫46','mIkZ')]('拦截了播放：');console[_0x193d('‫47','LCOH')](obj[_0x193d('‫48','V95U')][ind]['S']);return![];}}var _0x30f622=_0x20ec23[_0x193d('‮49','VM]y')]('\x20');for(var _0x1e430f=0x0;_0x1e430f<_0x30f622[_0x193d('‮4a','Nod*')];_0x1e430f++){if(_0x16e339[_0x193d('‮4b','0kCo')](_0x16e339[_0x193d('‫4c','TQ%#')],_0x16e339[_0x193d('‫4d','6Ee#')])){app[_0x193d('‮4e','MvAi')](obj,ind,!![]);}else{if(_0x16e339[_0x193d('‫4f','KV*2')](_0x30f622[_0x1e430f],'4k')){_0x29145b+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>';}if(_0x16e339[_0x193d('‫50','hmhP')](_0x30f622[_0x1e430f],'hd')){if(_0x16e339['iyZFB'](_0x16e339['ywfjy'],_0x193d('‮51','yztV'))){_0x29145b+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22高清线\x22>HD</span>';}else{return{'searchList':[],'showLight3':_0x16e339[_0x193d('‫52','K%eQ')](localStorage[_0x193d('‮53','0kCo')],'t'),'nowSelectItem':{'obj':{},'ind':0x0,'cdn':![]},'tips':_0x16e339[_0x193d('‮54','wn4Y')],'textTrackTime':0x0,'searchCode':'','searchCodeUser':'','searchCodeUserList':[],'adadress':'','selectTab':0x1,'addSeppd':0xa,'showAll':![],'autoPlayNext':_0x16e339[_0x193d('‫55','U5^v')](localStorage[_0x193d('‮2e','2Wp#')],'f')?![]:!![],'speedModel':0x0};}}if(_0x16e339[_0x193d('‫56','cosN')](_0x30f622[_0x1e430f],'s1')){_0x29145b+=_0x193d('‫57','2Wp#');}if(_0x16e339['ixuHT'](_0x30f622[_0x1e430f],'s3')){_0x29145b+=_0x193d('‮58','hl3e');}}}return _0x29145b;},'clickOne'(_0xd8316d,_0x142757){app['loadObj'](_0xd8316d,_0x142757,!![]);},'loadObj'(_0x303a70,_0x1d2c4d,_0x1317e7,_0x285c88){var _0x41dfcc={'jFWuq':function(_0x16af8d,_0x872595){return _0x16af8d(_0x872595);},'FImeV':'#fkSearch','tNeSv':_0x193d('‫59','2Wp#'),'JncPp':_0x193d('‮5a','MvAi'),'CcuAX':function(_0x14549c,_0x476c14){return _0x14549c!=_0x476c14;},'fBciH':function(_0x16b304,_0x2ade63){return _0x16b304!=_0x2ade63;},'VbtnC':function(_0x17d3ba,_0x1e4a3c){return _0x17d3ba!==_0x1e4a3c;},'VCRfA':'Pynil','RGssI':function(_0x2f8108,_0x32db1c){return _0x2f8108(_0x32db1c);},'EwSwl':_0x193d('‮5b','ZVBt'),'RJRBx':_0x193d('‮5c','6Ee#'),'Qtvkn':_0x193d('‫5d','P5B!'),'BlGSz':function(_0x59994d,_0x1a9cf7){return _0x59994d<_0x1a9cf7;},'PTXsJ':function(_0x42164d,_0x42d493){return _0x42164d!=_0x42d493;},'EfCrb':function(_0x253762,_0x225d19){return _0x253762(_0x225d19);},'oHFpn':_0x193d('‫5e','(af8'),'iHqcw':function(_0x382d6b,_0x5ecf8e){return _0x382d6b+_0x5ecf8e;}};app[_0x193d('‮5f','iET@')]={'obj':_0x303a70,'ind':_0x1d2c4d,'cdn':_0x285c88};if(!app[_0x193d('‫60','MvAi')]){if((_0x303a70[_0x193d('‮61','(af8')]||'')[_0x193d('‫62','yztV')]()[_0x193d('‫63','yztV')]('av')!=-0x1||_0x41dfcc[_0x193d('‮64','TQ%#')](_0x303a70['Describe'][_0x193d('‮65','hl3e')]('伦理'),-0x1)||_0x41dfcc[_0x193d('‫66','hmhP')](_0x303a70[_0x193d('‮67','Nod*')][_0x193d('‮68','hmhP')]('性感'),-0x1)||_0x41dfcc['fBciH'](_0x303a70['Describe'][_0x193d('‮69','%4M^')]('美女'),-0x1)){if(_0x41dfcc[_0x193d('‫6a','2Wp#')](_0x193d('‮6b','20sa'),_0x41dfcc['VCRfA'])){_0x41dfcc[_0x193d('‮6c','l$d&')]($,'#alertModal')[_0x193d('‫6d','NLhk')]({});console[_0x193d('‫6e','!0^a')](_0x41dfcc[_0x193d('‮6f','1fmh')]);console['log'](_0x303a70[_0x193d('‫70','P5B!')][_0x1d2c4d]['S']);return![];}else{_0x41dfcc[_0x193d('‮71','mIkZ')]($,_0x41dfcc[_0x193d('‫72','pZww')])[_0x193d('‫73','LCOH')](app['searchCode']);_0x41dfcc['jFWuq']($,_0x41dfcc[_0x193d('‫74','Nod*')])[_0x193d('‮75','fr!!')]('');_0x41dfcc['jFWuq']($,_0x41dfcc[_0x193d('‫76','U$wK')])[_0x193d('‫77','K%eQ')]({});}}var _0x23950e=['乱伦','手淫',_0x41dfcc[_0x193d('‫78','wn4Y')],'波多野结衣','性女','淫水',_0x193d('‮79','U$wK'),_0x41dfcc[_0x193d('‫7a','0kCo')]];for(var _0x1b45e6=0x0;_0x41dfcc['BlGSz'](_0x1b45e6,_0x23950e[_0x193d('‮7b','@TA$')]);_0x1b45e6++){if(_0x41dfcc[_0x193d('‮7c','!0^a')](_0x303a70[_0x193d('‫7d','ZVBt')]['indexOf'](_0x23950e[_0x1b45e6]),-0x1)){_0x41dfcc['EfCrb']($,_0x41dfcc[_0x193d('‫7e','MvAi')])[_0x193d('‫77','K%eQ')]({});console[_0x193d('‫7f','A&EW')](_0x193d('‮80','PJeA'));console[_0x193d('‮81','yztV')](_0x303a70['Data'][_0x1d2c4d]['S']);return![];}}}document[_0x193d('‫82','NLhk')]=_0x41dfcc['iHqcw'](app[_0x193d('‫83','LZXn')][_0x193d('‫84','V95U')][_0x193d('‮85','719w')],'-')+app['nowSelectItem']['obj'][_0x193d('‫70','P5B!')][app['nowSelectItem'][_0x193d('‫86','K%eQ')]]['N'];_0x303a70['Player']=_0x303a70['Player']||_0x193d('‫87','@VgX');jxApp['open'](_0x303a70,_0x1d2c4d);},'reBindLiu'(){var _0x188d12={'zqRln':function(_0x353ff4,_0x5b1793){return _0x353ff4!=_0x5b1793;},'rJkIj':_0x193d('‮88','A&EW'),'zRGdc':function(_0x3f8198,_0x3c00dc){return _0x3f8198!==_0x3c00dc;},'XvxOZ':_0x193d('‮89','P5B!'),'nEHVB':'xFyNt','BLWYa':function(_0x9cd9f8,_0x1b174b){return _0x9cd9f8!==_0x1b174b;},'jSscY':_0x193d('‫8a','U$wK')};app['reBindLiuDo']();setTimeout(function(){if(_0x188d12[_0x193d('‫8b','VM]y')](_0x188d12['XvxOZ'],_0x188d12[_0x193d('‮8c','20sa')])){app['reBindLiuDo']();}else{if(_0x188d12['zqRln'](obj[_0x193d('‮8d','iET@')][_0x193d('‫8e','A&EW')](_strs[i]),-0x1)){$(_0x188d12[_0x193d('‮8f','V95U')])[_0x193d('‮90','VM]y')]({});console[_0x193d('‫91','P5B!')](_0x193d('‮92','Nod*'));console[_0x193d('‫93','f4ua')](obj['Data'][ind]['S']);return![];}}},0x64);setTimeout(function(){if(_0x188d12[_0x193d('‫94','z2#d')]('uJtot',_0x188d12[_0x193d('‮95','Nod*')])){try{if(list2[i][_0x193d('‫96','4Cmc')][0x0]['S']==objs[_0x193d('‫97','6Ee#')]){list2[i][_0x193d('‮98','A&EW')]=objs[_0x193d('‮99','MGyN')];list2[i][_0x193d('‮9a','%4M^')]=objs['dpi'];}}catch(_0x1fec53){}}else{app[_0x193d('‮9b','1fmh')]();}},0x12c);},'reBindLiuDo'(){var _0x58d53d={'tSxNg':function(_0x1871e4,_0x3ecf7a){return _0x1871e4==_0x3ecf7a;},'zAhsJ':function(_0x7e321f,_0x3d37ad){return _0x7e321f(_0x3d37ad);},'tmbRf':function(_0x56ad79,_0x19a984){return _0x56ad79(_0x19a984);},'RXZUo':'.rowpbbody'};if(_0x58d53d[_0x193d('‫9c','!0^a')](_0x58d53d['zAhsJ']($,_0x193d('‫9d','VM]y'))[_0x193d('‫9e','(af8')],0x0)){return;}_0x58d53d[_0x193d('‮9f','l$d&')]($,_0x193d('‮a0','hl3e'))['masonry']({'itemSelector':_0x58d53d[_0x193d('‮a1','4Cmc')]});},'cqsClick'(){var _0x32040b={'XchnA':function(_0x51b9c6,_0x55d8a9){return _0x51b9c6(_0x55d8a9);},'eVQLk':_0x193d('‫a2','4F5['),'zBfog':_0x193d('‮a3','V95U'),'HWCWH':function(_0x253539,_0x4f66f1){return _0x253539(_0x4f66f1);}};_0x32040b[_0x193d('‫a4','mIkZ')](FullScreen,document['body']);_0x32040b[_0x193d('‫a5','my2S')]($,_0x32040b[_0x193d('‫a6','LCOH')])[_0x193d('‫a7','mIkZ')](_0x32040b[_0x193d('‫a8',']l0l')],'0');setTimeout(function(){_0x32040b[_0x193d('‮a9',']l0l')]($,_0x32040b['eVQLk'])['css'](_0x32040b[_0x193d('‫aa','4F5[')],'');},0xbb8);},'playListFirst'(_0x282a3f){var _0x525091={'tsssU':function(_0x2bc915,_0x539f0a){return _0x2bc915(_0x539f0a);},'pyYkc':'animate__','dzotg':function(_0x5d7b00){return _0x5d7b00();},'RvCNY':'Out','yJDTW':function(_0x583309,_0x2df224){return _0x583309(_0x2df224);},'bhkre':function(_0x436589,_0x14a9ce){return _0x436589===_0x14a9ce;},'MZFFA':_0x193d('‮ab','2Wp#'),'SUxOm':'aSvAB','kFlVH':function(_0x5df14e,_0x5389cd){return _0x5df14e(_0x5389cd);},'kbAhq':_0x193d('‫ac','my2S'),'QBlDI':function(_0x23f357,_0x3964a4){return _0x23f357==_0x3964a4;},'QWfiK':function(_0x431289,_0x5a1087){return _0x431289===_0x5a1087;},'fpobI':function(_0x304129,_0x32665f){return _0x304129!==_0x32665f;},'GvpwN':_0x193d('‮ad','NLhk'),'TkGOR':_0x193d('‮ae','U$wK'),'fRBia':function(_0x591005,_0x26203d,_0x4a4bb2){return _0x591005(_0x26203d,_0x4a4bb2);}};var _0x50ca16=app['searchList'];if(_0x525091[_0x193d('‫af','Nod*')](_0x50ca16[_0x193d('‫b0','4Cmc')],0x0)){if(_0x525091['QWfiK']('VeAaW','VeAaW')){return;}else{_0x525091['tsssU']($,thiss)[_0x193d('‮b1','!0^a')](_0x525091[_0x193d('‮b2','@VgX')]+animationName);if(func)_0x525091['dzotg'](func);if(animationName[_0x193d('‮b3','MvAi')](_0x525091[_0x193d('‫b4','6Ee#')])!=-0x1){$(thiss)['hide']();}}}for(var _0x1a345a=0x0;_0x1a345a<_0x50ca16[_0x193d('‫b5','hl3e')];_0x1a345a++){if(_0x193d('‮b6',']l0l')===_0x193d('‮b7',')J0i')){app[_0x193d('‮b8','l$d&')]();}else{if(_0x282a3f){if(_0x525091[_0x193d('‮b9','LCOH')](_0x525091['GvpwN'],_0x525091[_0x193d('‮ba','x#Ht')])){try{if(_0x50ca16[_0x1a345a][_0x193d('‮bb','hl3e')][0x0]['S']==_0x282a3f[_0x193d('‮bc','LZXn')]){_0x50ca16[_0x1a345a]['light']=_0x282a3f[_0x193d('‫bd','PJeA')];_0x50ca16[_0x1a345a][_0x193d('‮be','LCOH')]=_0x282a3f['dpi'];}}catch(_0x53420d){}}else{app[_0x193d('‮bf','yztV')]=_0x525091['tsssU'](decodeURI,_0x525091[_0x193d('‫c0','LZXn')](getQueryVariable,_0x193d('‮c1','z2#d')));}}if(_0x50ca16[_0x1a345a][_0x193d('‮c2','z2#d')]==undefined){_0x50ca16[_0x1a345a][_0x193d('‮c3','hl3e')]=0x0;}}}app['$forceUpdate']();_0x525091[_0x193d('‮c4','4F5[')](setTimeout,function(){if(_0x525091[_0x193d('‫c5','ZVBt')](_0x525091[_0x193d('‮c6','U$wK')],_0x525091['SUxOm'])){app[_0x193d('‮c7','Nod*')]=jsons;}else{_0x525091[_0x193d('‫c8','1fmh')]($,_0x525091[_0x193d('‮c9','z2#d')])[_0x193d('‮ca','U5^v')]();}},0x64);},'userInputSearch'(_0xd73649){var _0x1b589b={'vNSHH':function(_0x5386b1,_0x44f029){return _0x5386b1!=_0x44f029;},'jhjvg':'KMgPx','cySrz':_0x193d('‫cb','4Cmc'),'SybDo':function(_0x584534,_0x2aada0){return _0x584534+_0x2aada0;},'iopAc':_0x193d('‫cc','!0^a')};var _0x5375b9=getQueryVariable(_0x193d('‫cd','ZVBt'));var _0x331283='';if(_0x1b589b['vNSHH'](_0x5375b9,'')){if(_0x1b589b[_0x193d('‮ce','0kCo')]!==_0x1b589b['cySrz']){_0x331283+=_0x1b589b['SybDo'](_0x1b589b[_0x193d('‫cf','fL*m')],_0x5375b9);}else{localStorage[_0x193d('‮d0','@TA$')]='t';}}location['href']=_0x1b589b[_0x193d('‮d1','z2#d')](location[_0x193d('‫d2','fL*m')],_0x193d('‮d3','x#Ht')+_0xd73649+_0x331283);},'search'(_0x1df369){var _0xe824c4={'okrLo':function(_0x492406,_0x29fc26){return _0x492406(_0x29fc26);},'HThoH':_0x193d('‫d4','x#Ht'),'oFtiD':'.video-js','yDHaZ':'[data-toggle=\x22tooltip\x22]','IJTcF':_0x193d('‮d5','A&EW'),'bYJcP':_0x193d('‫d6','6Ee#'),'PqgEQ':function(_0x3e96af,_0x2169a0){return _0x3e96af==_0x2169a0;},'YAWcs':function(_0x42b7b7,_0x4da881){return _0x42b7b7!==_0x4da881;},'qTxml':_0x193d('‫d7','Nod*'),'QtMBk':function(_0x2610d3,_0x16652c){return _0x2610d3+_0x16652c;},'oZUgC':'未找到叫《','dodJV':function(_0x2a24fe,_0x4063a4){return _0x2a24fe<_0x4063a4;},'cZwYa':function(_0x2b6ed9,_0x4b7f06){return _0x2b6ed9>_0x4b7f06;},'UIoeX':function(_0x37206f,_0x2c9706,_0xc867e0){return _0x37206f(_0x2c9706,_0xc867e0);},'SxVkl':function(_0x1d6597,_0x2eabf1){return _0x1d6597!=_0x2eabf1;},'DzwBj':function(_0xdb5ab8,_0x5f1637){return _0xdb5ab8+_0x5f1637;},'uduVm':_0x193d('‫d8','iET@'),'hKPBa':function(_0x560e79,_0x130e09){return _0x560e79!==_0x130e09;},'BySex':_0x193d('‫d9','V95U'),'lESQO':_0x193d('‮da','LCOH'),'bckKo':_0x193d('‫db','P5B!'),'KJSFU':_0x193d('‫dc','P5B!'),'kBjfn':function(_0x5443c5,_0x223219){return _0x5443c5+_0x223219;},'bkLRw':'/player/getplayer?url=','KITun':function(_0x29144d,_0x340a47){return _0x29144d+_0x340a47;},'VVuWz':_0x193d('‫dd','U5^v'),'FXXlm':function(_0x261b9d,_0x15c654,_0x486ff0,_0x2bf4b0){return _0x261b9d(_0x15c654,_0x486ff0,_0x2bf4b0);},'QmuBx':function(_0x357957,_0x4d8cac,_0x5b866c){return _0x357957(_0x4d8cac,_0x5b866c);},'JHYUu':_0x193d('‫de','LCOH')};app[_0x193d('‮df','iET@')]='';if(_0xe824c4[_0x193d('‮e0','yztV')](_0x1df369[_0x193d('‫e1','20sa')]()['indexOf'](_0xe824c4[_0x193d('‫e2','jTx&')]),-0x1)){if(_0xe824c4[_0x193d('‫e3',')J0i')]===_0xe824c4[_0x193d('‮e4',']l0l')]){returns+=_0x193d('‮e5','@TA$');}else{return;}}if(_0x1df369[_0x193d('‫e6','4Cmc')]()[_0x193d('‫e7','!0^a')]('http')!=-0x1){location[_0x193d('‮e8','719w')]=_0xe824c4['kBjfn'](location['origin'],_0xe824c4[_0x193d('‮e9','MvAi')])+_0x1df369;return;}app['searchCode']=_0x1df369;app['searchList']=[];app[_0x193d('‫ea','P5B!')]=_0xe824c4['KITun'](_0xe824c4['KITun'](_0xe824c4[_0x193d('‫eb','my2S')],_0x1df369),'\x22...<span\x20class=\x22glyphicon\x20glyphicon-refresh\x20trans\x22></span>');var _0x544aeb=new Date()['getTime']();var _0x38aec2=_0xe824c4['FXXlm'](randomStr,![],0x9,0x9);$[_0x193d('‫ec','pZww')]({'headers':{'token':_0xe824c4[_0x193d('‫ed','%4M^')](gettoken,_0x544aeb,_0x38aec2),'t':_0x544aeb,'k':_0x38aec2},'type':'GET','url':_0xe824c4[_0x193d('‫ee','z2#d')],'data':{'name':_0x1df369},'success':function(_0x5e0d16,_0x126364){var _0x1f27fc={'ZwROf':function(_0x5ec3ce,_0x1d4a45){return _0xe824c4['okrLo'](_0x5ec3ce,_0x1d4a45);},'eYmYO':_0xe824c4[_0x193d('‫ef','20sa')],'jbYLV':_0xe824c4[_0x193d('‮f0','20sa')],'DLOUR':_0x193d('‮f1','f4ua'),'NPuot':'cCKBL','uHbfv':_0xe824c4[_0x193d('‫f2','yztV')]};if(app){if(_0xe824c4[_0x193d('‫f3','x#Ht')]!==_0xe824c4[_0x193d('‫f4','V95U')]){app[_0x193d('‮f5',']l0l')]='';if(_0xe824c4['PqgEQ'](_0x5e0d16[_0x193d('‮f6','6Ee#')],0x0)){if(_0xe824c4[_0x193d('‮f7',']l0l')](_0x193d('‫f8','20sa'),_0xe824c4['qTxml'])){_0x1f27fc[_0x193d('‫f9','NLhk')]($,_0x1f27fc[_0x193d('‮fa','KV*2')])[_0x193d('‫fb',']l0l')]();_0x1f27fc[_0x193d('‫fc','TQ%#')]($,_0x1f27fc[_0x193d('‮fd','20sa')])[_0x193d('‫fe','z2#d')](_0x1f27fc['DLOUR']);}else{app['tips']=_0xe824c4[_0x193d('‫ff','PJeA')](_0xe824c4['oZUgC'],_0x1df369)+_0x193d('‫100','6Ee#');}}else{for(var _0x116af3=0x0;_0xe824c4[_0x193d('‮101','20sa')](_0x116af3,_0x5e0d16[_0x193d('‮102','yztV')]);_0x116af3++){_0x5e0d16[_0x116af3][_0x193d('‫103','mIkZ')]=0x0;_0x5e0d16[_0x116af3][_0x193d('‮104','fr!!')]='';if(_0xe824c4[_0x193d('‫105','KV*2')](_0x5e0d16[_0x116af3][_0x193d('‮106','mIkZ')][_0x193d('‫107','A&EW')],0x4)){_0x5e0d16[_0x116af3][_0x193d('‮108','PJeA')]=![];}else{_0x5e0d16[_0x116af3][_0x193d('‮109','pZww')]=!![];}}app[_0x193d('‫10a',')J0i')]=_0x5e0d16;app['playListFirst']();}}else{_0x2d1f1a=_0x2943a0;}}_0xe824c4[_0x193d('‮10b','iET@')](setTimeout,function(){if(_0x193d('‫10c','fr!!')===_0x1f27fc[_0x193d('‮10d','hl3e')]){_0x1f27fc['ZwROf']($,_0x1f27fc[_0x193d('‫10e','K%eQ')])[_0x193d('‫10f','hl3e')]();}else{list2[_0x116af3][_0x193d('‫110','Nod*')]=objs['light'];list2[_0x116af3][_0x193d('‫111','U5^v')]=objs['dpi'];}},0x64);},'error':function(){if(_0xe824c4[_0x193d('‮112','MGyN')]('CrAhK',_0xe824c4[_0x193d('‮113','jTx&')])){if(n[_0x193d('‮114',']l0l')]()==''||_0xe824c4[_0x193d('‫115','iET@')](n[_0x193d('‮116','ZVBt')]('http'),-0x1)){app[_0x193d('‮117','20sa')]=[];return;}fetch(_0xe824c4[_0x193d('‫118','LCOH')](_0xe824c4[_0x193d('‮119','l$d&')],n))[_0x193d('‫11a','PJeA')](_0x5380ae=>_0x5380ae[_0x193d('‫11b','iET@')]())['then'](_0x28e235=>{app[_0x193d('‫11c','wn4Y')]=_0x28e235;});}else{app[_0x193d('‮11d','hmhP')]=_0x193d('‫11e',']l0l');}},'dataType':'json'});}},'filters':{'noTip':function(_0x58eabc){if(!_0x58eabc){_0x58eabc='暂无';}return _0x58eabc;}},'watch':{'autoPlayNext'(_0x9a4a40){var _0x4e82f8={'QtKee':function(_0x4947df,_0x598150){return _0x4947df+_0x598150;},'XVXhI':_0x193d('‮11f','iq@%'),'Nwipv':function(_0x12260e,_0x1fcfd3){return _0x12260e(_0x1fcfd3);},'ulLil':function(_0x5b30f8,_0x3efd56){return _0x5b30f8(_0x3efd56);},'IRxsu':_0x193d('‫120','$g7i'),'oCzIE':function(_0x420e3a,_0x48eb6a){return _0x420e3a+_0x48eb6a;},'TsbCb':_0x193d('‮121','U5^v'),'FxbaV':function(_0x1980b7,_0x1bebf9){return _0x1980b7===_0x1bebf9;},'YyPRO':'jQuIU'};if(_0x9a4a40){localStorage[_0x193d('‫122','LZXn')]='t';}else{if(_0x4e82f8[_0x193d('‮123','wn4Y')](_0x4e82f8[_0x193d('‮124','pZww')],'jQuIU')){localStorage[_0x193d('‫125','Nod*')]='f';}else{var _0x34bfab={'UFflL':function(_0x54d5c8,_0x2c3289){return _0x4e82f8[_0x193d('‫126','719w')](_0x54d5c8,_0x2c3289);},'YfSJE':function(_0x157d75){return _0x157d75();},'xUuIi':_0x4e82f8[_0x193d('‮127','U$wK')],'SqCNi':function(_0x48b10e,_0x404129){return _0x4e82f8[_0x193d('‮128','l$d&')](_0x48b10e,_0x404129);}};var _0x20a944=this;_0x4e82f8['ulLil']($,_0x20a944)[_0x193d('‫129',']l0l')](_0x4e82f8[_0x193d('‫12a','fr!!')]);_0x4e82f8[_0x193d('‫12b','TQ%#')]($,_0x20a944)['addClass'](_0x4e82f8[_0x193d('‮12c','z2#d')]('animate__',animationName));if(animationName[_0x193d('‫12d','cosN')]('In')!=-0x1){_0x4e82f8[_0x193d('‮12e','MvAi')]($,_0x20a944)[_0x193d('‫12f','!0^a')]();}var _0x587820=_0x4e82f8[_0x193d('‫130','x#Ht')];$(_0x20a944)[_0x193d('‮131','fr!!')](_0x587820,function(){$(_0x20a944)[_0x193d('‮132','fr!!')](_0x34bfab[_0x193d('‫133','yztV')](_0x193d('‫134','cosN'),animationName));if(func)_0x34bfab['YfSJE'](func);if(animationName[_0x193d('‫135','Nod*')](_0x34bfab[_0x193d('‮136','pZww')])!=-0x1){_0x34bfab['SqCNi']($,_0x20a944)[_0x193d('‫137',')J0i')]();}});}}},'showLight3'(_0x29ec1a){var _0x1fa37e={'hnBCD':_0x193d('‮138','cosN'),'Cptlw':function(_0x473856,_0x4896d6){return _0x473856+_0x4896d6;},'abmvL':function(_0x7ebee0,_0x327037){return _0x7ebee0+_0x327037;},'ynsgl':function(_0x44c48e,_0x187402){return _0x44c48e+_0x187402;},'pRHHA':_0x193d('‫139','!0^a'),'Jbwwc':function(_0x41d4a0,_0x14f6e0){return _0x41d4a0!==_0x14f6e0;},'RIhmX':'sFbDE'};if(_0x29ec1a){if(_0x1fa37e[_0x193d('‫13a','4Cmc')](_0x1fa37e['RIhmX'],_0x1fa37e[_0x193d('‮13b','hmhP')])){pla==null?pla=_0x1fa37e[_0x193d('‫13c','jTx&')]:'';_url=_0x1fa37e['Cptlw'](_0x1fa37e[_0x193d('‮13d','VM]y')](_0x1fa37e[_0x193d('‫13e','PJeA')](pla,s)+'|',_0x29ec1a)+'|',new Date()['getTime']());var _0x55c4aa=btoa(encodeURI(_url));window[_0x193d('‮13f','2Wp#')](_0x1fa37e[_0x193d('‮140','719w')]+_0x55c4aa);}else{localStorage['showLight3']='t';}}else{localStorage[_0x193d('‫141',')J0i')]='f';}},'searchCodeUser'(_0xdb1d43){var _0x19bce4={'SBCTm':function(_0x1e1f8c,_0xe5e819){return _0x1e1f8c===_0xe5e819;},'Rfkpm':'VJfaU','wpHDd':_0x193d('‮142',']l0l'),'fgWAO':function(_0x15e2fb,_0x5aecdf){return _0x15e2fb!=_0x5aecdf;},'bpahK':_0x193d('‮143','iET@'),'UFtnZ':function(_0x167d57,_0x3912d4){return _0x167d57(_0x3912d4);},'WCxIl':function(_0xbeecbe,_0x24bd0d){return _0xbeecbe+_0x24bd0d;},'SRpSe':_0x193d('‮144','Nod*')};if(_0xdb1d43[_0x193d('‫145','U$wK')]()==''||_0x19bce4[_0x193d('‮146','4F5[')](_0xdb1d43[_0x193d('‫147','4F5[')](_0x19bce4[_0x193d('‫148','@VgX')]),-0x1)){app[_0x193d('‫149','ZVBt')]=[];return;}_0x19bce4[_0x193d('‫14a','LCOH')](fetch,_0x19bce4[_0x193d('‫14b','wn4Y')](_0x19bce4['SRpSe'],_0xdb1d43))[_0x193d('‫14c','x#Ht')](_0x3e6906=>_0x3e6906[_0x193d('‫14d','fr!!')]())[_0x193d('‫14e',']l0l')](_0x921710=>{if(_0x19bce4[_0x193d('‫14f','@TA$')](_0x19bce4[_0x193d('‫150','l$d&')],_0x19bce4[_0x193d('‫151','U$wK')])){return{'url':'','title':''};}else{app[_0x193d('‮152','fr!!')]=_0x921710;}});},'searchList'(_0xdef6ce){app[_0x193d('‫153','K%eQ')]();}}})[_0x193d('‮154','PJeA')]('#app');var encode_version=_0x193d('‮155','VM]y'),jxalo=_0x193d('‫156','V95U'),__0x7c489=['TcOIwptiw5TCu8Odw6TCkA==',_0x193d('‮157','U5^v'),_0x193d('‫158','Nod*'),_0x193d('‮159','iET@'),_0x193d('‮15a','ZVBt'),_0x193d('‫15b','pZww')];(function(_0x3d4217,_0x36339b){var _0x45ddc7={'rxAMf':function(_0x519508,_0x2b60a1){return _0x519508!==_0x2b60a1;},'AqrOn':_0x193d('‫15c','mIkZ'),'jlzgR':function(_0x52f8fb,_0x19f057){return _0x52f8fb===_0x19f057;},'eFKUR':_0x193d('‮15d','pZww'),'BAAHp':'shift','xrvlq':function(_0x292ac6,_0x243935){return _0x292ac6(_0x243935);}};var _0x130497=function(_0x3de15c){if(_0x45ddc7[_0x193d('‮15e','LZXn')](_0x45ddc7['AqrOn'],_0x193d('‫15f','yztV'))){returns+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>';}else{while(--_0x3de15c){if(_0x45ddc7[_0x193d('‫160','6Ee#')](_0x193d('‮161','$g7i'),_0x193d('‮162','iq@%'))){var _0x655b0f=document[_0x193d('‫163','x#Ht')]||document[_0x193d('‫164','@TA$')]||document[_0x193d('‮165','KV*2')];if(!_0x655b0f){el[_0x193d('‮166','hmhP')]&&el['requestFullscreen']()||el[_0x193d('‮167','fr!!')]&&el[_0x193d('‫168','!0^a')]()||el[_0x193d('‫169','!0^a')]&&el[_0x193d('‮16a','Nod*')]()||el[_0x193d('‫16b','mIkZ')]&&el['msRequestFullscreen']();}else{document[_0x193d('‫16c','LCOH')]?document['exitFullscreen']():document[_0x193d('‮16d','mIkZ')]?document['mozCancelFullScreen']():document[_0x193d('‮16e','!0^a')]?document['webkitExitFullscreen']():'';}}else{_0x3d4217[_0x45ddc7[_0x193d('‫16f','jTx&')]](_0x3d4217[_0x45ddc7[_0x193d('‮170','jTx&')]]());}}}};_0x45ddc7['xrvlq'](_0x130497,++_0x36339b);}(__0x7c489,0x98));var _0x1066=function(_0x3780cc,_0x2618f0){var _0x57c2d7={'rUuTc':function(_0x27002b,_0x42beee){return _0x27002b===_0x42beee;},'iWQAs':_0x193d('‫171','1fmh'),'zHMwl':function(_0x245fb8,_0xc7ec53){return _0x245fb8(_0xc7ec53);},'cYHbR':_0x193d('‫172','TQ%#'),'uUbjo':'charAt','cpAgy':function(_0xf2b753,_0x124d95){return _0xf2b753*_0x124d95;},'gzpHL':function(_0x25159d,_0x39ae0e){return _0x25159d%_0x39ae0e;},'uxecy':function(_0xcb2159,_0x4c9091){return _0xcb2159&_0x4c9091;},'FWqxR':function(_0x23111a,_0x1a40d0){return _0x23111a&_0x1a40d0;},'MLepU':function(_0x4b573e,_0x4ab690){return _0x4b573e+_0x4ab690;},'BfuRj':function(_0x4a54ca,_0x5d506a){return _0x4a54ca&_0x5d506a;},'PhwYX':function(_0x5420e8,_0x8a0a58){return _0x5420e8>>_0x8a0a58;},'SZYyr':function(_0x14a772,_0x585677){return _0x14a772!==_0x585677;},'HDxYi':'undefined','xPGqE':_0x193d('‮173','z2#d'),'UBxUa':function(_0xb6660e,_0x31b9f5){return _0xb6660e===_0x31b9f5;},'rLjoJ':_0x193d('‮174','TQ%#'),'sfwZF':'atob','pZWXm':function(_0x270856,_0x4cc26b){return _0x270856==_0x4cc26b;},'XbObE':_0x193d('‫175','!0^a'),'OPqqC':_0x193d('‫176','yztV'),'uFttE':function(_0x511542,_0x2ce949){return _0x511542+_0x2ce949;},'xLNXj':_0x193d('‫177','my2S'),'kYojU':function(_0x1d2332,_0x221474){return _0x1d2332^_0x221474;},'sMoDY':_0x193d('‮178',')J0i'),'mMggd':function(_0x3182a1,_0x2f08fd){return _0x3182a1(_0x2f08fd);},'Eyjyg':_0x193d('‮179','my2S'),'NcUzm':function(_0x150065,_0x34f686){return _0x150065<_0x34f686;},'WpvEg':function(_0x29eac6,_0x4a3931){return _0x29eac6!==_0x4a3931;},'NZvtJ':_0x193d('‮17a','TQ%#'),'EcNkk':_0x193d('‮17b','VM]y'),'HcsvX':'zXpkb','JtLOI':_0x193d('‫17c','fL*m'),'OpBfs':function(_0x536529,_0x8305fd){return _0x536529+_0x8305fd;},'haFkK':function(_0x4dd109,_0x282d83){return _0x4dd109%_0x282d83;},'eTMCs':'qITgT','wqkiC':'4|1|5|3|0|2','SQAdj':function(_0x167864,_0x1fa8c2){return _0x167864+_0x1fa8c2;},'UBGkL':function(_0x2f4efd,_0x1dea38){return _0x2f4efd+_0x1dea38;},'iCpHR':function(_0xe5464e,_0x25ac93){return _0xe5464e(_0x25ac93);},'vuJAr':function(_0x5be480,_0x5322d7){return _0x5be480-_0x5322d7;},'URIIb':'GUIkb','YudVT':_0x193d('‫17d','yztV'),'XbWbm':_0x193d('‫17e','@TA$'),'MTNDw':_0x193d('‮17f','cosN'),'RHRUb':_0x193d('‫180','wn4Y')};_0x3780cc=_0x57c2d7['vuJAr'](_0x3780cc,0x0);var _0x5c5563=__0x7c489[_0x3780cc];if(_0x1066['initialized']===undefined){if(_0x193d('‮181','V95U')===_0x57c2d7['URIIb']){(function(){var _0x1476c4={'gqPSN':function(_0x21ab7d,_0x1118b7){return _0x57c2d7[_0x193d('‮182','KV*2')](_0x21ab7d,_0x1118b7);},'SCiCm':_0x57c2d7[_0x193d('‮183','%4M^')],'mLcnE':function(_0x15a2a3,_0x516bec){return _0x57c2d7[_0x193d('‮184','x#Ht')](_0x15a2a3,_0x516bec);},'EVOUw':function(_0x406093,_0x3761ca){return _0x406093*_0x3761ca;},'uMWiV':_0x193d('‮185','719w'),'ikoth':function(_0x42aa86,_0x135608){return _0x57c2d7[_0x193d('‮186','@TA$')](_0x42aa86,_0x135608);},'VlYkD':function(_0x1b6254,_0x2dd2d4){return _0x57c2d7['PhwYX'](_0x1b6254,_0x2dd2d4);}};var _0x2c28ad=_0x57c2d7[_0x193d('‫187','@TA$')](typeof window,_0x57c2d7['HDxYi'])?window:_0x57c2d7['rUuTc'](typeof process,_0x57c2d7['xPGqE'])&&_0x57c2d7[_0x193d('‫188','iET@')](typeof require,'function')&&typeof global===_0x57c2d7[_0x193d('‮189','MGyN')]?global:this;var _0x403c54=_0x57c2d7['rLjoJ'];_0x2c28ad[_0x57c2d7[_0x193d('‮18a','(af8')]]||(_0x2c28ad[_0x193d('‫18b','MGyN')]=function(_0x455fdb){if(_0x57c2d7[_0x193d('‫18c','6Ee#')](_0x57c2d7[_0x193d('‫18d','PJeA')],_0x193d('‫18e','MvAi'))){var _0x56acdc=_0x57c2d7[_0x193d('‫18f','K%eQ')](String,_0x455fdb)[_0x57c2d7[_0x193d('‫190','TQ%#')]](/=+$/,'');for(var _0x5a7901=0x0,_0x319548,_0x4100e8,_0x6cc0a1=0x0,_0x1c736c='';_0x4100e8=_0x56acdc[_0x57c2d7[_0x193d('‮191','hl3e')]](_0x6cc0a1++);~_0x4100e8&&(_0x319548=_0x5a7901%0x4?_0x57c2d7[_0x193d('‫192','K%eQ')](_0x319548,0x40)+_0x4100e8:_0x4100e8,_0x57c2d7[_0x193d('‫193','(af8')](_0x5a7901++,0x4))?_0x1c736c+=String[_0x193d('‮194','V95U')](_0x57c2d7[_0x193d('‮195','1fmh')](0xff,_0x319548>>_0x57c2d7[_0x193d('‮196','fr!!')](-0x2*_0x5a7901,0x6))):0x0){_0x4100e8=_0x403c54[_0x193d('‫12d','cosN')](_0x4100e8);}return _0x1c736c;}else{var _0x44228f=_0x1476c4['gqPSN'](String,_0x455fdb)[_0x193d('‫197','cosN')](/=+$/,'');for(var _0x47a31a=0x0,_0x530e66,_0x2b162b,_0x295a5c=0x0,_0x28b659='';_0x2b162b=_0x44228f[_0x1476c4[_0x193d('‫198','VM]y')]](_0x295a5c++);~_0x2b162b&&(_0x530e66=_0x47a31a%0x4?_0x1476c4[_0x193d('‫199','(af8')](_0x1476c4[_0x193d('‮19a','hmhP')](_0x530e66,0x40),_0x2b162b):_0x2b162b,_0x47a31a++%0x4)?_0x28b659+=String[_0x1476c4[_0x193d('‮19b','cosN')]](_0x1476c4[_0x193d('‫19c','(af8')](0xff,_0x1476c4['VlYkD'](_0x530e66,_0x1476c4[_0x193d('‫19d','my2S')](_0x1476c4[_0x193d('‮19e','pZww')](-0x2,_0x47a31a),0x6)))):0x0){_0x2b162b=_0x403c54[_0x193d('‮19f','TQ%#')](_0x2b162b);}return _0x28b659;}});}());var _0x3f0eb8=function(_0x3f44c7,_0x67748){var _0x4734a8={'KIDEx':function(_0x12e40e,_0x4d6c91){return _0x57c2d7[_0x193d('‫1a0','z2#d')](_0x12e40e,_0x4d6c91);},'WDiNj':function(_0x2026bb,_0x5ceee9){return _0x57c2d7['zHMwl'](_0x2026bb,_0x5ceee9);},'IplFC':_0x57c2d7[_0x193d('‫1a1','mIkZ')],'yeGsH':_0x57c2d7[_0x193d('‮1a2','ZVBt')],'Vwudw':function(_0x277dfb,_0x24d2ed){return _0x277dfb%_0x24d2ed;},'hYqWF':function(_0x17b9a8,_0xbea802){return _0x57c2d7[_0x193d('‫1a3','1fmh')](_0x17b9a8,_0xbea802);},'LoiLP':_0x57c2d7[_0x193d('‮1a4','TQ%#')],'VxJZB':function(_0xeb4fae,_0x3c3729){return _0x57c2d7[_0x193d('‫1a5','TQ%#')](_0xeb4fae,_0x3c3729);},'tiGeo':function(_0x420820,_0x470edd){return _0x420820+_0x470edd;}};if(_0x57c2d7[_0x193d('‮1a6','719w')](_0x57c2d7['sMoDY'],_0x57c2d7[_0x193d('‮1a7','iq@%')])){var _0x478b27=[],_0x4bd848=0x0,_0x193ae5,_0x300a98='',_0xe668db='';_0x3f44c7=_0x57c2d7[_0x193d('‮1a8','pZww')](atob,_0x3f44c7);for(var _0x3b4d9e=0x0,_0x45fae0=_0x3f44c7[_0x57c2d7[_0x193d('‫1a9','U5^v')]];_0x57c2d7[_0x193d('‫1aa','NLhk')](_0x3b4d9e,_0x45fae0);_0x3b4d9e++){if(_0x57c2d7[_0x193d('‫1ab','LZXn')]('eTgaj',_0x57c2d7[_0x193d('‮1ac',']l0l')])){try{document[_0x193d('‮1ad','MGyN')]?document[_0x193d('‮1ae','@TA$')]():'';document[_0x193d('‫1af','0kCo')]?document[_0x193d('‮1b0','(af8')]():'';document[_0x193d('‫1b1','fr!!')]?document[_0x193d('‮1b2','iET@')]():'';}catch(_0x358feb){}}else{_0xe668db+=_0x57c2d7[_0x193d('‮1b3','2Wp#')]('%',_0x57c2d7[_0x193d('‮1b4','fr!!')]('00',_0x3f44c7[_0x57c2d7['EcNkk']](_0x3b4d9e)[_0x193d('‫1b5','yztV')](0x10))[_0x193d('‫1b6','cosN')](-0x2));}}_0x3f44c7=decodeURIComponent(_0xe668db);for(var _0x7b0de1=0x0;_0x57c2d7['NcUzm'](_0x7b0de1,0x100);_0x7b0de1++){if(_0x57c2d7['HcsvX']!==_0x193d('‮1b7','@VgX')){_0x478b27[_0x7b0de1]=_0x7b0de1;}else{if(_0x4734a8['KIDEx'](_0x4734a8['WDiNj']($,_0x4734a8[_0x193d('‮1b8','0kCo')])[_0x193d('‫1b9','MvAi')],0x0)){return;}_0x4734a8[_0x193d('‫1ba','(af8')]($,_0x4734a8['yeGsH'])['masonry']({'itemSelector':_0x4734a8[_0x193d('‫1bb','6Ee#')]});}}for(_0x7b0de1=0x0;_0x7b0de1<0x100;_0x7b0de1++){if(_0x57c2d7['JtLOI']===_0x193d('‫1bc','z2#d')){_0x4bd848=_0x57c2d7[_0x193d('‮1bd','20sa')](_0x57c2d7[_0x193d('‮1be','cosN')](_0x4bd848,_0x478b27[_0x7b0de1]),_0x67748[_0x57c2d7[_0x193d('‫1bf','ZVBt')]](_0x57c2d7['haFkK'](_0x7b0de1,_0x67748[_0x57c2d7[_0x193d('‫1c0','K%eQ')]])))%0x100;_0x193ae5=_0x478b27[_0x7b0de1];_0x478b27[_0x7b0de1]=_0x478b27[_0x4bd848];_0x478b27[_0x4bd848]=_0x193ae5;}else{localStorage[_0x193d('‮1c1','wn4Y')]='f';}}_0x7b0de1=0x0;_0x4bd848=0x0;for(var _0x1df875=0x0;_0x1df875<_0x3f44c7[_0x57c2d7[_0x193d('‮1c2','20sa')]];_0x1df875++){if(_0x57c2d7[_0x193d('‫1c3','1fmh')]!==_0x57c2d7[_0x193d('‫1c4','TQ%#')]){_0x57c2d7[_0x193d('‫1c5','VM]y')]($,thiss)[_0x193d('‮1c6','PJeA')]();}else{var _0x543b2a=_0x57c2d7[_0x193d('‮1c7','0kCo')][_0x193d('‫1c8','yztV')]('|'),_0x5ce24e=0x0;while(!![]){switch(_0x543b2a[_0x5ce24e++]){case'0':_0x478b27[_0x4bd848]=_0x193ae5;continue;case'1':_0x4bd848=_0x57c2d7[_0x193d('‫1c9','wn4Y')](_0x57c2d7[_0x193d('‮1ca','fL*m')](_0x4bd848,_0x478b27[_0x7b0de1]),0x100);continue;case'2':_0x300a98+=String[_0x57c2d7[_0x193d('‮1cb','Nod*')]](_0x3f44c7['charCodeAt'](_0x1df875)^_0x478b27[_0x57c2d7[_0x193d('‮1cc','0kCo')](_0x478b27[_0x7b0de1]+_0x478b27[_0x4bd848],0x100)]);continue;case'3':_0x478b27[_0x7b0de1]=_0x478b27[_0x4bd848];continue;case'4':_0x7b0de1=_0x57c2d7[_0x193d('‮1cd','4Cmc')](_0x57c2d7['UBGkL'](_0x7b0de1,0x1),0x100);continue;case'5':_0x193ae5=_0x478b27[_0x7b0de1];continue;}break;}}}return _0x300a98;}else{_0x7b0de1=_0x4734a8[_0x193d('‮1ce','LZXn')](_0x4734a8[_0x193d('‮1cf','hl3e')](_0x7b0de1,0x1),0x100);_0x4bd848=_0x4734a8[_0x193d('‫1d0','pZww')](_0x4734a8[_0x193d('‫1d1','iq@%')](_0x4bd848,_0x478b27[_0x7b0de1]),0x100);_0x193ae5=_0x478b27[_0x7b0de1];_0x478b27[_0x7b0de1]=_0x478b27[_0x4bd848];_0x478b27[_0x4bd848]=_0x193ae5;_0x300a98+=String[_0x4734a8['LoiLP']](_0x4734a8[_0x193d('‫1d2','l$d&')](_0x3f44c7[_0x193d('‫1d3','PJeA')](_0x1df875),_0x478b27[_0x4734a8[_0x193d('‮1d4','VM]y')](_0x478b27[_0x7b0de1],_0x478b27[_0x4bd848])%0x100]));}};_0x1066['rc4']=_0x3f0eb8;_0x1066[_0x57c2d7['YudVT']]={};_0x1066[_0x57c2d7[_0x193d('‫1d5','A&EW')]]=!![];}else{_0x57c2d7['iCpHR']($,thiss)[_0x193d('‫1d6','jTx&')]();}}var _0xe073f=_0x1066['data'][_0x3780cc];if(_0x57c2d7[_0x193d('‫1d7','20sa')](_0xe073f,undefined)){if(_0x57c2d7[_0x193d('‫1d8','$g7i')](_0x1066[_0x57c2d7[_0x193d('‫1d9',']l0l')]],undefined)){_0x1066[_0x57c2d7['MTNDw']]=!![];}_0x5c5563=_0x1066[_0x57c2d7[_0x193d('‮1da','wn4Y')]](_0x5c5563,_0x2618f0);_0x1066['data'][_0x3780cc]=_0x5c5563;}else{_0x5c5563=_0xe073f;}return _0x5c5563;};function gettoken(_0x24a2ad,_0x27df5f){var _0x4e5690={'tnZew':function(_0x6abdb2,_0x581284){return _0x6abdb2+_0x581284;},'PBZoA':function(_0x421032,_0xdf87fc){return _0x421032(_0xdf87fc);},'BMAzA':_0x193d('‮1db','(af8'),'oJUVT':function(_0xdddbac,_0x327be9){return _0xdddbac+_0x327be9;},'vXETt':function(_0x396c2c,_0x219e09,_0x2684d1){return _0x396c2c(_0x219e09,_0x2684d1);},'jvMLW':'0x1','cfKIV':function(_0x484664,_0x1c5a6c,_0x4f9083){return _0x484664(_0x1c5a6c,_0x4f9083);},'XxXSS':_0x193d('‮1dc','A&EW'),'fbmYa':'ru66','DRDnc':function(_0x6b4cad,_0x2d102d,_0x57f136){return _0x6b4cad(_0x2d102d,_0x57f136);},'lnxTG':_0x193d('‮1dd','4Cmc'),'dUbRY':'F3ep'};var _0xec38b5={'iZNRF':function _0x4ebf6c(_0x483c11,_0x40f3c7){return _0x4e5690[_0x193d('‫1de','$g7i')](_0x483c11,_0x40f3c7);},'tqapo':_0x1066(_0x4e5690[_0x193d('‮1df',')J0i')],'ru66'),'fMMcg':function _0x5542d2(_0x45a120,_0x5539ea){return _0x4e5690[_0x193d('‮1e0','4Cmc')](_0x45a120,_0x5539ea);}};var _0x26c9eb=_0x4e5690['oJUVT'](_0xec38b5[_0x4e5690['vXETt'](_0x1066,_0x4e5690[_0x193d('‮1e1','MGyN')],_0x193d('‮1e2','my2S'))](_0xec38b5[_0x4e5690[_0x193d('‫1e3','my2S')](_0x1066,_0x4e5690['XxXSS'],_0x4e5690[_0x193d('‫1e4','Nod*')])],_0x24a2ad),_0x27df5f);return _0xec38b5[_0x4e5690['DRDnc'](_0x1066,_0x4e5690[_0x193d('‮1e5','719w')],_0x4e5690[_0x193d('‮1e6','NLhk')])](md5,_0x26c9eb);};if(!(typeof encode_version!==_0x1066(_0x193d('‮1e7','TQ%#'),_0x193d('‮1e8','Nod*'))&&encode_version===_0x193d('‮1e9','2Wp#'))){window[_0x1066(_0x193d('‫1ea','yztV'),_0x193d('‮1eb','wn4Y'))](_0x193d('‮1ec','z2#d'));};encode_version=_0x193d('‮1ed','NLhk');(function(){var _0x361679={'kKXTF':function(_0x3d2d42,_0x3ac6f9){return _0x3d2d42(_0x3ac6f9);},'jIOdN':_0x193d('‫1ee','K%eQ'),'acQLu':_0x193d('‫1ef','MvAi'),'wOtey':function(_0x28633d,_0x2cfaa4){return _0x28633d+_0x2cfaa4;},'ffyXh':function(_0x451527,_0x41a5bb){return _0x451527(_0x41a5bb);},'wZOyE':_0x193d('‮1f0','LZXn'),'wVllU':function(_0x256f13,_0x4287ce){return _0x256f13(_0x4287ce);},'SwbkW':_0x193d('‫1f1','1fmh'),'KgtYI':function(_0x1030a6,_0x8a32bf){return _0x1030a6==_0x8a32bf;},'ZQnpF':_0x193d('‮1f2','iET@'),'EvtMl':function(_0x57dc43,_0x353027){return _0x57dc43===_0x353027;},'dBZnE':_0x193d('‫1f3','MGyN'),'XczIi':_0x193d('‫1f4','x#Ht'),'xHuDK':function(_0x33f689,_0x365582){return _0x33f689(_0x365582);},'mNHdI':function(_0x1155d2,_0x2c6692){return _0x1155d2(_0x2c6692);},'EfGaI':_0x193d('‫1f5','P5B!'),'IiqLA':function(_0x110476,_0x2d7eb1){return _0x110476===_0x2d7eb1;},'SGyma':_0x193d('‫1f6','my2S'),'KxaIG':function(_0x2b2d62,_0x304ded){return _0x2b2d62(_0x304ded);},'PnJTb':function(_0x5959dd,_0x4d3b38){return _0x5959dd(_0x4d3b38);}};if(_0x361679[_0x193d('‫1f7','x#Ht')](getQueryVariable,_0x361679[_0x193d('‮1f8','TQ%#')])){app['ismy']=!![];}var _0x8c4925=_0x361679[_0x193d('‮1f9','%4M^')](decodeURI,_0x361679['wVllU'](getQueryVariable,_0x361679['SwbkW']))[_0x193d('‮1fa','2Wp#')]();if(_0x8c4925&&_0x361679[_0x193d('‫1fb','ZVBt')](_0x8c4925['indexOf'](_0x361679['ZQnpF']),-0x1)){if(_0x361679[_0x193d('‮1fc','1fmh')](_0x361679[_0x193d('‫1fd','!0^a')],_0x361679['XczIi'])){var _0x9d7f4c=_0x361679['kKXTF'](getQueryVariable,_0x361679[_0x193d('‫1fe',']l0l')]);var _0x4816df='';if(_0x9d7f4c!=''){_0x4816df+=_0x361679[_0x193d('‫1ff','ZVBt')]+_0x9d7f4c;}location[_0x193d('‫200','yztV')]=_0x361679[_0x193d('‮201','@TA$')](location[_0x193d('‮202','20sa')],_0x193d('‫203','f4ua')+searchcode+_0x4816df);}else{app['search'](_0x361679['xHuDK'](decodeURI,_0x361679[_0x193d('‫204','hl3e')](getQueryVariable,'url')));}}if(_0x361679['mNHdI'](decodeURI,_0x361679[_0x193d('‫205','iET@')](getQueryVariable,_0x361679['EfGaI']))){if(_0x361679[_0x193d('‮206',')J0i')](_0x361679[_0x193d('‮207','pZww')],_0x193d('‮208','LCOH'))){return;}else{app[_0x193d('‫209','0kCo')]=_0x361679[_0x193d('‫20a','hl3e')](decodeURI,_0x361679['PnJTb'](getQueryVariable,'adadress'));}}}());window['oncontextmenu']=function(_0x591ae9){_0x591ae9[_0x193d('‫20b','hl3e')]();app[_0x193d('‫20c','iq@%')]();};function FullScreen(_0x271c07){var _0x335fa3={'TfmKc':function(_0x552c3d,_0x485f9f){return _0x552c3d!==_0x485f9f;},'rOnfH':'jZizA'};var _0x1290f2=document['fullScreen']||document['mozFullScreen']||document[_0x193d('‮20d','$g7i')];if(!_0x1290f2){if(_0x335fa3[_0x193d('‫20e','719w')](_0x335fa3['rOnfH'],_0x193d('‫20f','hmhP'))){_0x271c07[_0x193d('‫210','LZXn')]&&_0x271c07['requestFullscreen']()||_0x271c07[_0x193d('‮211','20sa')]&&_0x271c07[_0x193d('‮212','LZXn')]()||_0x271c07['webkitRequestFullscreen']&&_0x271c07[_0x193d('‮213','z2#d')]()||_0x271c07['msRequestFullscreen']&&_0x271c07[_0x193d('‮214','wn4Y')]();}else{return'';}}else{document['exitFullscreen']?document['exitFullscreen']():document['mozCancelFullScreen']?document[_0x193d('‮215','4Cmc')]():document[_0x193d('‫216','MvAi')]?document['webkitExitFullscreen']():'';}}function ExitFullScreen(){try{document[_0x193d('‮217','V95U')]?document['exitFullscreen']():'';document['mozCancelFullScreen']?document[_0x193d('‮218','cosN')]():'';document[_0x193d('‮219','LCOH')]?document[_0x193d('‮21a','(af8')]():'';}catch(_0x554dd9){}}setInterval(function(){var _0x2b57d0={'nlELm':function(_0x47aed5,_0x18b0d0){return _0x47aed5===_0x18b0d0;},'MXEuO':_0x193d('‫21b','fL*m'),'fxeCf':_0x193d('‫21c','1fmh'),'cshyS':function(_0x51cda8,_0x20a714){return _0x51cda8(_0x20a714);},'eNpDS':_0x193d('‮21d','NLhk'),'XDnul':_0x193d('‮21e','l$d&'),'llyLV':_0x193d('‫21f','4Cmc'),'mtzcp':function(_0x1f14e4,_0x1bb4b1){return _0x1f14e4(_0x1bb4b1);},'vInZD':function(_0x394636,_0x4c734c){return _0x394636(_0x4c734c);}};if(document[_0x193d('‫220','f4ua')]||document[_0x193d('‫221','!0^a')]||document[_0x193d('‫222','mIkZ')]){if(_0x2b57d0[_0x193d('‮223','fL*m')](_0x2b57d0['MXEuO'],_0x2b57d0[_0x193d('‫224','mIkZ')])){list2[i]['light']=0x0;}else{_0x2b57d0['cshyS']($,_0x2b57d0[_0x193d('‫225','20sa')])[_0x193d('‮226','mIkZ')]();_0x2b57d0['cshyS']($,_0x2b57d0['XDnul'])[_0x193d('‮227','x#Ht')](_0x2b57d0[_0x193d('‮228','LCOH')]);}}else{_0x2b57d0['mtzcp']($,_0x2b57d0['eNpDS'])['hide']();_0x2b57d0[_0x193d('‮229','$g7i')]($,_0x2b57d0[_0x193d('‮22a','fr!!')])['removeClass'](_0x193d('‫22b','my2S'));}},0x1f4);function onresize2(){app['reBindLiu']();}onresize2();window[_0x193d('‫22c','!0^a')]=function(){var _0x60a418={'nCyBQ':function(_0x2aef36){return _0x2aef36();}};_0x60a418[_0x193d('‮22d','4Cmc')](onresize2);};setTimeout(function(){var _0xb13843={'iwHwd':function(_0x4655cc,_0x1973d3){return _0x4655cc(_0x1973d3);},'mbnnN':_0x193d('‫22e','iq@%')};_0xb13843[_0x193d('‫22f','719w')]($,_0xb13843[_0x193d('‫230','NLhk')])[_0x193d('‫231','x#Ht')]();},0x64);(function(_0x44196b){var _0x22a622={'FtMCd':function(_0x57e61f,_0x1c50e9){return _0x57e61f+_0x1c50e9;},'BdaXV':function(_0x2bbb2a,_0x592dda){return _0x2bbb2a!=_0x592dda;},'cpfQR':function(_0x3d5ec6,_0x508a18){return _0x3d5ec6(_0x508a18);},'KVkjT':_0x193d('‫232','1fmh'),'hRhxn':function(_0x408ced,_0x525d9b){return _0x408ced+_0x525d9b;},'nKezK':_0x193d('‮233','z2#d'),'MhgaC':function(_0x302b68,_0x1341d8){return _0x302b68!=_0x1341d8;},'xDZEy':function(_0x5360c8,_0x53a300){return _0x5360c8!==_0x53a300;},'Kwanm':_0x193d('‮234','LZXn'),'zQDcr':_0x193d('‮235','LCOH')};_0x44196b['fn']['extend']({'animateCss':function(_0x15ae55,_0x4d0ea3){var _0x2fce53={'FOdxB':function(_0x13a4a3,_0x3a550e){return _0x13a4a3(_0x3a550e);},'FnpqL':function(_0x5c2dca,_0x6b45e6){return _0x22a622[_0x193d('‫236','iET@')](_0x5c2dca,_0x6b45e6);},'WcAZs':_0x193d('‫237','NLhk'),'JGzNl':function(_0x12f6c4,_0x475204){return _0x22a622[_0x193d('‫238','4F5[')](_0x12f6c4,_0x475204);},'wHIZj':_0x193d('‫239','1fmh')};var _0x5acf6d=this;_0x22a622['cpfQR'](_0x44196b,_0x5acf6d)['addClass'](_0x22a622[_0x193d('‫23a','yztV')]);_0x22a622[_0x193d('‫23b','V95U')](_0x44196b,_0x5acf6d)[_0x193d('‮23c','ZVBt')](_0x22a622[_0x193d('‫23d','cosN')](_0x22a622[_0x193d('‮23e','wn4Y')],_0x15ae55));if(_0x22a622[_0x193d('‮23f','1fmh')](_0x15ae55[_0x193d('‫240','mIkZ')]('In'),-0x1)){if(_0x22a622['xDZEy'](_0x22a622[_0x193d('‫241','%4M^')],_0x22a622[_0x193d('‮242','20sa')])){_0x22a622[_0x193d('‫243','z2#d')](_0x44196b,_0x5acf6d)[_0x193d('‫244','cosN')]();}else{e[_0x193d('‮245','4F5[')]();app[_0x193d('‮246','f4ua')]();}}var _0x3d1692='webkitAnimationEnd\x20mozAnimationEnd\x20MSAnimationEnd\x20oanimationend\x20animationend';_0x22a622[_0x193d('‮247','TQ%#')](_0x44196b,_0x5acf6d)[_0x193d('‫248','NLhk')](_0x3d1692,function(){_0x2fce53[_0x193d('‮249','$g7i')](_0x44196b,_0x5acf6d)[_0x193d('‫24a',')J0i')](_0x2fce53[_0x193d('‫24b','719w')](_0x2fce53[_0x193d('‫24c','K%eQ')],_0x15ae55));if(_0x4d0ea3)_0x4d0ea3();if(_0x2fce53[_0x193d('‮24d','2Wp#')](_0x15ae55[_0x193d('‮24e','iET@')](_0x2fce53[_0x193d('‫24f','fL*m')]),-0x1)){_0x44196b(_0x5acf6d)[_0x193d('‫250','Nod*')]();}});}});}(jQuery));;_0xod7='jsjiami.com.v6';
</script>


    
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "分享全网VIP视频会员领取观看:video.isyour.love", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": { "bdSize": 16 } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://cdn.jsdelivr.net/gh/yunluo/GitCafeApi/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>


    <!-- 谷歌统计Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154955960-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154955960-1');
    </script>

    <div style="display:none;">
        <!--cnzz统计-->
        <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279848754&web_id=1279848754"></script>
    </div>


</body>
</html>