
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="referrer" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="邦宁云播,邦宁云视频,vip视频解析,vip视频在线解析,vip解析,万能vip视频解析,vip视频全能解析,vip视频,手机vip视频解析,手机在线解析vip视频,优酷vip解析,爱奇艺vip解析,腾讯vip解析,乐视vip解析,芒果vip解析">
    <meta name="Description" content="全网最全的视频资源 更新最快 免费在线播放.最新资源观看,哪里可以看最新的电影电视剧，">
    <meta name="keywords" />
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            alert("抱歉！本网站不兼容IE浏览器，建议更换现代浏览器使用，比如Chrome浏览器等");
        }
        if (location.href.toLowerCase().indexOf("ihelpy") != -1) {
            alert("本站已启用新域名video.isYour.Love,请修改收藏页面，即将跳转...");
            location.href = "https://video.isyour.love";
        } else {
            //启用https
            if (location.href.toLowerCase().indexOf("https") != 0 && location.href.toLowerCase().indexOf("localhost") == -1 && location.href.search(/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/) == -1) {
                location.href = "https" + location.href.substring(4)
            }
        }


    </script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

    <script src="https://cdn.staticfile.org/vue/3.0.11/vue.global.js"></script>
    <!--引用bootstrap图标库css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />

    
    <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css">

    <script src="https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Js/Tools.js"></script>
    <style>
        body {
            background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png);
        }
    </style>
    
    <meta name="referer" content="never" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flexbody {
        }

        .cqsTxt {
            font-size: 1.4rem !important;
        }

        .tooltip {
            z-index: 999999 !important;
            position: fixed !important;
        }

        .bi {
            font-size: 0.9rem;
        }
        /*       .biMiddle {
            vertical-align: middle;
        }*/

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .dmBarbutton {
            flex: auto !important;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            background-color: black;
            min-height: 100%;
        }

        .fullHeight {
            height: 100%;
            pointer-events: none;
        }

        .searchitem {
            margin: 0px 0px 6px 0px;
            background-color: white;
            border-radius: 7px;
        }

        .searchItems {
            border-radius: 2px;
            padding: 6px 7px;
            margin: 4px 3px;
            font-size: 14px;
            float: left;
            cursor: pointer;
            color: #ffffff;
            background-color: #526668;
        }

        select {
            background-color: black !important;
        }


        .trans {
            border-radius: 50%;
            overflow: hidden;
            animation: rotate 1.5s linear infinite;
        }

        .nowSelectItem {
            background-color: #ff5200 !important;
            box-shadow: inset 0 0 4px 0px black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        .list-group-item {
            cursor: pointer;
        }

        button {
            outline: none !important;
        }

        .videoFullPage {
            height: 70% !important;
            width: 100% !important;
            margin: 0px auto;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px; /*滚动条宽度*/
            height: 16px; /*滚动条高度*/
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px; /*滚动条的背景区域的圆角*/
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px; /*滚动条的圆角*/
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        }

        .selectTabActive {
            border-radius: 5px 5px 0px 0px;
            position: relative !important;
            bottom: -2px;
            border: 1px solid;
            border-color: #5cb85c !important;
            z-index: 3;
            border-bottom-color: transparent !important;
            background-color: white;
        }

        #userMark i {
            font-size: 1.2rem;
            position: relative;
            top: 1px;
        }


        .divItem {
            padding: 10px;
            min-height: 150px;
            padding: 10px;
            border: 1px solid #5cb85c;
            border-top: 0px;
            margin-bottom: 10px;
            background-color: white;
            color: #585858;
        }

        hr {
            margin: 10px 0px;
        }

        .popover {
            color: black;
        }

        /*正常的未被访问过的链接*/
        /* .nava:link {
            background-color: transparent !important;
        }*/
    </style>
    <style>
        .vjs-control-bar {
            font-size: 15px;
            background-color: transparent !important;
            z-index: 11;
        }

        .vjs-button {
            width: 3em !important;
        }

        .vjs-poster, video {
            outline: none;
        }

        /*.vjs-progress-control {
                position: absolute !important;
                width: 100% !important;
                display: block !important;
                height: auto !important;
                z-index: 3 !important;
                top: -4px !important;
            }*/
    </style>

    
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    <script src="https://cdn.staticfile.org/blueimp-md5/2.13.0/js/md5.min.js"></script>




    <title>邦宁云播播放器 - ⎛⎝邦宁云播⎠⎞</title>
    
    
    <!--谷歌AD-->
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
            crossorigin="anonymous"></script>
</head>
<body>
    




<div id="app" style="font-size: 14px; pointer-events:all; position:absolute;left:0;right:0;top:2px;bottom:2px;border-radius:10px;z-index:3;background-color: rgb(249, 250, 251);color:#a9a9a9;margin:0px 2px;">
    <div class="v-cloak" id="realY" style="background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png); background-attachment: local; padding-left:7px; position: absolute; left: 0px; right: 1px; top: 3px; border-radius: 10px; bottom: 20px; overflow-y: auto; padding-right: 5px;">
        <div>
            <div style="margin-top: 5px; color: black; font-size: 18px;float: left; margin-right: 10px;">
                <i :style="{'color':showAll ? 'red':''}" v-on:click="showAll= !showAll;" class="bi bi-bullseye" style="font-size:1.2rem;"></i>
                <span style="color: red;display:none;" v-show="showAll">【测试模式】</span>当前播放列表:
            </div>
            <div style="line-height: 17px; padding: 6px 6px 6px 0px; font-size: 17px; overflow: auto; float: left;">
                <a v-on:click="fk()"><span class="badge badge-success">搜索结果不满意</span></a>
            </div>
        </div>

        
        <div class="input-group input-group-sm" style=" border: 1px solid #1e7e34; border-radius: 5px;">
            <input style="border: 0px;" v-model="searchCodeUser" type="text" class="form-control" autocomplete="off" placeholder="请输入 影片名称 或 播放地址 搜索结果由互联网自动聚合生成,请勿相信视频内容中的广告" name="id" v-on:keyup.enter="userInputSearch(searchCodeUser)" />
            <span class="input-group-btn">
                <button class="btn btn-success" style="font-size: 14px; margin: -1px !important; background-color: #5cb85c; line-height: 1.42857143; border: 1px solid transparent; color: white;" onclick="app.userInputSearch(app.searchCodeUser); return false;">搜 索</button>
            </span>
        </div>
        <div v-show="searchCodeUserList.length > 0" style="padding: 5px 5px 10px 5px; background-color: white; position: absolute; z-index: 4; left: 10px; right: 10px; color: black; border: 1px solid #1e7e34; border-top: 0px; border-radius: 0px 0px 5px 5px; overflow: hidden; ">
            <div v-for="i in searchCodeUserList" v-on:click="userInputSearch(i)" style=" font-size: 1rem; margin: 4px;" class="badge badge-dark">{{i}}</div>
        </div>
        
        <div class="loading" style="z-index: 9999; position: absolute; top: 55px; bottom: 0px; left: 0px; right: 0px; color: #1e7e34; background-color: white; padding-top: 70px; padding-left: 10px; font-size: 1.5rem; ">
            <p><i style="font-size: 2rem; color: black;" class="bi bi-hourglass"></i>请稍等</p>
            <p>正在加载播放器...</p>
        </div>
        <div style="height: 120px;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fl+5z+3v-d0+94"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="9497300006"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <iframe v-if="adadress"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width: 100%; border-radius: 10px 10px 10px 10px;margin-top: 2px;height:100px;"
                v-bind:src="adadress"></iframe>
        <div style="color:#d03d3d;font-weight: 600;padding: 10px 0px 20px 0px;" v-show="tips.length!=0" v-html="tips"></div>
        <div class="row rowpb" style="margin-left: -2px; margin-right: -3px;margin-top:4px;">
            <div class="rowpbbody col-xs-12 col-sm-6 col-md-6 col-lg-4" v-for="(items,ind) in searchList" style="padding:0px 2px;">
                <div v-show="showLight3 || (items.light!=3)" class="searchitem" style="border: 1px solid rgb(197 197 197); box-shadow: 0 0 4px 0px #767676;">
                    <div style="font-size: 16px;border-bottom: 1px solid rgb(226, 226, 226);position: relative;">
                        <div style="overflow: hidden;position: absolute; bottom: 2px; top: 2px; left: 3px; width: 73px; background-size: 100% 100%; background-color: rgb(162 162 162); border-radius: 5px;">
                            <img :src="items.Img" referrerPolicy="no-referrer" style="width:100%;height:100%;" alt="海报" onerror="$(this).attr('src','https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/def.png')" />
                        </div>
                        <div style="padding: 3px;z-index: 10;overflow: hidden;margin-left: 77px;text-overflow: ellipsis;">
                            <div>
                                <span style="font-weight: 600;font-size:14px;color: #000000;">
                                    
                                    {{items.Name}}
                                    
                                    <span id="userMark" v-html="StrToHtml(items.UserMark)"></span>
                                </span>
                                <span class="videoId" :va="items.TypeId+'-'+items.VideoCode"  style="font-size:12px;color:#F06292;">({{items.TypeId}})</span>
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-person-circle"></i>
                                {{items.Actors}}
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-signpost-2"></i>
                                {{items.Describe}}
                            </div>
                            <div>
                                <span style="font-size: 13px;">
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到豆瓣查看或写影评" style="padding-left: 0px; background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://search.douban.com/movie/subject_search?search_text='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-star-half"></i>豆瓣
                                    </span>
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到百度百科查询相关资料" style="background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://baike.baidu.com/search?word='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-stickies"></i>百科
                                    </span>
                                    <span class="badge badge-light" title="搜索这部影片" style="background: transparent; color: #4077ad; cursor: pointer; " v-bind:txt="items.Name" onclick="app.userInputSearch($(this).attr('txt'))">
                                        <i class="bi biMiddle bi-search"></i>搜索本片
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding: 0px 5px;">
                        <div class="searchItems" v-show="items.showChild == false" v-on:click="items.showChild = !items.showChild;reBindLiu()">
                            <i class="bi bi-arrow-90deg-down"></i>
                            <span>点击查看共:{{items.Data.length}}集</span>
                        </div>
                        <div v-on:contextmenu.stop='newWindow(items.Name + "-" + items2.N,items2.S,items.Player)' v-on:click="clickOne(items,ind2)" v-show="items.showChild" v-for="(items2,ind2) in items.Data" class="searchItems" v-bind:class="{'nowSelectItem': nowSelectItem.obj == items &&  nowSelectItem.ind == ind2}">
                            <span>{{items2.N || "正片"}}</span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>
        <div v-show="searchList.length > 0" style="font-size: 10px; background-color: #e1e1e1; padding: 4px; border-radius: 5px; color: #28a745; ">
            --搜索结果只展示前20条,排名不分先后
        </div>
        <div style="clear: both;"></div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="8184218337"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr />
        <ul class="nav nav-tabs" style="border-color: #5cb85c;">
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 1;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 1 ? 'selectTabActive' : ''">使用声明</a></li>
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 2;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 2 ? 'selectTabActive' : ''">帮助</a></li>
        </ul>
        <div v-show="selectTab == 2" class="divItem" style="padding:0px;">
            <ul class="list-group">
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        鼠标右键点击分集，可以在新窗口打开播放.
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        搜索资源技巧请参阅<a target="_blank" href="/Html/SearchTold.html">搜索完全指南</a>
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        <a href="#" v-on:click="fk()" ><i class="bi bi-patch-question"></i>意见/留言/视频举报/bug反馈</a>
                    </div>
                </li>
            </ul>
        </div>

        <div v-show="selectTab == 1" class="divItem">
            <p>
                使用本服务表示您已明白：
            </p>
            <p>
                1.本应用仅作为视频搜索引擎工具，搜索结果均从互联网自动生成，本应用不参与任何 制作，发布，上传，存储。
            </p>
            <p>
                2.本应用完全免费，也不售卖任何服务,视频归原网站所有。如不慎侵犯您的著作权，请及时联系管理员删除
            </p>
            <p>
                3.我们已经屏蔽了可能的有害内容。如果发现搜索结果中存在有害内容，请及时联系管理员屏蔽相关的关键字
            </p>
            <p>
                4.本应用没有在视频内容中添加任何推广信息，亦无法屏蔽。切勿相信视频播放中出现的广告，以免对您造成损失！
            </p>
        </div>
    </div>
</div>


<div id="JxDiv" style="z-index: 999; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none; background-color: black;">
    <div style="background: black; color: white;">
        <div v-on:click="back()" style="background-color: red; position:absolute;z-index:22;padding:7px;">
            返回剧集
        </div>
        <div style="text-align: center; padding: 7px 0px; white-space: nowrap;overflow:hidden;">{{title}}</div>
    </div>
    <div onclick="$(this).hide()" id="JxDiv_loading" style="z-index: 2; position: fixed; left: 0px; top: 20%; right: 0px; text-align: center; color: white; font-size: 1.4rem; ">
        <span class="badge badge-success">正在加载播放器,请稍等...</span>
    </div>
    <div style=" width: 100%;background-color: rgb(69, 69, 69); position: fixed; top: 38px; bottom: 0; left: 0px; right: 0;">
        <iframe onload="$('#JxDiv_loading').hide()" sandbox='allow-scripts allow-same-origin' frameborder="0" border="0" scrolling="no" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowtransparency="true" style="width:100%;height:100%;background-color:#454545;"
                :src="url"></iframe>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您没有播放权限</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                原因是:系统判断不适合播放
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" onclick="app.showAll = true; $('.nowSelectItem').click();" style="position: absolute; left: 20px; color: blue;">判断有误?</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕知道了</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertFk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">反馈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="marks">搜索词:</p>
                <input id="fkSearch" type="text" class="form-control" />
                <p class="marks">描述:</p>
                <textarea id="fkText" class="form-control marksText" style="width:100%;height:200px;" placeholder="这搜的什么玩意儿。&#10;&#10;播放器错误请填写：&#10;操作系统：？？&#10;浏览器名字：？？" maxlength="150"></textarea>
                <a></a>
            </div>
            <div class="modal-footer">
                <a style="color: blue; left: 13px; position: absolute;">播放器错误反馈QQ：2847046608</a>
                <button type="button" onclick='fetch(`/player/feedback?t=${$("#fkSearch").val()}&b=${$("#fkText").val()}`);alert("收到了，谢谢")' class="btn btn-primary" data-dismiss="modal">提交留言</button>
            </div>
        </div>
    </div>
</div>


    
    <script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>


    
    <script>

 var _0xodS='jsjiami.com.v6',_0xodS_=['‮_0xodS'],_0x45cc=[_0xodS,'eAQdw6XDoQ==','wqrChifCoAjCvi8=','D8K9WMOzwp4=','wpjDo8KFM0M=','HiPCgMKaSw==','w4jDmScmSg==','DX4UccKO','w4xrCwsm','FcKeZsOmwp8=','w67Cg8OgLXU=','bsKVPMOYYQ==','w6bCtSTCjsO2','wpjCsyJe','wr/Dj8KwaMKM','w5IaL8KmIQ==','PD/Dk3lnVy3ClFHCvg==','w6HCpcKlwqho','TWF0UQ==','5p6c5oiW5YmF5Yy844G/','44Ku55mx5byy54qODuivrOWzk+ium+ewqeevs+WGs+mUl+Wtpw0OJT3CtcOzwr7DsMOQLCTCgMOzfcKlwrtQwo5Fw4pswrHDiMODw6dYw65Qwossalcpw5EYw7XCo8Oyw7bCpT0OU8O8KV1NaMOYVMO3VQjCucKHwp7Dh8KTw7nDl8OGA106wq9rw5NOO8K3dD1sVVzCjgHCjWfjgpXmkY3nt5flr5Llhq/mjbrljp3jgbtqL1cF','HMK5S8O3wrE=','ckXCgXly','w5MLcxHDgMOK','NcKFasOYwqA=','bcKhPMO2dA==','w5oNG8KwASY=','w4JyLwsA','wr7CizzCgyLCuyNrwrY=','dlQ/L8O1J8KBwqDDqWYMdw==','YDx0w7PCgDRPw71Tfg==','KRlawrvDk8O8RBNvw67CssOJdQ==','wrvDrsKHNMK2w49O','w5vDmcO2w5JEO8KqbxfCoHE=','aMK2HMOpdw==','NX9EfcOi','w4MDE8KAGg==','DMOkLHQN','woQ1w480','CHVybMOd','w7EPcBM=','O396fcOyw4cI','w6HCmgrCuMO7','wp8jw4gDeQ==','wqfDojM=','P2EcZsKq','w6Z8Lg==','w6gra8O+','U8KBZcKZw70=','CCRCwrTDqQ==','FsKUacK4Fg==','wpcrdUnCjw==','UsOjMk5+','EhZSwpDDrg==','wrbDmcK1Ahw=','XnhCQTI=','w4bCnSLCu2N0wqorw5YH','wpnDv8KZwrHCgQ==','wpEod1XCvcKSQMKvwqtGTsO9','AcOJN1gD','wqHDmsO2w6ZX','wrYpw6gfYA==','S21GSy1rw4dXPjh/','ZUNSw51XP2ZQBcO8ScOt','wqVAAMOFGg==','bWNhaiI=','wrbDt8Osw6F4','woM0w5Awwqc4VTN4dw==','woVWOcOUIBV4G0XDoMK1wpIIdTRuwpbCjE/CvDYGHcO3w53CklLDjWFQfMKkwr48w5ISwpLCoWvDhHkpEWB4f8OOwofCrsO8wrJRacOTFsOiIypMw5PCv8O0VcKsVVYQw57CjGfDpsKgwqkYM2PDtsKjaUBqwp9uw4HDn0hNw69OYMKwwofChFxdZsOYRMKkwpMFPElQwpRYQxFbHig9wq/CocKVw4sRPCjDhSR7wqDCmcOYfTLCsCQYw6N2AMKjL8Klw43DiFNGw7IPwoPDiMO3OEPCgnQFwqvCvcO/ZitwecO1w6LDoMOOHsKNGy4CHMOcSFbCpcKXZRUsw7N2wqIVw67DpMOf6am15ri357iOwrbCuh/CqyHCtsOTw5zDsMKmwqI=','wr7CizzCgy3Cui1vwqYI','w6TDqMKcwrnCrsKaIsOpwrEHYcOQBRAtMsOvQQbCripdw54=','wrnCkTrCmQ==','wonDr8KmEG8=','bVHCqXlrw53CvA==','wrvDrwVIUg==','GyXDg8OmeA==','YSxgw5vChg==','w44eMsKCwo/DkTPCg10Ic8Kcw4wLcMKUeBs=','cURK','UsKbwojCgh4=','w4DCvQI=','SUrCp1vDtQ==','Y0jCi1hn','wqMyw49A','woI4QVPCg8KabcK/wpA=','w5RKPMObOg==','w7/DusKeKg==','wrouw4pdw6nCsMOMFUY=','wpLCvGPCjFbCsH4/w6s=','wqQ/w7AOwpwhRjJ7ccKuw73DjMO7w6fCqyNxBMOFCMKAW8Kc','LkNPwpvDksOmfCF4w6DDvcKH','wrzCk8KUR8KCInFgD8Kiwqli','HSlRLcOAw6shwoYjwq3DisOb','NsOERCzDqVxiIMOcwrLCrcKf','LkBvwoHDqcOYfAJiw6TCj8Ob','w48bbh4=','OQHDv8OVag==','TlXCq09d','w77Ct8KdwoVk','wrnDqCRTesOlMw==','wpXCmUHCuHE=','woYFS8KdHsO4aA==','wqTCmnLCh2ENw5PDsh4=','wpYobVnCmcKXTsK4','wo7Dg8KrHMKHw6B5FsOIUsKew7c4EF9FwoHDj8KWw7FhM8OcXQFYw6fCmy7Dhk0Yw4bDqsOwJHQ6woNQwrrDp1LDpi7Dm8OJwp8HQHrCg8K5w5hCwqhgISbCqsOmdcO0ZRo=','wqPDpMKGP8K2w44=','wq41w74lf8Oaw4Nt','wpjCtyRKw4U=','wr/Ds8KPKEcSRE3DqsKV','w6TCkQnCqmY=','wq7DuMOa','eE8oJQ==','w70eMcK0MA==','wrbDmsKNP1M=','worDi8KFPsKl','fhs+w63DsA==','wop6AsO8BMOHw7ESRxvCpMOq','KcKJNzzDjw==','J1xdX8Oy','w79/McO/Og==','w63CpsO2MEM=','w6jCujrCrkI=','wpEKUEPCqQ==','w5rCnsK2wr1n','w5LCvxLCsEw=','w47CrcOSO30=','bkZvSDs=','wq/CujlI','P8KKV8Obwr8=','wpUlw7gIwo8=','wpPCnWXCrE0=','w6t8CMO6GQ==','wq3DlMKracKqDXZRPMKcw7A6','LyPDhcOLeg==','wqnDq8KHAsKb','wrDDisOew5ha','WHhudiU=','KwLCgcKFWQ==','w5YLa8O7wqg=','d8OCEkVF','wofDlsK9GQnDun0KwrRF','wrvDuMKtN3U=','dMKfYMKOw4g=','wqFbFMOwGA==','wp7DgMORw756','wp3DqcKjwoDCpg==','KcK9RsOxwrs=','w7fCnz7CkMOh','w5bChS/CoFQ=','wrrCsnnCu2Y=','wq3DoMK7wpHCmw==','wrrDssKEwo/ClA==','Lx3CijzDqg==','PTLCisKycA==','DsO8KXY=','w7TDiQIW','HMKmYMOWwrM=','w5AAfhM=','wrzDqsO1w65d','YF7CuX0=','B8KYNibDtw==','dz4Bw5TDmg==','w4rDnRcCYg==','eCjClQTDpXjCq08kwoQtw4jCosOZNsKvwqNbw4JCwqFTHsOLwrfCghXCnWAIw5TChSDCgH4Bw5x6w57CtcOjwp5yeitMLwrCv27CtMKXbyQsKitEwow4wocmCH7CmMKoDBhvO2VvUEPDrFJOEljCvMOrQkrDq37DrznChsKywrLCpAHCvHpzLcK9c8K2w7QuRMOBw50EfsKRVn7CgMKsJsKFw5Jow4jDrsKWw5TDjsOxw4BTQjrClMKswofDpsKww5HCg8OSFmPChMKsNcKOc8OJcENGw6lOdh3CuMKTRcOxwp1gaQIHMcKICGDCkMK3wp7Cm8OhByoBc1vDusOrw44rwr81BFTCu8KPw5PpgpzluobpgKLlup/ov6XlvYfDmcOI5b6ww7/CgMO5wp1Sw7bDlQ==','wpnDrsKAMnU=','SRjDlQ==','w5t3Rw==','wqXDsQVw','wpwyLQ==','woYQRg==','f8KaPsOpag==','woZ/HcOSIQ==','bcKsOcOh','V8KJGMOhbQ==','w7MaA8KeDw==','LBnDlMOpag==','w4cCAcK3wqE=','w44tEMKlAQ==','wo7DrMK6KMK4','wqAjw78WQA==','VsOSCXV6','wrQbRlfCmQ==','wp7Dh8KOLAc=','w6zCrsOHL3I=','w6oiwpk=','w4pKI8OGIVsyDAQ=','NE4T','wq7Dt8Oiw6A=','5Lq76IKV5YmV6ZqzBiHCssKlIxFxEA8=','wrjDicKud8KGCzlVSg==','wo3DjcKxEg==','w5wfMsKUwp7DnAPCnw==','V25eYwY=','wq8ow4E=','cFDCgXNkw7fCqHzDlw7Crg==','wo3DkMK4DjLDmn8=','wrLDtcK+NFU=','woM4YkjCjsKW','wqnDlsK4FV4=','wqvDqMKxGsKu','w79pMxU9','w5vCvMK2woJh','w4oUZybDhA==','worCvyxNw5LDv8OoIw==','woRhFcO8OsOfw7UTfRPCucOww44=','wrkzw4VYw6PCsMKWJxYLw6PCt8OEwrw=','fMKRYcK2w6c=','d8KGHcObQsK8GcOPBMKWw53CjcO6JcKCaMKb','wp0zw4UVwo4gRz5/MMK8w4vDlcKvw7vCrCYiNcOo','VGd+cCZ+w75bOAhWBMOgEcOAwq/DgMOhw4EH','NsKVEQTDq0VGBsOeworCg8KvLQ/CkATChUsjGsKfEMO3','w7XCmMOnEkrDvMKrJw3CizYHwrFawqMAwqfCjcKF','wrcpw780fMOGw4h5SHdCwo0Bw6bDrcKKw7bCp8OE','wo53H8OnEsOew7wHeh3CrsO7w57Dtg==','JwbDrMOwf8OawofDn8KSw5HDgXdyPMOjwrHDtsKGew==','c1NEw5luJ0JRIsOtd8Osw7jClMKCBcOPw6XDuMKw','wrU0w440','wqQuw5ptw6fCsMKBBh8rw7fCrsOEwpvDlcOsFRRz','HcO4P3wTGD4FZBHDuXg1ZsOGIsKEOGo0','wo/DncO4w5xfO8KieBrCtVvCkwLCkXxvbjbDg8O2','wqpFHsOCNw==','RSp5w5fChQ==','L8KFacOVwrt0wonDoQHCmSbDtUQ=','w4DCu8Kdwo14csOcYhbDtsOGUcKAw5DCjw==','wrjDpMKKM8Krw5J3LcOHbcK5w5cmPWJwwrXDsw==','AD13wpvDqg==','K8KFGcOCS8KcBcOmBg==','w7l7JjI=','w60lRRTDhA==','dwNSwqbDusO6Gg1a','OBFfwoHDs8O0RBQ=','wqwzw4k0YsO1w5hmUGFWwoYI','wrwtUWDCgQ==','HsKHYsOiwrw=','FAPCqcKyTQ==','ZA/Do8OfcsOnwozDlcKJ','w54qw5Yjwo4+HzF/','worDncO3w5hAKsKkbBLCsm4=','TMKuP8OaQA==','TcOjLEF4','6Ky+6L+S5YeF5pCy57ak5ZOT56SSTV1D','w6xSLwMn','w5fCkAHCoE5/woInw6I=','fDdnw6TCkDV5w7E=','RMK9bsKjw4hqOSdfFS3DrGDCtlTDnSrDkMOfcFjDvsOJ','w4U6BMKiMg==','wpsEQMKUEsOefg==','wqopw4Fcw4XCscKGBjIZ','wo3CuBRRw4U=','PWF/e8Ojw7wX','WGZtTyJ7w65hFB1+GMOhHMOnwqnDlg==','wpzDp8KeHMK6','wqvDvsKMMW0JYUbDgsKMwo92ScK1w4HCqcKlw4ggw4zCjsOZbCkZb8Kyw6QSwqzDjnNGJMOFw7JSD8OoTsKcwpcZfcKUSsOrcCvCgE5PwoPDhyZ0UD9yTsKPw61WwpZaw7bDq8OLDzHDg8OhUjIfwoY=','w7XDkAISXcO4','UWbCuGfDpg==','w6HCjD3CtsOP','MMKbZ8KbCw==','N8KDFCLDlg==','w4XCqQ/Ct8OVwpHDjn0=','wqzDvsK0wrfCsA==','am5yZjs=','woPDmcKtIMKT','X2zCoVDDuw==','OAzDvMOEcg==','O8KDacOJ','w5kYFMK0HDrCoQ==','V8K4TsK+w4Y=','w58icMOo','PXUxcsKx','a8K7KsO6cg==','wqXDsMK3cMK4','N2dTe8Oh','w6LDjRsYRcO5K2YFw5zCvQ==','Y1nCiXN0','w6IfWMOSwp0=','w6jCpRPCsFY=','w7sxBMK/MQ==','w7PCnSzCvW8=','EjPCihHDhA==','AsO0OXI=','wpHDosO0w7VC','worDucK/IHA=','LcKDXsOEwqZbwpLDqg==','wqE0w7FMw4k=','w5wceBfDgMOHe8ODYw==','w6zDi8KQHMKrw5A=','CMO8Pnw1GQ8vZALDl3k=','THpo','wqgvw4lDw6fCqsKHIAAe','BcOHOUE/','CwXClcKHen9u','wojCsyxbw6HDrg==','dsK3a8Kyw5EIKw==','wrU4w4c0bsOH','AMKjTMKJFDnCjQbDrngKOz1gwprCqMOaw5LCgTcUCm7ChhHDh8KHRsO5BXRGw70mQ8KaMMK4JCjCrsKXwohSC8KYUAMZw7XDssK0RUNfwrMPw4FcdcKXCyB1woc=','w5hRJsOX','w5ZxE8Oa','JSDDkMO+cQ==','w4HCkibCjVE=','GA/DnMOYRA==','wrvCtyxQw4XDqA==','KMKeFwrDun5y','ZcKXY8Kvw6M=','wpktw4FXw6PCrA==','WGDCgVY=','dmNzw4RN','wpvDlcKxZ8Kz','w7Q5WCDDrg==','c0YuBMOU','LsKRasKjBA3Cpg==','Q0ZoWgk=','w6IrcsO6','wq9uAsOy','OcK0Gy7Duw==','wqvChVnCinc=','EsKATsOKwqQ=','wrYaY8KTPg==','LDnCi8KJTw==','wr7ClnzCh2QQ','dVIGMsON','w7vCjsOzIWg=','wqzDpMKuDsKR','w6zCmMOkHVM=','wr7CsBHCvDY=','DjfCoArDmA==','S8K+wp3Cpik=','Zk/CmU/Dpw==','Wwl3w6vCiA==','wqnDlAVzTw==','wpTDi8KMMG8=','w5AeeBjDocOQVg==','Jx/DlmxM','wqjDlMO7w45TPQ==','wqDDn8KoCg==','BcKAe8Ks','esKmdcO0wr1E','wpnDocK8DVE=','J3XCtVh6w6TChVPDmRzCr0fChig=','wrjDsMKfwq8=','w5DChy8=','wr/DpCBTfg==','wqHDhMKOPB8=','wq9GNcOkHA==','w7/CmHnCg2MNw5PDsA==','w4zCpA/CkQ==','wobCtDhHw5Q=','w5pXLMOUOlBdCkE=','6K+y6L2w5YSJ5pKy57SF5ZOC56adwqdfw5Q=','wqrCoSnCmTc=','MsKJYMK6HRbCrSbDkwE=','wqw1w7hlw7E=','KnMiUMK1wpDCisO6w44JDno=','w6jDvsKbwozCssKHJA==','DTYLw4PDpcKrflM=','wpwIdiXDkcODSMOQew==','T2lo','w4wLfATDl8OKecOcd8OW','Q8O2Ng==','woIES8KZCg==','wqXDg8KzU8KAC3NMCMOMw6A0wrQ=','V3TCv1Je','wrbCkWLCsmsFw4TDsggeRiPCmMKX','w5vDphATew==','w4HCoDPCm8OP','woF8McO2Iw==','Z8OUPMKreQ==','woI5w48rwooyVw==','fsObB0ZPw4c=','wq3DvztSWMOuN8KEWEQvVg==','wqARw4whwo4=','w7ljJSw5','AxPCv8KOfw==','fzx7w6bClzQ=','wpvDvMKBFm4=','QXxuWBs=','w7wHbMO5wrQ=','VCB4w7LClA==','wo3DmMKvIjA=','eMKReMKww4Y=','KMKMWcKZAA==','HQvDm8OJZA==','BznCohPDiA==','woDDn8KcwqLCrw==','w6EKOMKtDw==','MgvClcKlXQ==','wqAUw4w/Yg==','ZQZLwqPDscK1UwZdw6bDrcOObsKbw5I8wq9xH8OdR8O8EsOcw6l6WXvDtkfCswobEyZmwq0owpvDvnTDpcOZw53DvgDCt8K7wplCwo/Co8Ofw5JHwpPCpcKawp3CjULDoyJBImUybWpyIcOOwp8+wrLDk8Ksw5vCg2HDrGzCvMO+wpV4KBFCw715OSVIViPCnD1PHcOmwonDnMOQT3HCvsOywoHCpz53B8OGwoXDisKJPsK+wqXDicOmwqTCmMOBOFPCgMKQeB3CqTHDq8KEeBDCjcOfdcONw5TCqWfDrDzCrcOQO8O7wqwyw4rDosK3FsOZw6DDm3/DhxnCj8KowoAhw5YxRsKeaMO/wpVmY2wjMcOSwq1bwojpgrrlua/pg5nlu5novavlvKLCnh3lvrjDosOGE8KQwqbCnEY=','w6XDmho=','G8O7NcK7cBfCvH0=','w6jDh8KoYcKbEVpMG8KSw7g=','6aqS5rms5pW256Ky','w6Yxw4xPw7/Cu8KQTCUHw7HCksOEwqnDj8O7Ak5oKkc2','wqcuw5d9w6PCssKHAAckw7bCp8OF','SmBrVQJjw6c=','dkjCjEt2','w7sLbhXDhsOLWMOW','PgbDmsOcacORwpbDucKfw6TDkQ==','w452OiY/wqlmwpY=','wpXCkWXCgXUNw5/Dsg==','V8KcwovCjxLCpcOo','w6N9LSA1wo9i','Z2zCgHZX','WToow4XDow==','OGM3TcKGwpQ=','ccKUwonCgR0=','IBjCgDPDoQ==','wr3Cm3E=','HsKVYcOXwpc=','5oOD6KOy5Lum','5rCS5aWH6YeN57up6KKO','6YSa55G75qOR','YMKCKMOmVQ==','wodqGMO0IMOD','w5zCoMKdwrFl','J1wHZsKD','JMOQEH02','QsO5LsKeYw==','wrnCnXLChw==','w5fCggLCnkU=','WUAmJQ==','wpkzZ1/ClcKxRw==','bMKXKcOHZQ==','wpfCmxbCoAg=','JwbDssOScg==','w7TChMOS','5ouY5ouY5Lmp5pGH5pWU77+w','wrQ8d1s=','w6TDgQIbVg==','w6VfCywF','wpLDusKDPw==','QTUN','WcOSElU=','c8OcEWdrw58ewqfDicOdw6PCo2M=','wqbDr8KM','wpvDisKlfcKMFw==','w4DDhBcOVsOu','JgvDnsOnfQ==','wqTDlsKhag==','woTDtMKsMsKJ','XDIlw4/DucK7dFHDp08M','wrwFw49Pw4A=','NEN2e8Ov','Wypaw5vCig==','w4kJUcOSwoY=','b8OWJF1gw5c3wq3DiMOQw7g=','wqjCoSTCmQ8=','ZXQ5SMKVwp7CicOsw6QV','wrbCmcOaAEvDqw==','NzXDkHFX','IMKbT8OdwqY=','woo5w44kwoQ=','aMKCH8OBScK9FA==','ACENw5XCusK8V1bDpnkMRsOvw6bDm8Oa','w4rChSLCqklvwrc=','w50BeQ8=','wprDs8K5wpHCsw==','w4/CjcKNwolB','w7PDmwU=','wrHDqcKPK2o=','TsODPF9f','w503dzvDvg==','wowYXA==','wrzDlcKNUsK6','wrzCgj3CtyA=','wo/Dt8KYwqnCrg==','w4nCkC3CrlRz','wpcmw7Q9wpo=','O3QzScKAwpLCn8OHw6UKF3t3w58=','w5vDkS4tWg==','wpTDncO0w5BCJw==','w6nCtcKTwqU=','JgDDscObag==','wqUow4dGw7I=','wqvDscKB','OSHDkw==','W35IRTk=','w5ESNMKYwpg=','ARnDo8Oecw==','woTDscKdNcKv','wosTbMKyFA==','KDLCgg3Dvw==','w7XCknnCkGQBw6jDpx5ARzQ=','w5F3KDEsw61wwpzCj8KmIBk5P1sHw7oIwpIww4/CssKL','cFlJw55zOnc=','wrIbw5svwow=','fwVUwrHDq8OwRVo=','wqDDlTV4Sg==','wrvDicK3cMKMFw==','wrMpa1fCtA==','FhrCiAfDkQ==','wrTDmcKaPGY=','fMKIAcOYSQ==','woHDt8KqOC8=','wqXCkTbCkg==','wpjDisKeIMKh','NgdSwqXDtsO7','OFEnIcOcLsKSw7bDgGYAc1EPw4ouTsOrPxzDokM=','wobCkyjCmkV6wrwtw78=','P8KNacOVwp1c','I3AFasKw','FsKWBhfDmA==','aMKyC8O2Zg==','wqXCvgd/w7I=','5ouj5ouJ5Luq5pCD5pSZ77+V','YW/Ct2tY','wocfW8KI','EcKCwoPCixPCj8O8wp/DgjzDigFBw60CMW7CpcOSwopZBw==','5q6I5Z+z5pGR57SLwoI=','MMKpY8K2w5AiP2dfFzXDmjLDoVLDkSA=','IXU5UQ==','wpHDlMKGGwA=','ZzZZw67ClDlxw5dBeWU=','fk8vJcOdBMKG','JcKYbsKvBw==','wq7DnS5IUA==','FcKoRsKUFw==','w44eMsKCwo/DkTPCg10I','KMKHBzXDjw==','MjrCiQ==','LcKcasOZwpw=','fMOfNsKsZQ==','wr/Dt8K8wrfCoMKaIsKFwrcRcA==','RsKaFsO7Vw==','wrTDqcKLPA==','w6ANJMKQFA==','fCt8w6bCijI=','ZEQqMsOGI8KjwrbDg2Y=','wr0ow5Bd','AjsWjdixawIbmOgwJlBliEf.com.v6=='];if(function(_0x366286,_0x17c3bf,_0x3bed4a){function _0x34b72c(_0x1511d7,_0xe365cd,_0x57372d,_0x593e42,_0x59a1b1,_0x23aed2){_0xe365cd=_0xe365cd>>0x8,_0x59a1b1='po';var _0x358901='shift',_0x21854d='push',_0x23aed2='‮';if(_0xe365cd<_0x1511d7){while(--_0x1511d7){_0x593e42=_0x366286[_0x358901]();if(_0xe365cd===_0x1511d7&&_0x23aed2==='‮'&&_0x23aed2['length']===0x1){_0xe365cd=_0x593e42,_0x57372d=_0x366286[_0x59a1b1+'p']();}else if(_0xe365cd&&_0x57372d['replace'](/[AWdxwIbOgwJlBlEf=]/g,'')===_0xe365cd){_0x366286[_0x21854d](_0x593e42);}}_0x366286[_0x21854d](_0x366286[_0x358901]());}return 0xca4d4;};return _0x34b72c(++_0x17c3bf,_0x3bed4a)>>_0x17c3bf^_0x3bed4a;}(_0x45cc,0x11b,0x11b00),_0x45cc){_0xodS_=_0x45cc['length']^0x11b;};function _0x25fe(_0x347a5d,_0x4cf7a3){_0x347a5d=~~'0x'['concat'](_0x347a5d['slice'](0x1));var _0x581d71=_0x45cc[_0x347a5d];if(_0x25fe['nENsmX']===undefined){(function(){var _0x3b99c6=typeof window!=='undefined'?window:typeof process==='object'&&typeof require==='function'&&typeof global==='object'?global:this;var _0x462fe8='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x3b99c6['atob']||(_0x3b99c6['atob']=function(_0x2681c0){var _0xddfa0b=String(_0x2681c0)['replace'](/=+$/,'');for(var _0x117c22=0x0,_0x422768,_0x249cc8,_0xfea6dd=0x0,_0x5214f7='';_0x249cc8=_0xddfa0b['charAt'](_0xfea6dd++);~_0x249cc8&&(_0x422768=_0x117c22%0x4?_0x422768*0x40+_0x249cc8:_0x249cc8,_0x117c22++%0x4)?_0x5214f7+=String['fromCharCode'](0xff&_0x422768>>(-0x2*_0x117c22&0x6)):0x0){_0x249cc8=_0x462fe8['indexOf'](_0x249cc8);}return _0x5214f7;});}());function _0x31d543(_0x416935,_0x4cf7a3){var _0x17a752=[],_0x198b54=0x0,_0x46537e,_0x59e069='',_0xa47626='';_0x416935=atob(_0x416935);for(var _0x307d46=0x0,_0x4409c6=_0x416935['length'];_0x307d46<_0x4409c6;_0x307d46++){_0xa47626+='%'+('00'+_0x416935['charCodeAt'](_0x307d46)['toString'](0x10))['slice'](-0x2);}_0x416935=decodeURIComponent(_0xa47626);for(var _0x173555=0x0;_0x173555<0x100;_0x173555++){_0x17a752[_0x173555]=_0x173555;}for(_0x173555=0x0;_0x173555<0x100;_0x173555++){_0x198b54=(_0x198b54+_0x17a752[_0x173555]+_0x4cf7a3['charCodeAt'](_0x173555%_0x4cf7a3['length']))%0x100;_0x46537e=_0x17a752[_0x173555];_0x17a752[_0x173555]=_0x17a752[_0x198b54];_0x17a752[_0x198b54]=_0x46537e;}_0x173555=0x0;_0x198b54=0x0;for(var _0x412ec3=0x0;_0x412ec3<_0x416935['length'];_0x412ec3++){_0x173555=(_0x173555+0x1)%0x100;_0x198b54=(_0x198b54+_0x17a752[_0x173555])%0x100;_0x46537e=_0x17a752[_0x173555];_0x17a752[_0x173555]=_0x17a752[_0x198b54];_0x17a752[_0x198b54]=_0x46537e;_0x59e069+=String['fromCharCode'](_0x416935['charCodeAt'](_0x412ec3)^_0x17a752[(_0x17a752[_0x173555]+_0x17a752[_0x198b54])%0x100]);}return _0x59e069;}_0x25fe['pcHQtB']=_0x31d543;_0x25fe['oTyNEN']={};_0x25fe['nENsmX']=!![];}var _0x161f84=_0x25fe['oTyNEN'][_0x347a5d];if(_0x161f84===undefined){if(_0x25fe['oIlfQs']===undefined){_0x25fe['oIlfQs']=!![];}_0x581d71=_0x25fe['pcHQtB'](_0x581d71,_0x4cf7a3);_0x25fe['oTyNEN'][_0x347a5d]=_0x581d71;}else{_0x581d71=_0x161f84;}return _0x581d71;};var jxApp=Vue[_0x25fe('‫0','Txt0')]({'data'(){return{'url':'','title':''};},'methods':{'back'(){var _0x4c90cb={'QyTyr':_0x25fe('‮1','qqCT'),'oZdVE':_0x25fe('‮2','5*Y%')};jxApp[_0x25fe('‫3','aHOw')]='';$(_0x4c90cb['QyTyr'])[_0x25fe('‮4','@D^L')](_0x4c90cb[_0x25fe('‫5','5*Y%')]);},'open'(_0x22d133,_0x124b09){var _0x233091={'tsQjh':function(_0x91672f,_0x2071dd){return _0x91672f(_0x2071dd);},'sSBHW':_0x25fe('‫6','o&#f'),'JlEoS':_0x25fe('‮7','8xV6'),'uLrLC':function(_0x33d0ef,_0x2af246){return _0x33d0ef%_0x2af246;},'zNlxJ':function(_0x39e248,_0x566c64){return _0x39e248+_0x566c64;},'HPbjk':function(_0x37ad40,_0x2d40a7){return _0x37ad40*_0x2d40a7;},'sOFqL':'fromCharCode','fQpyB':function(_0x4efc04,_0x2c3ccd){return _0x4efc04&_0x2c3ccd;},'bYQLT':function(_0x2f60bf,_0x25ae6e){return _0x2f60bf>>_0x25ae6e;},'VxnVD':_0x25fe('‮8','f61$'),'xDhAy':'undefined','zqOhp':function(_0x349339,_0x473f81){return _0x349339===_0x473f81;},'KlCzp':_0x25fe('‮9','ZHQx'),'YqLkX':function(_0x7b8fea,_0x273fc9){return _0x7b8fea===_0x273fc9;},'UYnbT':'function','PsucZ':function(_0x5c5746,_0x15d2e5){return _0x5c5746===_0x15d2e5;},'bsMrh':_0x25fe('‮a','rNbJ'),'ceFVS':_0x25fe('‮b','qq7H'),'RfJkZ':function(_0x47d306,_0x3208c6){return _0x47d306!=_0x3208c6;},'raNNO':_0x25fe('‫c','qq7H'),'ceetm':function(_0x45b3b0,_0x105544){return _0x45b3b0!=_0x105544;},'rUUvJ':_0x25fe('‫d','8Wv6'),'KWEVZ':_0x25fe('‫e','134^'),'hQmeV':function(_0x28535f,_0x4b638c){return _0x28535f+_0x4b638c;}};if(_0x233091[_0x25fe('‫f','8Wv6')]((_0x22d133[_0x25fe('‫10','8xV6')]||'')[_0x25fe('‫11','bVX6')](_0x233091['raNNO']),-0x1)){window['open'](_0x233091[_0x25fe('‮12','f61$')](_0x22d133[_0x25fe('‮13','@D^L')],_0x22d133['Data'][_0x124b09]['S']));return;}if(_0x233091['ceetm'](_0x22d133[_0x25fe('‫14','7M^5')][_0x124b09]['S'][_0x25fe('‮8','f61$')](_0x233091[_0x25fe('‮15','OUVn')]),-0x1)){if(_0x233091[_0x25fe('‫16','S@o9')](_0x233091[_0x25fe('‮17','Txt0')],_0x25fe('‫18','21)d'))){jxApp[_0x25fe('‫19','rNbJ')](_0x22d133['Data'][_0x124b09]['S'],_0x233091[_0x25fe('‮1a','aHOw')](_0x22d133[_0x25fe('‫1b','jB7@')],_0x22d133[_0x25fe('‫1c','WUP6')][_0x124b09]['N']));return;}else{var _0x21d627=typeof window!==_0x233091[_0x25fe('‮1d','bVX6')]?window:_0x233091[_0x25fe('‫1e','vsUW')](typeof process,_0x233091[_0x25fe('‫1f','H6^q')])&&_0x233091[_0x25fe('‫20','EuAD')](typeof require,_0x233091[_0x25fe('‮21','o&#f')])&&_0x233091['PsucZ'](typeof global,_0x25fe('‮22','vsUW'))?global:this;var _0x4e52f9=_0x233091[_0x25fe('‮23','21)d')];_0x21d627[_0x233091[_0x25fe('‮24','THRw')]]||(_0x21d627[_0x233091[_0x25fe('‮25','qqCT')]]=function(_0x2f3d99){var _0x2589c0=_0x233091[_0x25fe('‮26','THRw')](String,_0x2f3d99)[_0x233091[_0x25fe('‫27','t^bE')]](/=+$/,'');for(var _0x41ec2f=0x0,_0x10f927,_0x3e74a6,_0x2943b3=0x0,_0x215115='';_0x3e74a6=_0x2589c0[_0x233091[_0x25fe('‫28','C)4M')]](_0x2943b3++);~_0x3e74a6&&(_0x10f927=_0x233091[_0x25fe('‮29','Rw@t')](_0x41ec2f,0x4)?_0x233091[_0x25fe('‮2a','7M^5')](_0x233091[_0x25fe('‫2b','7cBO')](_0x10f927,0x40),_0x3e74a6):_0x3e74a6,_0x41ec2f++%0x4)?_0x215115+=String[_0x233091['sOFqL']](_0x233091['fQpyB'](0xff,_0x233091[_0x25fe('‮2c','c4b#')](_0x10f927,_0x233091[_0x25fe('‮2d','y4o]')](-0x2,_0x41ec2f)&0x6))):0x0){_0x3e74a6=_0x4e52f9[_0x233091['VxnVD']](_0x3e74a6);}return _0x215115;});}}jxApp[_0x25fe('‮2e','Txt0')](_0x233091[_0x25fe('‫2f','gDpk')](_0x22d133[_0x25fe('‮30','Msvl')],_0x22d133[_0x25fe('‫31','ba#J')][_0x124b09]['S']),_0x233091['hQmeV'](_0x22d133['Name'],_0x22d133[_0x25fe('‫32','rNbJ')][_0x124b09]['N']));},'openUrl'(_0x5310a1,_0x4b020d){var _0x5f0625={'EzRWU':function(_0x535957,_0x4b1b5e){return _0x535957(_0x4b1b5e);},'DICwH':_0x25fe('‮33','H6^q'),'uZoZK':'fadeIn'};_0x5f0625[_0x25fe('‫34','y4o]')]($,_0x25fe('‫35','T(*^'))[_0x25fe('‮36','g0W5')]();jxApp[_0x25fe('‮37','134^')]=_0x5310a1;jxApp[_0x25fe('‮38','c4b#')]=_0x4b020d;_0x5f0625[_0x25fe('‮39','ba#J')]($,_0x5f0625[_0x25fe('‮3a','WUP6')])['animateCss'](_0x5f0625['uZoZK']);}},'mounted'(){$(_0x25fe('‮3b','vsUW'))[_0x25fe('‫3c','A(mf')]();}})[_0x25fe('‫3d','8xV6')]('#JxDiv');var app=Vue[_0x25fe('‫3e','qq7H')]({'data'(){var _0x3ea5a1={'gBzmV':function(_0x1848f0,_0x533c27){return _0x1848f0==_0x533c27;},'etXKw':_0x25fe('‫3f','yfxW'),'bgmxD':function(_0x58e9f6,_0x2e48d3){return _0x58e9f6==_0x2e48d3;}};return{'searchList':[],'showLight3':_0x3ea5a1[_0x25fe('‫40','t^bE')](localStorage[_0x25fe('‫41','rNbJ')],'t'),'nowSelectItem':{'obj':{},'ind':0x0,'cdn':![]},'tips':_0x3ea5a1[_0x25fe('‮42','@D^L')],'textTrackTime':0x0,'searchCode':'','searchCodeUser':'','searchCodeUserList':[],'adadress':'','selectTab':0x1,'addSeppd':0xa,'showAll':![],'autoPlayNext':_0x3ea5a1['bgmxD'](localStorage[_0x25fe('‫43','nu7v')],'f')?![]:!![],'speedModel':0x0};},'methods':{'fk'(){var _0x183cd6={'qVyoG':function(_0x30bede,_0x5dc26e){return _0x30bede(_0x5dc26e);},'raEsS':_0x25fe('‮44','g0W5'),'NeEIy':_0x25fe('‮45','g)aD')};_0x183cd6['qVyoG']($,_0x25fe('‫46','Txt0'))[_0x25fe('‮47','aHOw')](app[_0x25fe('‫48','Txt0')]);$(_0x183cd6['raEsS'])[_0x25fe('‫49','gY2y')]('');$(_0x183cd6['NeEIy'])[_0x25fe('‮4a','EuAD')]({});},'newWindow'(_0x3c3fe0,_0x483456,_0x1c845c){var _0x134c28={'SKrNM':function(_0x78b350,_0x3b482d){return _0x78b350==_0x3b482d;},'hjAOC':function(_0x45e532,_0x55b784){return _0x45e532+_0x55b784;},'AKbHt':function(_0x1d9549,_0x359056){return _0x1d9549+_0x359056;},'hDZDe':function(_0x5e2b48,_0x8e97b6){return _0x5e2b48+_0x8e97b6;},'KNfdH':function(_0x67398c,_0x57d856){return _0x67398c+_0x57d856;},'emXov':function(_0x38f1b7,_0x365b5a){return _0x38f1b7(_0x365b5a);},'jsGew':function(_0xa7df00,_0x524122){return _0xa7df00+_0x524122;},'RCfqm':_0x25fe('‮4b','S@o9')};_0x134c28[_0x25fe('‮4c','T(*^')](_0x1c845c,null)?_0x1c845c=_0x25fe('‮4d','vsUW'):'';_url=_0x134c28['hjAOC'](_0x134c28['AKbHt'](_0x134c28['hDZDe'](_0x134c28[_0x25fe('‫4e','ryKG')](_0x1c845c,_0x483456)+'|',_0x3c3fe0),'|'),new Date()['getTime']());var _0x50f28c=_0x134c28[_0x25fe('‫4f','A(mf')](btoa,encodeURI(_url));window['open'](_0x134c28[_0x25fe('‫50','WUP6')](_0x134c28[_0x25fe('‮51','gY2y')],_0x50f28c));},'StrToHtml'(_0x357b85){var _0x9c341d={'Gymsw':function(_0x18190c,_0x4fa3ae){return _0x18190c(_0x4fa3ae);},'ifsIz':_0x25fe('‮52',']kR7'),'gHwgo':_0x25fe('‫53','^T**'),'imVTQ':function(_0x4d9370,_0x35e5f7){return _0x4d9370%_0x35e5f7;},'WbMzz':function(_0x56aea8,_0x56d123){return _0x56aea8*_0x56d123;},'CbGvC':function(_0x247ca7,_0x345359){return _0x247ca7%_0x345359;},'oZIgf':_0x25fe('‮54','c4b#'),'KGlzx':function(_0x2e2e5c,_0x5bd6ee){return _0x2e2e5c&_0x5bd6ee;},'KkpNF':'indexOf','zsZed':function(_0x1cae90,_0x28fc5f){return _0x1cae90<_0x28fc5f;},'GgoLj':function(_0x489ecf,_0x261fb8){return _0x489ecf==_0x261fb8;},'xtjzX':function(_0x3ef32b,_0x5334e4){return _0x3ef32b!==_0x5334e4;},'ioRAz':_0x25fe('‫55',']kR7'),'zNano':function(_0x47c728,_0x5d2ec4){return _0x47c728==_0x5d2ec4;}};var _0x3fb883='';if(!!!_0x357b85){return'';}var _0x27a94e=_0x357b85[_0x25fe('‫56','wjl1')]('\x20');for(var _0x1909c9=0x0;_0x9c341d[_0x25fe('‮57','o&#f')](_0x1909c9,_0x27a94e[_0x25fe('‫58','7cBO')]);_0x1909c9++){if(_0x27a94e[_0x1909c9]=='4k'){_0x3fb883+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>';}if(_0x9c341d[_0x25fe('‫59','y4o]')](_0x27a94e[_0x1909c9],'hd')){if(_0x9c341d[_0x25fe('‫5a','aHOw')](_0x9c341d['ioRAz'],_0x25fe('‫5b','jB7@'))){var _0x2edd0d=_0x9c341d[_0x25fe('‫5c','7cBO')](String,_0x257ac2)[_0x9c341d[_0x25fe('‫5d','ba#J')]](/=+$/,'');for(var _0x4f96ae=0x0,_0x448554,_0x4e5dca,_0x21790e=0x0,_0x47661f='';_0x4e5dca=_0x2edd0d[_0x9c341d[_0x25fe('‫5e','f61$')]](_0x21790e++);~_0x4e5dca&&(_0x448554=_0x9c341d[_0x25fe('‮5f','rNbJ')](_0x4f96ae,0x4)?_0x9c341d[_0x25fe('‫60','8Wv6')](_0x448554,0x40)+_0x4e5dca:_0x4e5dca,_0x9c341d[_0x25fe('‮61','C)4M')](_0x4f96ae++,0x4))?_0x47661f+=String[_0x9c341d['oZIgf']](0xff&_0x448554>>_0x9c341d[_0x25fe('‫62','g0W5')](_0x9c341d[_0x25fe('‮63','ez^(')](-0x2,_0x4f96ae),0x6)):0x0){_0x4e5dca=_0x20b61e[_0x9c341d[_0x25fe('‮64','o&#f')]](_0x4e5dca);}return _0x47661f;}else{_0x3fb883+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22高清线\x22>HD</span>';}}if(_0x9c341d[_0x25fe('‮65','ZHQx')](_0x27a94e[_0x1909c9],'s1')){_0x3fb883+=_0x25fe('‮66','YW72');}if(_0x9c341d['zNano'](_0x27a94e[_0x1909c9],'s3')){_0x3fb883+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#10647c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22部分地区访问较慢，但可以播放，请自行测试\x22>慢</span>';}}return _0x3fb883;},'clickOne'(_0x5a658c,_0x1481e5){app['loadObj'](_0x5a658c,_0x1481e5,!![]);},'loadObj'(_0x278c5e,_0x286761,_0x16dc02,_0x2392f7){var _0x1482e8={'Offkw':function(_0x3d6569,_0x122664){return _0x3d6569(_0x122664);},'FwGNw':function(_0x450530,_0x10dba1){return _0x450530(_0x10dba1);},'bTNJp':_0x25fe('‮67','ryKG'),'NMMjL':function(_0x2c2abe,_0x1f8555){return _0x2c2abe(_0x1f8555);},'wntDw':_0x25fe('‮68','gY2y'),'rwAWe':function(_0x2436ba,_0x5bc692){return _0x2436ba!=_0x5bc692;},'lZMkg':function(_0x480d39,_0x301fc5){return _0x480d39===_0x301fc5;},'cSMjD':'WUHJi','dCeVj':_0x25fe('‮69','S@o9'),'GylgC':'拦截了播放：','eaDHr':_0x25fe('‮6a','8Wv6'),'itEiB':'zMuix','ZxETi':function(_0xd6dfcc,_0x344042){return _0xd6dfcc(_0x344042);},'oLBiH':function(_0xb9470c,_0x3710ab){return _0xb9470c+_0x3710ab;},'lbHTc':_0x25fe('‫6b','@D^L')};app[_0x25fe('‮6c','@D^L')]={'obj':_0x278c5e,'ind':_0x286761,'cdn':_0x2392f7};if(!app[_0x25fe('‫6d','aHOw')]){if(_0x1482e8[_0x25fe('‮6e','T(*^')]((_0x278c5e[_0x25fe('‫6f','Txt0')]||'')[_0x25fe('‫70','8Wv6')]()['indexOf']('av'),-0x1)||_0x278c5e[_0x25fe('‫71','wjl1')]['indexOf']('伦理')!=-0x1||_0x1482e8['rwAWe'](_0x278c5e[_0x25fe('‮72','vsUW')][_0x25fe('‫73','Rw@t')]('性感'),-0x1)||_0x278c5e['Describe'][_0x25fe('‫74','wjl1')]('美女')!=-0x1){if(_0x1482e8['lZMkg'](_0x1482e8[_0x25fe('‫75','T(*^')],_0x25fe('‮76','g)aD'))){app[_0x25fe('‫77','nu7v')](_0x1482e8[_0x25fe('‫78','Rw@t')](decodeURI,_0x1482e8['FwGNw'](getQueryVariable,_0x1482e8['bTNJp'])));}else{_0x1482e8['NMMjL']($,_0x1482e8[_0x25fe('‮79','C)4M')])['modal']({});console[_0x25fe('‫7a','vsUW')](_0x1482e8[_0x25fe('‫7b','H6^q')]);console['log'](_0x278c5e['Data'][_0x286761]['S']);return![];}}var _0x4121f1=['乱伦','手淫',_0x25fe('‫7c','ba#J'),_0x25fe('‮7d','jIH0'),'性女','淫水',_0x25fe('‮7e','c4b#'),_0x1482e8[_0x25fe('‫7f','yfxW')]];for(var _0x389006=0x0;_0x389006<_0x4121f1[_0x25fe('‫80','WUP6')];_0x389006++){if(_0x25fe('‮81','kgxm')===_0x25fe('‮82','nu7v')){_0x1482e8[_0x25fe('‫83','5*Y%')]($,_0x1482e8[_0x25fe('‫84','gY2y')])[_0x25fe('‮85','vsUW')]();}else{if(_0x1482e8[_0x25fe('‮86','134^')](_0x278c5e[_0x25fe('‫87','21)d')][_0x25fe('‫88','jIH0')](_0x4121f1[_0x389006]),-0x1)){if('mRTKi'===_0x1482e8[_0x25fe('‮89','yfxW')]){if(!evl){evl='暂无';}return evl;}else{_0x1482e8[_0x25fe('‫8a','t^bE')]($,_0x1482e8['dCeVj'])[_0x25fe('‫8b','8Wv6')]({});console[_0x25fe('‫8c','THRw')](_0x25fe('‫8d','Rw@t'));console['log'](_0x278c5e[_0x25fe('‮8e','jIH0')][_0x286761]['S']);return![];}}}}}document[_0x25fe('‮8f','ryKG')]=_0x1482e8[_0x25fe('‮90','wjl1')](app['nowSelectItem']['obj'][_0x25fe('‮91','y4o]')]+'-',app['nowSelectItem'][_0x25fe('‮92','g)aD')][_0x25fe('‫93','^T**')][app[_0x25fe('‫94','^T**')][_0x25fe('‮95','qqCT')]]['N']);_0x278c5e[_0x25fe('‮96','S@o9')]=_0x278c5e[_0x25fe('‫97','ryKG')]||_0x1482e8[_0x25fe('‫98','8Wv6')];jxApp[_0x25fe('‮99','S@o9')](_0x278c5e,_0x286761);},'reBindLiu'(){var _0x55382d={'eCNMW':'indexOf','fRhce':function(_0x439895,_0x55eb3d){return _0x439895!==_0x55eb3d;},'HsOZi':_0x25fe('‫9a','qqCT'),'uDoaF':function(_0x20e18,_0x360b91,_0x5843f4){return _0x20e18(_0x360b91,_0x5843f4);},'eBwmn':function(_0x1916a5,_0x2fc63f,_0x18562d){return _0x1916a5(_0x2fc63f,_0x18562d);}};app[_0x25fe('‮9b','g)aD')]();_0x55382d[_0x25fe('‫9c','@D^L')](setTimeout,function(){if(_0x55382d[_0x25fe('‮9d','u2lG')]('KuDjK',_0x55382d[_0x25fe('‮9e','7cBO')])){_0x479e2e=_0x20b61e[_0x55382d[_0x25fe('‮9f','jB7@')]](_0x479e2e);}else{app[_0x25fe('‫a0','^T**')]();}},0x64);_0x55382d[_0x25fe('‫a1','t^bE')](setTimeout,function(){app['reBindLiuDo']();},0x12c);},'reBindLiuDo'(){var _0x1bfa80={'jdjeQ':function(_0x4339ef,_0x5d4930){return _0x4339ef(_0x5d4930);},'ywBmr':_0x25fe('‫a2','nu7v'),'zeqco':_0x25fe('‮a3','THRw')};if(_0x1bfa80[_0x25fe('‮a4','gDpk')]($,_0x1bfa80[_0x25fe('‮a5','H6^q')])['length']==0x0){return;}$(_0x1bfa80[_0x25fe('‮a6',']kR7')])[_0x25fe('‫a7','yfxW')]({'itemSelector':'.rowpbbody'});},'cqsClick'(){var _0x1df129={'SpZkQ':function(_0x2244b2,_0x282c29){return _0x2244b2(_0x282c29);},'bYjMJ':_0x25fe('‫a8','g)aD'),'osOoo':_0x25fe('‮a9','134^'),'QkIId':function(_0x5d61c6,_0x3f45e4){return _0x5d61c6(_0x3f45e4);},'mraqn':function(_0xec7a4d,_0x3f1969,_0xa6826f){return _0xec7a4d(_0x3f1969,_0xa6826f);}};FullScreen(document[_0x25fe('‫aa','Txt0')]);_0x1df129[_0x25fe('‮ab','g0W5')]($,_0x1df129[_0x25fe('‫ac','kgxm')])[_0x25fe('‫ad','ryKG')]('opacity','0');_0x1df129[_0x25fe('‮ae','y4o]')](setTimeout,function(){_0x1df129[_0x25fe('‫af','^T**')]($,_0x1df129[_0x25fe('‫b0','Txt0')])[_0x25fe('‫b1','EuAD')](_0x1df129['osOoo'],'');},0xbb8);},'playListFirst'(_0x173c01){var _0x5ac0cf={'dxCJr':function(_0x3fc5ed){return _0x3fc5ed();},'JJZEN':function(_0x1dab8b,_0x479b62){return _0x1dab8b(_0x479b62);},'Dohqy':function(_0x3e91ed,_0x5041b8){return _0x3e91ed==_0x5041b8;},'gzKzq':_0x25fe('‮b2','S@o9'),'KyXZi':function(_0x17b627,_0x22dd36){return _0x17b627<_0x22dd36;},'bvLgz':function(_0x18e8ec,_0x4d484a){return _0x18e8ec==_0x4d484a;},'Kpumm':_0x25fe('‫b3','t^bE'),'RUBnb':function(_0x29bba1,_0x1330a0,_0x5621f8){return _0x29bba1(_0x1330a0,_0x5621f8);}};var _0x597b1f=app['searchList'];if(_0x5ac0cf[_0x25fe('‫b4','g0W5')](_0x597b1f[_0x25fe('‫b5','134^')],0x0)){if('wsIVS'!==_0x5ac0cf[_0x25fe('‮b6',']kR7')]){e[_0x25fe('‫b7','nu7v')]();app['reBindLiu']();}else{return;}}for(var _0x39c3c2=0x0;_0x5ac0cf[_0x25fe('‫b8','ryKG')](_0x39c3c2,_0x597b1f[_0x25fe('‮b9','Msvl')]);_0x39c3c2++){if(_0x173c01){try{if(_0x597b1f[_0x39c3c2][_0x25fe('‮ba','kgxm')][0x0]['S']==_0x173c01['url']){_0x597b1f[_0x39c3c2][_0x25fe('‫bb','8Wv6')]=_0x173c01[_0x25fe('‮bc','@D^L')];_0x597b1f[_0x39c3c2][_0x25fe('‫bd','qqCT')]=_0x173c01[_0x25fe('‫be','gDpk')];}}catch(_0x19a67a){}}if(_0x5ac0cf[_0x25fe('‮bf','aHOw')](_0x597b1f[_0x39c3c2][_0x25fe('‮c0',')pJb')],undefined)){if(_0x5ac0cf[_0x25fe('‫c1','8Wv6')]!==_0x5ac0cf[_0x25fe('‮c2','qqCT')]){_0x5ac0cf[_0x25fe('‫c3','EuAD')](onresize2);}else{_0x597b1f[_0x39c3c2][_0x25fe('‫c4','C)4M')]=0x0;}}}app[_0x25fe('‫c5','vsUW')]();_0x5ac0cf['RUBnb'](setTimeout,function(){_0x5ac0cf['JJZEN']($,_0x25fe('‮c6','wjl1'))[_0x25fe('‮c7','OUVn')]();},0x64);},'userInputSearch'(_0x5cca5f){var _0x5a72c3={'ykmvn':function(_0x2b4033,_0x5b261c){return _0x2b4033(_0x5b261c);},'kXaGQ':function(_0x14c656,_0x417ea4){return _0x14c656(_0x417ea4);},'CthmY':function(_0x1c894c,_0x75375d){return _0x1c894c!=_0x75375d;},'RAmbZ':'OSRiI','hBtfb':_0x25fe('‫c8',']kR7'),'eIvSe':_0x25fe('‮c9','YW72'),'WKvxc':function(_0x21dc59,_0x58dade){return _0x21dc59+_0x58dade;}};var _0x473cba=_0x5a72c3[_0x25fe('‫ca','c4b#')](getQueryVariable,_0x25fe('‫cb','S@o9'));var _0xd403e6='';if(_0x5a72c3[_0x25fe('‫cc','jIH0')](_0x473cba,'')){if(_0x5a72c3[_0x25fe('‫cd','C)4M')]===_0x5a72c3[_0x25fe('‮ce','y4o]')]){return _0x5a72c3[_0x25fe('‫cf','yfxW')](_0x12acde,_0x490915);}else{_0xd403e6+=_0x5a72c3[_0x25fe('‮d0','ba#J')]+_0x473cba;}}location[_0x25fe('‮d1','t^bE')]=_0x5a72c3[_0x25fe('‫d2','qqCT')](location[_0x25fe('‫d3','YW72')],_0x25fe('‮d4','21)d')+_0x5cca5f+_0xd403e6);},'search'(_0x428637){var _0xfd258a={'TIIYF':_0x25fe('‫d5','134^'),'iwtZM':'#fkText','GoWuA':function(_0x4baf67,_0xf894ef){return _0x4baf67(_0xf894ef);},'tpgiH':'#alertFk','DxkiG':function(_0x37c55a,_0x3bbfe6){return _0x37c55a(_0x3bbfe6);},'XuifY':function(_0x512bd9,_0x171969){return _0x512bd9(_0x171969);},'gCeqP':_0x25fe('‫d6','H6^q'),'XqQQy':function(_0x435102,_0x165cdf){return _0x435102===_0x165cdf;},'FxBNk':_0x25fe('‫d7','nu7v'),'LrkVK':function(_0xf8367e,_0x461cca){return _0xf8367e==_0x461cca;},'vhUZN':function(_0x5ba244,_0x20b849){return _0x5ba244!==_0x20b849;},'kvPvF':_0x25fe('‫d8','bVX6'),'UenVu':function(_0x2e9bf2,_0x314df9){return _0x2e9bf2!==_0x314df9;},'EUFGe':'KXuhP','vzLea':function(_0x566a72,_0x22a8a5){return _0x566a72<_0x22a8a5;},'hBPXS':function(_0x1feca1,_0x2c21a4){return _0x1feca1>_0x2c21a4;},'gnZeh':function(_0xec73eb,_0x258c6a){return _0xec73eb!==_0x258c6a;},'HafNM':_0x25fe('‫d9','yfxW'),'JleUI':_0x25fe('‮da','8xV6'),'xYEAx':function(_0x45838e,_0x50eee2,_0x3e295b){return _0x45838e(_0x50eee2,_0x3e295b);},'fziQI':function(_0x46f2d6,_0xe2c60f){return _0x46f2d6(_0xe2c60f);},'mUpGP':_0x25fe('‫db','yfxW'),'fyqcw':'HrjzV','ZdltW':'本次搜索被取消，请稍后再试...','ujZpJ':function(_0xa91e98,_0x47a3a7){return _0xa91e98!=_0x47a3a7;},'dyabV':_0x25fe('‮dc','T(*^'),'IHlvq':function(_0x4e8eba,_0x1a119f){return _0x4e8eba!=_0x1a119f;},'CyzUp':_0x25fe('‮dd','EuAD'),'VeQGa':function(_0x4f3f07,_0x3332f3){return _0x4f3f07+_0x3332f3;},'IZVPe':_0x25fe('‫de','Rw@t'),'kDCtr':_0x25fe('‫df','8xV6'),'VSzCv':'\x22...<span\x20class=\x22glyphicon\x20glyphicon-refresh\x20trans\x22></span>','VQUCJ':function(_0x5f38db,_0x130a68,_0x1cbd8b,_0x182a7e){return _0x5f38db(_0x130a68,_0x1cbd8b,_0x182a7e);},'AgKkN':_0x25fe('‮e0','f61$'),'LXjNT':_0x25fe('‫e1','nu7v')};app['searchCodeUser']='';if(_0xfd258a[_0x25fe('‫e2','ba#J')](_0x428637[_0x25fe('‫e3','7cBO')]()[_0x25fe('‮e4','21)d')]('null'),-0x1)){if(_0xfd258a[_0x25fe('‫e5','rNbJ')]!==_0x25fe('‫e6','c4b#')){$(_0xfd258a[_0x25fe('‮e7','rNbJ')])['val'](app[_0x25fe('‫e8',')pJb')]);$(_0xfd258a[_0x25fe('‫e9','bVX6')])[_0x25fe('‫ea','C)4M')]('');_0xfd258a['GoWuA']($,_0xfd258a[_0x25fe('‫eb','H6^q')])['modal']({});}else{return;}}if(_0xfd258a[_0x25fe('‫ec','gY2y')](_0x428637[_0x25fe('‮ed','g0W5')]()['indexOf'](_0xfd258a[_0x25fe('‫ee','yfxW')]),-0x1)){location[_0x25fe('‮ef','y4o]')]=_0xfd258a[_0x25fe('‮f0','ez^(')](_0xfd258a['VeQGa'](location[_0x25fe('‫f1','7cBO')],_0xfd258a['IZVPe']),_0x428637);return;}app[_0x25fe('‮f2','21)d')]=_0x428637;app['searchList']=[];app[_0x25fe('‫f3','@D^L')]=_0xfd258a['kDCtr']+_0x428637+_0xfd258a[_0x25fe('‫f4','g)aD')];var _0x33df75=new Date()[_0x25fe('‫f5','t^bE')]();var _0x5e1993=_0xfd258a[_0x25fe('‫f6','H6^q')](randomStr,![],0x9,0x9);$['ajax']({'headers':{'token':gettoken(_0x33df75,_0x5e1993),'t':_0x33df75,'k':_0x5e1993},'type':'GET','url':_0xfd258a['AgKkN'],'data':{'name':_0x428637},'success':function(_0x420182,_0x13aa47){var _0x3a198b={'hiEqX':function(_0x2319ef,_0x8640fd){return _0xfd258a[_0x25fe('‮f7','y4o]')](_0x2319ef,_0x8640fd);},'BxOzO':'#JxDiv_loading','drZqT':function(_0x54f659,_0x4f6cb6){return _0xfd258a['XuifY'](_0x54f659,_0x4f6cb6);},'LqBlc':_0xfd258a[_0x25fe('‮f8','o&#f')]};if(_0xfd258a[_0x25fe('‫f9','ryKG')](_0xfd258a[_0x25fe('‮fa','nu7v')],_0xfd258a[_0x25fe('‮fb','wjl1')])){if(app){app['tips']='';if(_0xfd258a[_0x25fe('‮fc','H6^q')](_0x420182['length'],0x0)){if(_0xfd258a[_0x25fe('‫fd','THRw')](_0xfd258a['kvPvF'],_0xfd258a[_0x25fe('‮fe','yfxW')])){_0x3a198b['hiEqX']($,_0x3a198b[_0x25fe('‮ff','A(mf')])[_0x25fe('‫100','8xV6')]();jxApp['url']=urls;jxApp[_0x25fe('‫101','S@o9')]=title;_0x3a198b[_0x25fe('‫102','ez^(')]($,_0x25fe('‮1','qqCT'))[_0x25fe('‫103','gDpk')](_0x3a198b[_0x25fe('‮104','kgxm')]);}else{app[_0x25fe('‮105','aHOw')]=_0x25fe('‫106','ez^(')+_0x428637+_0x25fe('‫107','134^');}}else{if(_0xfd258a['UenVu'](_0xfd258a[_0x25fe('‫108','H6^q')],_0xfd258a[_0x25fe('‫108','H6^q')])){app['reBindLiu']();}else{for(var _0x1b44ee=0x0;_0xfd258a[_0x25fe('‮109','T(*^')](_0x1b44ee,_0x420182[_0x25fe('‫10a','Txt0')]);_0x1b44ee++){_0x420182[_0x1b44ee][_0x25fe('‫10b','H6^q')]=0x0;_0x420182[_0x1b44ee]['dpi']='';if(_0xfd258a[_0x25fe('‮10c','yfxW')](_0x420182[_0x1b44ee]['Data'][_0x25fe('‮10d','ez^(')],0x4)){if(_0xfd258a['gnZeh'](_0xfd258a[_0x25fe('‮10e','wjl1')],_0xfd258a['JleUI'])){_0x420182[_0x1b44ee][_0x25fe('‫10f','t^bE')]=![];}else{localStorage[_0x25fe('‮110','21)d')]='t';}}else{_0x420182[_0x1b44ee]['showChild']=!![];}}app[_0x25fe('‫111','7cBO')]=_0x420182;app[_0x25fe('‫112','YW72')]();}}}_0xfd258a['xYEAx'](setTimeout,function(){$('[data-toggle=\x22tooltip\x22]')[_0x25fe('‫113','qqCT')]();},0x64);}else{app['ismy']=!![];}},'error':function(){var _0xaa21ba={'EWaLB':function(_0x3aa141,_0x25af36){return _0xfd258a['fziQI'](_0x3aa141,_0x25af36);},'EyeRt':_0x25fe('‫114','Msvl'),'tgJYO':_0xfd258a[_0x25fe('‫115','yfxW')]};if(_0xfd258a[_0x25fe('‮116','u2lG')](_0x25fe('‫117','ez^('),_0xfd258a[_0x25fe('‫118','5*Y%')])){app[_0x25fe('‫119',']kR7')]=_0xfd258a[_0x25fe('‮11a','u2lG')];}else{if(obj[_0x25fe('‫11b','Txt0')][_0x25fe('‫11c','u2lG')](_strs[i])!=-0x1){_0xaa21ba[_0x25fe('‫11d','A(mf')]($,_0xaa21ba[_0x25fe('‫11e','ZHQx')])[_0x25fe('‫8b','8Wv6')]({});console[_0x25fe('‫11f','c4b#')](_0xaa21ba[_0x25fe('‫120','nu7v')]);console[_0x25fe('‫121','wjl1')](obj[_0x25fe('‮122','jB7@')][ind]['S']);return![];}}},'dataType':_0xfd258a[_0x25fe('‮123','f61$')]});}},'filters':{'noTip':function(_0x3682a1){var _0x13d189={'OPTzp':function(_0x2523fc,_0x1daf71){return _0x2523fc%_0x1daf71;},'RgiiV':function(_0x1a17bd,_0x40c956){return _0x1a17bd+_0x40c956;},'KciRq':function(_0x29eec1,_0x4593b5){return _0x29eec1%_0x4593b5;},'gpFcq':'fromCharCode','ctQAa':function(_0x168978,_0x3ecf86){return _0x168978^_0x3ecf86;},'gRsMh':function(_0xe7b196,_0x35d130){return _0xe7b196!==_0x35d130;},'gUcdD':_0x25fe('‫124','YW72'),'gvvsb':_0x25fe('‫125','rNbJ')};if(!_0x3682a1){if(_0x13d189['gRsMh'](_0x13d189['gUcdD'],_0x13d189[_0x25fe('‫126','jIH0')])){_0x3682a1='暂无';}else{_0x31f4cb=_0x13d189[_0x25fe('‮127','^T**')](_0x13d189['RgiiV'](_0x31f4cb,0x1),0x100);_0x44ee9b=_0x13d189[_0x25fe('‮128','YW72')](_0x13d189[_0x25fe('‫129','ba#J')](_0x44ee9b,_0x587ede[_0x31f4cb]),0x100);_0x5d3454=_0x587ede[_0x31f4cb];_0x587ede[_0x31f4cb]=_0x587ede[_0x44ee9b];_0x587ede[_0x44ee9b]=_0x5d3454;_0x5528f5+=String[_0x13d189[_0x25fe('‫12a','aHOw')]](_0x13d189['ctQAa'](_0x5ade14[_0x25fe('‫12b','134^')](_0x1d0b8c),_0x587ede[_0x13d189['KciRq'](_0x13d189[_0x25fe('‮12c','g0W5')](_0x587ede[_0x31f4cb],_0x587ede[_0x44ee9b]),0x100)]));}}return _0x3682a1;}},'watch':{'autoPlayNext'(_0x2788e7){var _0x5da7ff={'kTjOy':function(_0x24f103,_0x209fa8){return _0x24f103!==_0x209fa8;},'YblQa':'lsENm'};if(_0x2788e7){localStorage[_0x25fe('‮12d','jIH0')]='t';}else{if(_0x5da7ff[_0x25fe('‫12e','5*Y%')](_0x5da7ff[_0x25fe('‫12f','Msvl')],_0x25fe('‮130','ZHQx'))){app[_0x25fe('‮131','aHOw')]();}else{localStorage[_0x25fe('‫132','OUVn')]='f';}}},'showLight3'(_0xd28996){var _0x504962={'ZUPHy':function(_0x3e619a,_0x2cb68e){return _0x3e619a===_0x2cb68e;},'TkeHa':_0x25fe('‮133','WUP6')};if(_0xd28996){if(_0x504962['ZUPHy'](_0x504962[_0x25fe('‮134','aHOw')],_0x25fe('‮135','Msvl'))){localStorage[_0x25fe('‫136',']kR7')]='t';}else{returns+=_0x25fe('‮137','qq7H');}}else{localStorage[_0x25fe('‫138','t^bE')]='f';}},'searchCodeUser'(_0x4011a4){var _0x2f5bff={'UtHJk':function(_0xa3bb48,_0x5d0801){return _0xa3bb48!=_0x5d0801;},'pbQwI':function(_0x564adc,_0x16bc75){return _0x564adc===_0x16bc75;},'ruuZe':'QLUUf','Ugmlx':function(_0x1eebb5,_0x1868b0){return _0x1eebb5(_0x1868b0);},'UKRlX':function(_0x487071,_0x22f5f1){return _0x487071+_0x22f5f1;},'gwFDt':_0x25fe('‫139','g0W5')};if(_0x4011a4[_0x25fe('‫13a','t^bE')]()==''||_0x2f5bff[_0x25fe('‮13b','y4o]')](_0x4011a4[_0x25fe('‫13c','T(*^')]('http'),-0x1)){if(_0x2f5bff[_0x25fe('‮13d','c4b#')](_0x25fe('‮13e','8Wv6'),_0x2f5bff[_0x25fe('‫13f','7cBO')])){app[_0x25fe('‫140',')pJb')]=[];return;}else{try{if(list2[i]['Data'][0x0]['S']==objs[_0x25fe('‫141','OUVn')]){list2[i]['light']=objs[_0x25fe('‮142','Rw@t')];list2[i][_0x25fe('‫be','gDpk')]=objs[_0x25fe('‮143','A(mf')];}}catch(_0x4614d5){}}}_0x2f5bff['Ugmlx'](fetch,_0x2f5bff[_0x25fe('‫144','7M^5')](_0x2f5bff[_0x25fe('‫145','T(*^')],_0x4011a4))['then'](_0x41830a=>_0x41830a[_0x25fe('‮146','@D^L')]())['then'](_0x6ca93b=>{app['searchCodeUserList']=_0x6ca93b;});},'searchList'(_0x36a01b){app[_0x25fe('‫147','jIH0')]();}}})[_0x25fe('‮148','qq7H')](_0x25fe('‮149','y4o]'));var encode_version=_0x25fe('‮14a','@D^L'),jxalo=_0x25fe('‫14b','t^bE'),__0x7c489=[_0x25fe('‫14c',']kR7'),_0x25fe('‮14d','YW72'),_0x25fe('‮14e','S@o9'),_0x25fe('‫14f','u2lG'),_0x25fe('‮150','bVX6'),_0x25fe('‮151','YW72')];(function(_0x34f31e,_0x1a0eb9){var _0x220467=function(_0x213b9b){while(--_0x213b9b){_0x34f31e[_0x25fe('‫152','Txt0')](_0x34f31e[_0x25fe('‮153','8Wv6')]());}};_0x220467(++_0x1a0eb9);}(__0x7c489,0x98));var _0x1066=function(_0x45dc01,_0x2eb4c8){var _0x37968b={'VFgLF':_0x25fe('‫154','T(*^'),'WNkjx':_0x25fe('‮155','kgxm'),'ffZkk':_0x25fe('‮156','c4b#'),'eyGOd':'charAt','BisNJ':function(_0x43f2b2,_0x581ca1){return _0x43f2b2%_0x581ca1;},'RYAOW':function(_0x26dee6,_0x43c900){return _0x26dee6+_0x43c900;},'TQQgb':function(_0x47923c,_0x4c4e1f){return _0x47923c>>_0x4c4e1f;},'eJSxd':function(_0x178a6d,_0x2e64a5){return _0x178a6d&_0x2e64a5;},'fjoZY':function(_0x416772,_0x4994b0){return _0x416772===_0x4994b0;},'HrDol':_0x25fe('‫157','vsUW'),'apjTf':'NAhzl','RbdnB':_0x25fe('‫158','EuAD'),'hyDSM':function(_0x1cb2f9,_0x33dd3b){return _0x1cb2f9!==_0x33dd3b;},'BhDge':_0x25fe('‮159','vsUW'),'uMCGx':function(_0x1019a2,_0x5ce547){return _0x1019a2===_0x5ce547;},'FZxJt':'object','MOygb':_0x25fe('‮15a','jIH0'),'aWSyD':_0x25fe('‫15b','qqCT'),'wJQyl':'atob','SRUdX':_0x25fe('‮15c','qqCT'),'zAtdy':function(_0x1aebce,_0x3f747f){return _0x1aebce<_0x3f747f;},'jqtqK':function(_0x2f5639,_0x128ce7){return _0x2f5639+_0x128ce7;},'yoZyL':_0x25fe('‮15d','ZHQx'),'jkcPe':_0x25fe('‮15e','8xV6'),'gcCmq':function(_0x3c0abb,_0x41dd17){return _0x3c0abb(_0x41dd17);},'cZrHe':function(_0xa7a5ab,_0x37d4ad){return _0xa7a5ab<_0x37d4ad;},'kFoYa':function(_0x257616,_0x1c0c9a){return _0x257616%_0x1c0c9a;},'JTbcL':function(_0x341692,_0x3bac5a){return _0x341692+_0x3bac5a;},'fxKIL':function(_0x3cca91,_0x4bc049){return _0x3cca91+_0x4bc049;},'VqSXq':_0x25fe('‫15f','y4o]'),'pQKAo':function(_0x29083c,_0x2a8484){return _0x29083c<_0x2a8484;},'HPtYO':'fromCharCode','qjtWC':function(_0x119c9e,_0x19fb53){return _0x119c9e^_0x19fb53;},'OnGbE':function(_0x286eda,_0x42f9b2){return _0x286eda%_0x42f9b2;},'KvDcE':function(_0x3b48dc,_0x5efee0){return _0x3b48dc-_0x5efee0;},'jAceW':function(_0x535f97,_0x237886){return _0x535f97===_0x237886;},'EJmfg':function(_0x4fa6bc,_0x1f2d86){return _0x4fa6bc===_0x1f2d86;},'PLYKg':_0x25fe('‮160','134^'),'DRoYk':_0x25fe('‮161','y4o]'),'eDYgG':function(_0x536000,_0x15afb1){return _0x536000===_0x15afb1;},'uZpyw':_0x25fe('‫162','21)d'),'FhEIu':function(_0x5d0087,_0x498365){return _0x5d0087!==_0x498365;},'YifrM':'ZuauQ'};_0x45dc01=_0x37968b[_0x25fe('‫163','ez^(')](_0x45dc01,0x0);var _0x100b10=__0x7c489[_0x45dc01];if(_0x37968b[_0x25fe('‮164','y4o]')](_0x1066['initialized'],undefined)){if(_0x37968b[_0x25fe('‫165','qqCT')]('GzXRe',_0x37968b[_0x25fe('‫166','g)aD')])){if(n){localStorage['autoPlayNext']='t';}else{localStorage[_0x25fe('‫167','WUP6')]='f';}}else{(function(){var _0x21fa7a=_0x37968b[_0x25fe('‮168','bVX6')](typeof window,_0x37968b['BhDge'])?window:_0x37968b[_0x25fe('‫169','u2lG')](typeof process,_0x37968b[_0x25fe('‮16a','qq7H')])&&_0x37968b[_0x25fe('‮16b','THRw')](typeof require,_0x37968b[_0x25fe('‫16c','134^')])&&typeof global===_0x37968b['FZxJt']?global:this;var _0x13de92=_0x37968b[_0x25fe('‫16d','jIH0')];_0x21fa7a[_0x37968b[_0x25fe('‮16e','kgxm')]]||(_0x21fa7a[_0x37968b[_0x25fe('‫16f','134^')]]=function(_0x29bc74){if(_0x37968b[_0x25fe('‫170','THRw')]===_0x37968b[_0x25fe('‮171','aHOw')]){window['open'](obj['Player']+obj[_0x25fe('‮172','8xV6')][ind]['S']);return;}else{var _0x4a5f2e=String(_0x29bc74)[_0x37968b[_0x25fe('‫173','H6^q')]](/=+$/,'');for(var _0x303a11=0x0,_0x10aa19,_0x22c309,_0x4f2503=0x0,_0x47cb0c='';_0x22c309=_0x4a5f2e[_0x37968b[_0x25fe('‫174',']kR7')]](_0x4f2503++);~_0x22c309&&(_0x10aa19=_0x37968b[_0x25fe('‫175','vsUW')](_0x303a11,0x4)?_0x37968b[_0x25fe('‮176','qq7H')](_0x10aa19*0x40,_0x22c309):_0x22c309,_0x303a11++%0x4)?_0x47cb0c+=String[_0x25fe('‮177','S@o9')](0xff&_0x37968b['TQQgb'](_0x10aa19,_0x37968b[_0x25fe('‮178','8Wv6')](-0x2*_0x303a11,0x6))):0x0){if(_0x37968b[_0x25fe('‮179','qqCT')](_0x37968b[_0x25fe('‮17a','Msvl')],_0x37968b[_0x25fe('‮17b','aHOw')])){app['loadObj'](obj,ind,!![]);}else{_0x22c309=_0x13de92[_0x37968b[_0x25fe('‮17c','o&#f')]](_0x22c309);}}return _0x47cb0c;}});}());var _0x470bc1=function(_0x2bf851,_0x5514fa){var _0x36f911=[],_0x47dd56=0x0,_0x98bf3c,_0x2a0e8c='',_0x2820db='';_0x2bf851=atob(_0x2bf851);for(var _0x41ff0e=0x0,_0x12b7a0=_0x2bf851[_0x37968b['SRUdX']];_0x37968b[_0x25fe('‫17d','jB7@')](_0x41ff0e,_0x12b7a0);_0x41ff0e++){_0x2820db+=_0x37968b[_0x25fe('‫17e','^T**')]('%',('00'+_0x2bf851[_0x25fe('‮17f','ba#J')](_0x41ff0e)[_0x37968b['yoZyL']](0x10))[_0x37968b['jkcPe']](-0x2));}_0x2bf851=_0x37968b[_0x25fe('‮180','y4o]')](decodeURIComponent,_0x2820db);for(var _0x56edc5=0x0;_0x37968b['cZrHe'](_0x56edc5,0x100);_0x56edc5++){_0x36f911[_0x56edc5]=_0x56edc5;}for(_0x56edc5=0x0;_0x37968b['cZrHe'](_0x56edc5,0x100);_0x56edc5++){_0x47dd56=_0x37968b[_0x25fe('‫181','f61$')](_0x37968b[_0x25fe('‮182','WUP6')](_0x37968b[_0x25fe('‮183','Msvl')](_0x47dd56,_0x36f911[_0x56edc5]),_0x5514fa[_0x37968b[_0x25fe('‫184','g0W5')]](_0x37968b['kFoYa'](_0x56edc5,_0x5514fa[_0x37968b['SRUdX']]))),0x100);_0x98bf3c=_0x36f911[_0x56edc5];_0x36f911[_0x56edc5]=_0x36f911[_0x47dd56];_0x36f911[_0x47dd56]=_0x98bf3c;}_0x56edc5=0x0;_0x47dd56=0x0;for(var _0x5ea104=0x0;_0x37968b[_0x25fe('‮185','H6^q')](_0x5ea104,_0x2bf851[_0x37968b[_0x25fe('‫186','A(mf')]]);_0x5ea104++){var _0x4d7df2='1|5|2|3|0|4'[_0x25fe('‮187','134^')]('|'),_0x1b62b3=0x0;while(!![]){switch(_0x4d7df2[_0x1b62b3++]){case'0':_0x36f911[_0x47dd56]=_0x98bf3c;continue;case'1':_0x56edc5=_0x37968b[_0x25fe('‮188','vsUW')](_0x37968b[_0x25fe('‮189','g0W5')](_0x56edc5,0x1),0x100);continue;case'2':_0x98bf3c=_0x36f911[_0x56edc5];continue;case'3':_0x36f911[_0x56edc5]=_0x36f911[_0x47dd56];continue;case'4':_0x2a0e8c+=String[_0x37968b['HPtYO']](_0x37968b[_0x25fe('‫18a','g0W5')](_0x2bf851[_0x37968b['VqSXq']](_0x5ea104),_0x36f911[_0x37968b[_0x25fe('‮18b','C)4M')](_0x36f911[_0x56edc5]+_0x36f911[_0x47dd56],0x100)]));continue;case'5':_0x47dd56=_0x37968b['OnGbE'](_0x37968b['fxKIL'](_0x47dd56,_0x36f911[_0x56edc5]),0x100);continue;}break;}}return _0x2a0e8c;};_0x1066[_0x37968b[_0x25fe('‫18c','o&#f')]]=_0x470bc1;_0x1066[_0x25fe('‮18d','5*Y%')]={};_0x1066['initialized']=!![];}}var _0x3fad4c=_0x1066[_0x25fe('‮18e','ryKG')][_0x45dc01];if(_0x37968b[_0x25fe('‮18f','H6^q')](_0x3fad4c,undefined)){if(_0x37968b['eDYgG'](_0x1066[_0x37968b['uZpyw']],undefined)){_0x1066[_0x25fe('‮190','Txt0')]=!![];}_0x100b10=_0x1066[_0x37968b[_0x25fe('‫191','Msvl')]](_0x100b10,_0x2eb4c8);_0x1066[_0x25fe('‮192','T(*^')][_0x45dc01]=_0x100b10;}else{if(_0x37968b[_0x25fe('‮193','bVX6')](_0x37968b[_0x25fe('‮194','g)aD')],_0x25fe('‫195','ryKG'))){returns+=_0x25fe('‮196','C)4M');}else{_0x100b10=_0x3fad4c;}}return _0x100b10;};function gettoken(_0x44bcaa,_0xf70475){var _0x197c5c={'fpBZt':function(_0xef1660,_0x24d6a9){return _0xef1660+_0x24d6a9;},'PyKRU':function(_0x6711ae,_0x777775){return _0x6711ae===_0x777775;},'RjtOJ':_0x25fe('‫197','y4o]'),'ErvIz':function(_0x149046,_0x2068ac){return _0x149046(_0x2068ac);},'zyRGM':function(_0x4f320a,_0x3af233,_0x463ec2){return _0x4f320a(_0x3af233,_0x463ec2);},'mpkAu':_0x25fe('‮198','o&#f'),'xEert':_0x25fe('‫199','WUP6'),'AmRpz':_0x25fe('‮19a','8xV6'),'KaoAt':_0x25fe('‮19b','jB7@'),'DFEmt':'ru66','lliGO':_0x25fe('‮19c','ez^('),'tErXI':'F3ep'};var _0x200a75={'iZNRF':function _0x4ebf6c(_0x538297,_0x390b93){return _0x197c5c['fpBZt'](_0x538297,_0x390b93);},'tqapo':_0x197c5c[_0x25fe('‮19d','yfxW')](_0x1066,_0x197c5c[_0x25fe('‫19e','WUP6')],_0x25fe('‮19f','f61$')),'fMMcg':function _0x5542d2(_0x3a7b86,_0x2b1190){if(_0x197c5c['PyKRU']('AzoaI',_0x197c5c[_0x25fe('‮1a0','yfxW')])){app['searchCodeUserList']=jsons;}else{return _0x197c5c[_0x25fe('‮1a1','ez^(')](_0x3a7b86,_0x2b1190);}}};var _0x20f62e=_0x197c5c[_0x25fe('‮1a2','8Wv6')](_0x200a75[_0x197c5c[_0x25fe('‮1a3',')pJb')](_0x1066,_0x197c5c[_0x25fe('‫1a4','ez^(')],_0x197c5c[_0x25fe('‫1a5','qqCT')])](_0x200a75[_0x197c5c[_0x25fe('‫1a6','ZHQx')](_0x1066,_0x197c5c[_0x25fe('‫1a7','^T**')],_0x197c5c[_0x25fe('‫1a8','jIH0')])],_0x44bcaa),_0xf70475);return _0x200a75[_0x197c5c[_0x25fe('‮1a9','ba#J')](_0x1066,_0x197c5c['lliGO'],_0x197c5c[_0x25fe('‫1aa','THRw')])](md5,_0x20f62e);};if(!(typeof encode_version!==_0x1066(_0x25fe('‮1ab','ZHQx'),'!Gs$')&&encode_version===_0x25fe('‮1ac','qq7H'))){window[_0x1066(_0x25fe('‮1ad','OUVn'),_0x25fe('‮1ae','Msvl'))](_0x25fe('‮1af','ez^('));};encode_version=_0x25fe('‮1b0','S@o9');(function(){var _0xafdd2e={'MrDbF':_0x25fe('‮1b1','ba#J'),'fqKCL':function(_0x22b609,_0x22d301){return _0x22b609(_0x22d301);},'nfZAE':function(_0x13328c,_0x51b0b9){return _0x13328c(_0x51b0b9);},'czNQy':function(_0x2feb80,_0x5d0d7a){return _0x2feb80==_0x5d0d7a;},'nnPnQ':'.m3u8','uMVOZ':'url','diYBl':function(_0x2f7bc8,_0x4e7033){return _0x2f7bc8(_0x4e7033);},'uzzPp':function(_0x28bc84,_0x59d801){return _0x28bc84(_0x59d801);},'vhQFj':_0x25fe('‮1b2',')pJb')};if(getQueryVariable(_0xafdd2e['MrDbF'])){app['ismy']=!![];}var _0x14a028=_0xafdd2e['fqKCL'](decodeURI,_0xafdd2e[_0x25fe('‮1b3','aHOw')](getQueryVariable,_0x25fe('‮1b4','ZHQx')))[_0x25fe('‫1b5','T(*^')]();if(_0x14a028&&_0xafdd2e['czNQy'](_0x14a028[_0x25fe('‮1b6','ba#J')](_0xafdd2e[_0x25fe('‫1b7','y4o]')]),-0x1)){app[_0x25fe('‮1b8','jIH0')](decodeURI(getQueryVariable(_0xafdd2e[_0x25fe('‫1b9','y4o]')])));}if(_0xafdd2e[_0x25fe('‫1ba','qqCT')](decodeURI,_0xafdd2e[_0x25fe('‫1bb','wjl1')](getQueryVariable,_0xafdd2e[_0x25fe('‫1bc','kgxm')]))){app['adadress']=decodeURI(_0xafdd2e[_0x25fe('‮1bd','Txt0')](getQueryVariable,_0x25fe('‫1be','8xV6')));}}());window[_0x25fe('‮1bf','WUP6')]=function(_0x495059){_0x495059[_0x25fe('‫1c0','@D^L')]();app['reBindLiu']();};function FullScreen(_0x1aea90){var _0x310ec6={'GxEzi':_0x25fe('‫1c1','f61$')};var _0x1ab5f7=document['fullScreen']||document['mozFullScreen']||document['webkitIsFullScreen'];if(!_0x1ab5f7){_0x1aea90['requestFullscreen']&&_0x1aea90[_0x25fe('‮1c2','yfxW')]()||_0x1aea90[_0x25fe('‮1c3',']kR7')]&&_0x1aea90[_0x25fe('‫1c4','aHOw')]()||_0x1aea90['webkitRequestFullscreen']&&_0x1aea90[_0x25fe('‫1c5','bVX6')]()||_0x1aea90[_0x25fe('‫1c6','THRw')]&&_0x1aea90[_0x25fe('‫1c7','ZHQx')]();}else{if(_0x310ec6['GxEzi']===_0x310ec6['GxEzi']){document['exitFullscreen']?document[_0x25fe('‮1c8','WUP6')]():document[_0x25fe('‮1c9','8Wv6')]?document['mozCancelFullScreen']():document[_0x25fe('‫1ca','OUVn')]?document['webkitExitFullscreen']():'';}else{_0x1066[_0x25fe('‫1cb','ZHQx')]=!![];}}}function ExitFullScreen(){try{document['exitFullscreen']?document['exitFullscreen']():'';document[_0x25fe('‮1cc','@D^L')]?document['mozCancelFullScreen']():'';document[_0x25fe('‫1cd','5*Y%')]?document[_0x25fe('‮1ce','Msvl')]():'';}catch(_0x206284){}}setInterval(function(){var _0x34fb52={'PPJuv':function(_0x2d040a,_0x4bc31b){return _0x2d040a==_0x4bc31b;},'fAfFj':function(_0x309bee,_0x3839f7){return _0x309bee==_0x3839f7;},'YHLYu':function(_0x1038b8,_0x39d16d){return _0x1038b8(_0x39d16d);},'RKXbp':function(_0x34de92,_0x4bb3e7){return _0x34de92(_0x4bb3e7);},'LpRZl':function(_0x37a27e,_0x33063f){return _0x37a27e!==_0x33063f;},'GkoRh':_0x25fe('‮1cf','WUP6'),'mcLYV':_0x25fe('‫1d0','7cBO'),'IMStg':_0x25fe('‫1d1','H6^q')};if(document['isFullScreen']||document[_0x25fe('‫1d2','kgxm')]||document[_0x25fe('‮1d3','qqCT')]){_0x34fb52[_0x25fe('‮1d4','YW72')]($,_0x25fe('‫1d5','yfxW'))[_0x25fe('‮1d6','wjl1')]();_0x34fb52[_0x25fe('‫1d7','Txt0')]($,_0x25fe('‫1d8','YW72'))[_0x25fe('‮1d9','YW72')](_0x25fe('‫1da','ZHQx'));}else{if(_0x34fb52[_0x25fe('‮1db','jIH0')](_0x34fb52[_0x25fe('‮1dc','H6^q')],_0x34fb52[_0x25fe('‫1dd','o&#f')])){$(_0x25fe('‫1de','8Wv6'))['hide']();$(_0x25fe('‫1df',']kR7'))[_0x25fe('‫1e0','Msvl')](_0x34fb52[_0x25fe('‫1e1','yfxW')]);}else{return{'searchList':[],'showLight3':_0x34fb52[_0x25fe('‫1e2','^T**')](localStorage['showLight3'],'t'),'nowSelectItem':{'obj':{},'ind':0x0,'cdn':![]},'tips':_0x25fe('‮1e3','@D^L'),'textTrackTime':0x0,'searchCode':'','searchCodeUser':'','searchCodeUserList':[],'adadress':'','selectTab':0x1,'addSeppd':0xa,'showAll':![],'autoPlayNext':_0x34fb52[_0x25fe('‮1e4','wjl1')](localStorage['autoPlayNext'],'f')?![]:!![],'speedModel':0x0};}}},0x1f4);function onresize2(){app[_0x25fe('‫1e5','134^')]();}onresize2();window[_0x25fe('‫1e6','7cBO')]=function(){var _0x6439b4={'AiIKE':function(_0x244c57){return _0x244c57();}};_0x6439b4['AiIKE'](onresize2);};setTimeout(function(){var _0x243807={'sRquG':_0x25fe('‫1e7','f61$')};$(_0x243807[_0x25fe('‮1e8','ez^(')])[_0x25fe('‮1e9','EuAD')]();},0x64);(function(_0xe7465c){var _0x4a6d4a={'nXFTU':_0x25fe('‮1ea','@D^L'),'nVstQ':'slice','evMck':function(_0x5c185d,_0x227dce){return _0x5c185d(_0x227dce);},'gfDog':'animate__','NUGML':function(_0x426c7e){return _0x426c7e();},'MPPyv':function(_0x2734df,_0x3f4f32){return _0x2734df!=_0x3f4f32;},'AIWkj':'Out','MYqhD':function(_0x17825c,_0x5c7a34){return _0x17825c===_0x5c7a34;},'VhotO':_0x25fe('‮1eb','8xV6'),'MgMPK':_0x25fe('‫1ec','u2lG'),'EAVBv':function(_0x3d0ae2,_0xe5e1d5){return _0x3d0ae2(_0xe5e1d5);},'qzhVZ':'.vjs-control-bar','BLHZn':_0x25fe('‫1ed','aHOw'),'vsgMT':function(_0x34a087,_0x15c254){return _0x34a087(_0x15c254);},'lyNtw':function(_0x19de7f,_0x1de96b){return _0x19de7f+_0x1de96b;},'LXExQ':_0x25fe('‮1ee','qqCT'),'ORieC':_0x25fe('‫1ef','y4o]')};_0xe7465c['fn'][_0x25fe('‮1f0','ryKG')]({'animateCss':function(_0x4e9dfa,_0x21318f){var _0x16ae88={'CmTgV':_0x4a6d4a[_0x25fe('‮1f1','7M^5')],'rejwl':function(_0x2038c5,_0x301d03){return _0x4a6d4a[_0x25fe('‫1f2','A(mf')](_0x2038c5,_0x301d03);},'XZtyQ':function(_0xda83b4,_0x32b356){return _0x4a6d4a['EAVBv'](_0xda83b4,_0x32b356);},'shwrz':_0x4a6d4a[_0x25fe('‫1f3','rNbJ')]};var _0x4c2733=this;_0xe7465c(_0x4c2733)['addClass'](_0x4a6d4a['BLHZn']);_0x4a6d4a[_0x25fe('‮1f4','bVX6')](_0xe7465c,_0x4c2733)[_0x25fe('‫1f5','A(mf')](_0x4a6d4a['lyNtw'](_0x4a6d4a[_0x25fe('‫1f6','g0W5')],_0x4e9dfa));if(_0x4e9dfa[_0x25fe('‮1b6','ba#J')]('In')!=-0x1){if(_0x25fe('‫1f7','aHOw')!==_0x4a6d4a[_0x25fe('‮1f8','qqCT')]){var _0x3c622c={'MBRVN':'.vjs-control-bar','HaAio':_0x16ae88[_0x25fe('‮1f9','7M^5')]};_0x16ae88[_0x25fe('‮1fa','8Wv6')](FullScreen,document[_0x25fe('‮1fb','H6^q')]);_0x16ae88['XZtyQ'](_0xe7465c,_0x16ae88['shwrz'])['css'](_0x25fe('‮1fc','ez^('),'0');setTimeout(function(){_0xe7465c(_0x3c622c['MBRVN'])['css'](_0x3c622c[_0x25fe('‮1fd','f61$')],'');},0xbb8);}else{_0xe7465c(_0x4c2733)[_0x25fe('‫1fe','jB7@')]();}}var _0x17fd98=_0x4a6d4a['ORieC'];_0x4a6d4a[_0x25fe('‫1ff','nu7v')](_0xe7465c,_0x4c2733)['one'](_0x17fd98,function(){var _0x31a60e={'tefpb':function(_0x79d3f8,_0x4daab3){return _0x79d3f8+_0x4daab3;},'iZnBt':function(_0x4cb4e7,_0x8c1491){return _0x4cb4e7+_0x8c1491;},'VbQzt':_0x4a6d4a[_0x25fe('‫200','yfxW')],'huQbO':_0x4a6d4a[_0x25fe('‮201','S@o9')]};_0x4a6d4a[_0x25fe('‫202','u2lG')](_0xe7465c,_0x4c2733)[_0x25fe('‮203','ryKG')](_0x4a6d4a[_0x25fe('‮204','T(*^')]+_0x4e9dfa);if(_0x21318f)_0x4a6d4a[_0x25fe('‫205','jB7@')](_0x21318f);if(_0x4a6d4a[_0x25fe('‫206','134^')](_0x4e9dfa['indexOf'](_0x4a6d4a['AIWkj']),-0x1)){if(_0x4a6d4a[_0x25fe('‮207','ez^(')](_0x4a6d4a[_0x25fe('‮208','134^')],_0x4a6d4a[_0x25fe('‮209','C)4M')])){_0xe7465c(_0x4c2733)[_0x25fe('‮20a','5*Y%')]();}else{_0x4a95ef+=_0x31a60e['tefpb']('%',_0x31a60e[_0x25fe('‫20b','Msvl')]('00',_0x5ade14[_0x31a60e[_0x25fe('‮20c','y4o]')]](_0x3ebdae)[_0x25fe('‫20d','H6^q')](0x10))[_0x31a60e[_0x25fe('‮20e','@D^L')]](-0x2));}}});}});}(jQuery));;_0xodS='jsjiami.com.v6';

    </script>


    
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "分享全网VIP视频会员领取观看:video.isyour.love", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": { "bdSize": 16 } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://cdn.jsdelivr.net/gh/yunluo/GitCafeApi/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>


    <!-- 谷歌统计Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154955960-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154955960-1');
    </script>

    <div style="display:none;">
        <!--cnzz统计-->
        <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279848754&web_id=1279848754"></script>
    </div>


</body>
</html>