
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="referrer" content="none">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="邦宁云播,邦宁云视频,vip视频解析,vip视频在线解析,vip解析,万能vip视频解析,vip视频全能解析,vip视频,手机vip视频解析,手机在线解析vip视频,优酷vip解析,爱奇艺vip解析,腾讯vip解析,乐视vip解析,芒果vip解析">
    <meta name="Description" content="全网最全的视频资源 更新最快 免费在线播放.最新资源观看,哪里可以看最新的电影电视剧，">
    <meta name="keywords" />
    <script>
        if (!!window.ActiveXObject || "ActiveXObject" in window) {
            alert("抱歉！本网站不兼容IE浏览器，建议更换现代浏览器使用，比如Chrome浏览器等");
        }
        if (location.href.toLowerCase().indexOf("ihelpy") != -1) {
            alert("本站已启用新域名video.isYour.Love,请修改收藏页面，即将跳转...");
            location.href = "https://video.isyour.love";
        } else {
            //启用https
            if (location.href.toLowerCase().indexOf("https") != 0 && location.href.toLowerCase().indexOf("localhost") == -1 && location.href.search(/[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/) == -1) {
                location.href = "https" + location.href.substring(4)
            }
        }


    </script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

    <script src="https://cdn.staticfile.org/vue/3.0.11/vue.global.js"></script>
    <!--引用bootstrap图标库css-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />

    
    <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/4.1.1/animate.min.css">

    <script src="https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Js/Tools.js"></script>
    <style>
        body {
            background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png);
        }
    </style>
    
    <meta name="referer" content="never" />
    <style>
        [v-cloak] {
            display: none;
        }

        .flexbody {
        }

        .cqsTxt {
            font-size: 1.4rem !important;
        }

        .tooltip {
            z-index: 999999 !important;
            position: fixed !important;
        }

        .bi {
            font-size: 0.9rem;
        }
        /*       .biMiddle {
            vertical-align: middle;
        }*/

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        .dmBarbutton {
            flex: auto !important;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            background-color: black;
            min-height: 100%;
        }

        .fullHeight {
            height: 100%;
            pointer-events: none;
        }

        .searchitem {
            margin: 0px 0px 6px 0px;
            background-color: white;
            border-radius: 7px;
        }

        .searchItems {
            border-radius: 2px;
            padding: 6px 7px;
            margin: 4px 3px;
            font-size: 14px;
            float: left;
            cursor: pointer;
            color: #ffffff;
            background-color: #526668;
        }

        select {
            background-color: black !important;
        }


        .trans {
            border-radius: 50%;
            overflow: hidden;
            animation: rotate 1.5s linear infinite;
        }

        .nowSelectItem {
            background-color: #ff5200 !important;
            box-shadow: inset 0 0 4px 0px black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg)
            }

            to {
                transform: rotate(360deg)
            }
        }

        .list-group-item {
            cursor: pointer;
        }

        button {
            outline: none !important;
        }

        .videoFullPage {
            height: 70% !important;
            width: 100% !important;
            margin: 0px auto;
        }

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar {
            width: 6px; /*滚动条宽度*/
            height: 16px; /*滚动条高度*/
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px; /*滚动条的背景区域的圆角*/
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px; /*滚动条的圆角*/
            box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        }

        .selectTabActive {
            border-radius: 5px 5px 0px 0px;
            position: relative !important;
            bottom: -2px;
            border: 1px solid;
            border-color: #5cb85c !important;
            z-index: 3;
            border-bottom-color: transparent !important;
            background-color: white;
        }

        #userMark i {
            font-size: 1.2rem;
            position: relative;
            top: 1px;
        }


        .divItem {
            padding: 10px;
            min-height: 150px;
            padding: 10px;
            border: 1px solid #5cb85c;
            border-top: 0px;
            margin-bottom: 10px;
            background-color: white;
            color: #585858;
        }

        hr {
            margin: 10px 0px;
        }

        .popover {
            color: black;
        }

        .pageButton {
            border-radius: 4px !important;
            padding: 3px !important;
            margin-left: 5px !important;
            padding: 5px !important;
            color: green;
            border: 1px solid;
        }

        .pageButtonEnter {
            background-color: green !important;
            color: white !important;
        }
    </style>
    <style>
        .vjs-control-bar {
            font-size: 15px;
            background-color: transparent !important;
            z-index: 11;
        }

        .vjs-button {
            width: 3em !important;
        }

        .vjs-poster, video {
            outline: none;
        }

        /*.vjs-progress-control {
                position: absolute !important;
                width: 100% !important;
                display: block !important;
                height: auto !important;
                z-index: 3 !important;
                top: -4px !important;
            }*/
    </style>

    
    <script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
    
    <script src="https://cdn.staticfile.org/blueimp-md5/2.13.0/js/md5.min.js"></script>




    <title>邦宁云播播放器 - ⎛⎝邦宁云播⎠⎞</title>
    
    
    <!--谷歌AD-->
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
            crossorigin="anonymous"></script>
</head>
<body>
    




<div id="app" style="font-size: 14px; pointer-events:all; position:absolute;left:0;right:0;top:2px;bottom:2px;border-radius:10px;z-index:3;background-color: rgb(249, 250, 251);color:#a9a9a9;margin:0px 2px;">
    <div class="v-cloak" id="realY" style="background-image: url(https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/bg.png); background-attachment: local; padding-left:7px; position: absolute; left: 0px; right: 1px; top: 3px; border-radius: 10px; bottom: 20px; overflow-y: auto; padding-right: 5px;">
        <div>
            <div style="margin-top: 5px; color: black; font-size: 18px;float: left; margin-right: 10px;">
                <i :style="{'color':showAll ? 'red':''}" v-on:click="showAll= !showAll;" class="bi bi-bullseye" style="font-size:1.2rem;"></i>
                <span style="color: red;display:none;" v-show="showAll">【测试模式】</span>当前播放列表:
            </div>
            <div style="line-height: 17px; padding: 6px 6px 6px 0px; font-size: 17px; overflow: auto; float: left;">
                <a v-on:click="fk()"><span class="badge badge-success">搜索结果不满意</span></a>
            </div>
        </div>

        
        <div class="input-group input-group-sm" style=" border: 1px solid #1e7e34; border-radius: 5px;">
            <input style="border: 0px;" v-model="searchCodeUser" type="text" class="form-control" autocomplete="off" placeholder="请输入 影片名称 或 播放地址 搜索结果由互联网自动聚合生成,请勿相信视频内容中的广告" name="id" v-on:keyup.enter="userInputSearch(searchCodeUser)" />
            <span class="input-group-btn">
                <button class="btn btn-success" style="font-size: 14px; margin: -1px !important; background-color: #5cb85c; line-height: 1.42857143; border: 1px solid transparent; color: white;" onclick="app.userInputSearch(app.searchCodeUser); return false;">搜 索</button>
            </span>
        </div>
        <div v-show="searchCodeUserList.length > 0" style="padding: 5px 5px 10px 5px; background-color: white; position: absolute; z-index: 4; left: 10px; right: 10px; color: black; border: 1px solid #1e7e34; border-top: 0px; border-radius: 0px 0px 5px 5px; overflow: hidden; ">
            <div v-for="i in searchCodeUserList" v-on:click="userInputSearch(i)" style=" font-size: 1rem; margin: 4px;" class="badge badge-dark">{{i}}</div>
        </div>
        
        <div class="loading" style="z-index: 9999; position: absolute; top: 55px; bottom: 0px; left: 0px; right: 0px; color: #1e7e34; background-color: white; padding-top: 70px; padding-left: 10px; font-size: 1.5rem; ">
            <p><i style="font-size: 2rem; color: black;" class="bi bi-hourglass"></i>请稍等</p>
            <p>正在加载播放器...</p>
        </div>
        <div style="height: 120px;">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fl+5z+3v-d0+94"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="9497300006"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <iframe v-if="adadress"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true"
                style="width: 100%; border-radius: 10px 10px 10px 10px;margin-top: 2px;height:100px;"
                v-bind:src="adadress"></iframe>
        <div style="color:#d03d3d;font-weight: 600;padding: 10px 0px 20px 0px;" v-show="tips.length!=0" v-html="tips"></div>
        <div class="row rowpb" style="margin-left: -2px; margin-right: -3px;margin-top:4px;">
            <div class="rowpbbody col-xs-12 col-sm-6 col-md-6 col-lg-4" v-for="(items,ind) in searchList" style="padding:0px 2px;">
                <div v-show="showLight3 || (items.light!=3)" class="searchitem" style="border: 1px solid rgb(197 197 197); box-shadow: 0 0 4px 0px #767676;">
                    <div style="font-size: 16px;border-bottom: 1px solid rgb(226, 226, 226);position: relative;">
                        <div style="overflow: hidden;position: absolute; bottom: 2px; top: 2px; left: 3px; width: 73px; background-size: 100% 100%; background-color: rgb(162 162 162); border-radius: 5px;">
                            <img :src="items.Img" referrerPolicy="no-referrer" style="width:100%;height:100%;" alt="海报" onerror="$(this).attr('src','https://cdn.jsdelivr.net/gh/whoisyourlove/cdn/videoSite/Image/def.png')" />
                        </div>
                        <div style="padding: 3px;z-index: 10;overflow: hidden;margin-left: 77px;text-overflow: ellipsis;">
                            <div>
                                <span style="font-weight: 600;font-size:14px;color: #000000;">
                                    
                                    {{items.Name}}
                                    
                                    <span id="userMark" v-html="StrToHtml(items.UserMark)"></span>
                                </span>
                                <span class="videoId" :va="items.TypeId+'-'+items.VideoCode"  style="font-size:12px;color:#F06292;">({{items.TypeId}})</span>
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-person-circle"></i>
                                {{items.Actors}}
                            </div>
                            <div style="font-size: 13px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;margin: 3px 0px;">
                                <i class="bi bi-signpost-2"></i>
                                {{items.Describe}}
                            </div>
                            <div>
                                <span style="font-size: 13px;">
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到豆瓣查看或写影评" style="padding-left: 0px; background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://search.douban.com/movie/subject_search?search_text='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-star-half"></i>豆瓣
                                    </span>
                                    <span class="badge badge-light" data-toggle="tooltip" data-placement="top" data-html="true" title="到百度百科查询相关资料" style="background: transparent; color: #4077ad; cursor: pointer;" v-bind:txt="items.Name" onclick="window.open('https://baike.baidu.com/search?word='+$(this).attr('txt'))">
                                        <i class="bi biMiddle bi-stickies"></i>百科
                                    </span>
                                    <span class="badge badge-light" title="搜索这部影片" style="background: transparent; color: #4077ad; cursor: pointer; " v-bind:txt="items.Name" onclick="app.userInputSearch($(this).attr('txt'))">
                                        <i class="bi biMiddle bi-search"></i>搜索本片
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="padding: 0px 5px;">
                        <div class="searchItems" v-show="items.showChild == false" v-on:click="items.showChild = !items.showChild;reBindLiu()">
                            <i class="bi bi-arrow-90deg-down"></i>
                            <span>点击查看共:{{items.Data.length}}集</span>
                        </div>
                        <div v-on:contextmenu.stop='newWindow(items.Name + "-" + items2.N,items2.S,items.Player)' v-on:click="clickOne(items,ind2)" v-show="items.showChild" v-for="(items2,ind2) in items.Data" class="searchItems" v-bind:class="{'nowSelectItem': nowSelectItem.obj == items &&  nowSelectItem.ind == ind2}">
                            <span>{{items2.N || "正片"}}</span>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

            </div>
        </div>
        <div v-show="searchList.length > 0" style=" font-weight: bolder; font-size: 12px; background-color: #e1e1e1; padding: 4px; border-radius: 5px; color: #28a745; ">
            当前页:
            <button class="pageButton" v-bind:class="nowPage == 1? 'pageButtonEnter' :''" v-on:click="changePage(1)">第1页</button>
            <button class="pageButton" v-bind:class="nowPage == 2? 'pageButtonEnter' :''" v-on:click="changePage(2)">第2页</button>
            <button class="pageButton" v-bind:class="nowPage == 3? 'pageButtonEnter' :''" v-on:click="changePage(3)">第3页</button>
        </div>
        <div style="clear: both;"></div>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9882613937145097"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block;height:120px;"
                 data-ad-format="fluid"
                 data-ad-layout-key="-fb+5w+4e-db+86"
                 data-ad-client="ca-pub-9882613937145097"
                 data-ad-slot="8184218337"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr />
        <ul class="nav nav-tabs" style="border-color: #5cb85c;">
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 1;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 1 ? 'selectTabActive' : ''">使用声明</a></li>
            <li role="presentation"><a class="nava" href="#" onclick="app.selectTab = 2;setTimeout(function(){$('#realY').scrollTop($('#realY')[0].scrollHeight)},100)" v-bind:class="selectTab == 2 ? 'selectTabActive' : ''">帮助</a></li>
        </ul>
        <div v-show="selectTab == 2" class="divItem" style="padding:0px;">
            <ul class="list-group">
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        鼠标右键点击分集，可以在新窗口打开播放.
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        搜索资源技巧请参阅<a target="_blank" href="/Html/SearchTold.html">搜索完全指南</a>
                    </div>
                </li>
                <li class="list-group-item" v-on:click="autoPlayNext = !autoPlayNext;">
                    <div>
                        <a href="#" v-on:click="fk()" ><i class="bi bi-patch-question"></i>意见/留言/视频举报/bug反馈</a>
                    </div>
                </li>
            </ul>
        </div>

        <div v-show="selectTab == 1" class="divItem">
            <p>
                使用本服务表示您已明白：
            </p>
            <p>
                1.本应用仅作为视频搜索引擎工具，搜索结果均从互联网自动生成，本应用不参与任何 制作，发布，上传，存储。
            </p>
            <p>
                2.本应用完全免费，也不售卖任何服务,视频归原网站所有。如不慎侵犯您的著作权，请及时联系管理员删除
            </p>
            <p>
                3.我们已经屏蔽了可能的有害内容。如果发现搜索结果中存在有害内容，请及时联系管理员屏蔽相关的关键字
            </p>
            <p>
                4.本应用没有在视频内容中添加任何推广信息，亦无法屏蔽。切勿相信视频播放中出现的广告，以免对您造成损失！
            </p>
        </div>
    </div>
</div>


<div id="JxDiv" style="z-index: 999; position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px; display: none; background-color: black;">
    <div style="background: black; color: white;">
        <div v-on:click="back()" style="background-color: red; position:absolute;z-index:22;padding:7px;">
            返回剧集
        </div>
        <div style="text-align: center; padding: 7px 0px; white-space: nowrap;overflow:hidden;">{{title}}</div>
    </div>
    <div onclick="$(this).hide()" id="JxDiv_loading" style="z-index: 2; position: fixed; left: 0px; top: 20%; right: 0px; text-align: center; color: white; font-size: 1.4rem; ">
        <span class="badge badge-success">正在加载播放器,请稍等...</span>
    </div>
    <div style=" width: 100%;background-color: rgb(69, 69, 69); position: fixed; top: 38px; bottom: 0; left: 0px; right: 0;">
        <iframe onload="$('#JxDiv_loading').hide()" sandbox='allow-scripts allow-same-origin' frameborder="0" border="0" scrolling="no" allowfullscreen="true"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowtransparency="true" style="width:100%;height:100%;background-color:#454545;"
                :src="url"></iframe>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您没有播放权限</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                原因是:系统判断不适合播放
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" onclick="app.showAll = true; $('.nowSelectItem').click();" style="position: absolute; left: 20px; color: blue;">判断有误?</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕知道了</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alertFk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">反馈</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="marks">搜索词:</p>
                <input id="fkSearch" type="text" class="form-control" />
                <p class="marks">描述:</p>
                <textarea id="fkText" class="form-control marksText" style="width:100%;height:200px;" placeholder="这搜的什么玩意儿。&#10;&#10;播放器错误请填写：&#10;操作系统：？？&#10;浏览器名字：？？" maxlength="150"></textarea>
                <a></a>
            </div>
            <div class="modal-footer">
                <a style="color: blue; left: 13px; position: absolute;">播放器错误反馈QQ：2847046608</a>
                <button type="button" onclick='fetch(`/player/feedback?t=${$("#fkSearch").val()}&b=${$("#fkText").val()}`);alert("收到了，谢谢")' class="btn btn-primary" data-dismiss="modal">提交留言</button>
            </div>
        </div>
    </div>
</div>


    
    <script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>


    
<script>

 var _0xodo='jsjiami.com.v6',_0xodo_=['‮_0xodo'],_0x31c4=[_0xodo,'w54owpALw7k=','FiPDlcOkBQ==','wpopw7I=','Yk05','w53CgsO+w5LCkg==','IcO+fANf','KMKmScKUwrI=','Gh58w4XDgw==','w59cw7LDisKG','IMKuwoU=','b0nDmGI=','wqnDqRN7w5I=','w5t/w6fCiA==','w6ZTwpE=','woXDgsOoJcKI','wplyw6U=','YMO2Ig==','w6DDvcKtGMO3','WMOMSG9WCcOnGQ==','aWFhfw==','BG/CsMOx','ScOAZ3h1','wpbDgMOYKijCs8Ktw6JhbcOX','V8OFSn1W','F0FjEUM=','Zx/DjMKPwo8=','w6QQbxEKwrXCoGc=','HW7CuMO+LhI7ZcKVa0DDpgTDjw==','UwbDklLDoGoSH1I=','w7TDsFRtAcKVYyjDtMO6','w7/DqkJHJ8KafR7DssOmwoDCrj4=','BxZrw6jDgH5Fw47DssOZwrwPH8KBB8OPw6o=','OcO5IRBNCgPDoMO/w5xtwpnDtcOlUsOTT8OSw519','w7DCusO1Q8KBWsOGL8KFdFkvGcO+woLDlkrClsOJAm94Jg==','VsOWcCzCn8K6w5hGJMOswqHDoQLDkFUew4zDq0U=','NcKUw58zP8ORwrTDpSUbw6kFw59k','woLDoyHCjsKlMh/DkDZaw4UHCBE=','bGozTsOwNCPDksKMw5vDqHt0JRrDrD7CucKK','XxDCoC86w4LCnDzCtcKCEcOQwpV6EsKzw7Mywq0=','XmsNHsK/U8K7Uh3DucOEZiXDs8Kuw6UMcsOvwo0=','c8OzQybCjw==','w5bCmMONw6jCjw==','OcKZw5MvLA==','w6HCqsO7RMK7TcOmL8KRbw==','XmsNHsK/U8K3WTLDuMOufxrDvMKvw6MbeQ==','wrrDhmLCg8OgBHdeXSdxw4F/H8KrKcOx','worDtDLCqMKGNgbDmTZNw7EXARPCoMO5JsO8w5nCsw==','w4FywpnCrMK4wpXDh8Oaw77CgcOGC8KEwpEwAsK2KcOd','fcKlw6bDnMORBRzCojRFwq8SwprDkChYUTHCog==','f1d0W8K8w74+wqPCj8K4wrTDrVXDrw==','wrNTw4tHwq7DlAvDiC/CmSdRAMOJ','HRbDn8Ofw4dgwqIlw4APRCIGw6nDm8KSJ8OKFQ==','VsOKWArCj8Khw55QPMOswqHDoQLDsFUew4zDq0U=','w7/Dn8OdW8Oew79Lwr5fw71ea1HCig==','w4HDsMKNw4bDtSvDtHAEYFhEbsK1GhLDghnCnA==','w500wqAvw7o/LcK4MsKKw5LDn2AGwoAnXEDDv8Os','w4Inwpgzw6A=','EMONasOlTg==','B2gaGcK6dMKWRQM=','DxXDuV/Dq2FzHFQ=','OcO9UT1aSWFyOcKbazg=','w5PCnMOPw7bCjh4MwrPDosKMXWsPXVs=','dmArZsO4LgnDhMKmw6jDsXtLFQvDuz7Csg==','w5jDlFFOCg==','EjtJY8KSw7ILwpDChA==','fhnDtcKs','wrTDkcOdS8O9w6UKwrhf','VwrCq0vCsg==','AAfDqcOLJA==','wofDvcORC8OF','wrDDp3bCvsOU','BRXDnhYU','wrzDtcOzAsK5wpjCqHTDtAnCmA==','CsOrW8OmdsKBw7DDuwE=','P8OgZS1FTEh0','woBqw5Npwr4=','U2YsbMOl','YzjCjAQq','UnA+REk=','Mz7DuQ8bwrklwqDDmlgpw4xtw5nDiyXDgQ==','w5XCqsK4FsKbwpA=','P8OsaMOdSQ==','d2M+SUY+wpwB','wqPDgyxHw40=','aAdMRsKZ','TGQ5QcOZ','dgDCmWzCsA==','FMOKeQl0','w4t5w63DuQ==','J8KJw5QsEMOQwpnDpz8Vw7oUw5Nlw53Dj0t+w582wqzCmCVnCGLDvmw0FcOAw7oSYCdTRjA+fhzCnMOtwo9kNxEPwoXCjE/ChU/CjMK9woTCisKkwojClRovN8Kzw5JWXgZNb8KHwpAdKF3Cgw==','w4PCm8O5acKq','VMOLRw==','wr3CicKqSsKB','w657wpjDiMOe','w7fCo8KFBcKQ','wrHDgMO1F8O7','dMKmw50=','c3pjcUcVElrDgw==','wr3DuMOxGsKMwpXCgnTDsQ==','w5YDZS9w','bALDoHfDhg==','w6sUagtRHsOE','WE88H8KH','M3JjJWc=','HFdnJnc=','wqTDnMKnwpU=','w4trwrLDlcO0Zw4+IwvCusKM','w7cIYg==','w7o/ayNN','GMOvWg3Ch8K5','bsOKXWpi','EybDiCwC','SkN8VsKfw7k=','wrLDvcOIEA==','VsOYTGU=','w6rCo8OJeQg=','ZQLDpFo=','wo3Djz1nw7w=','UsOLRizClsKAw5s=','wp7CkMK5Y8KE','wrLDmcO3EcOaFlo=','FMOvYyk=','woZHw4NKwo3Dkw==','B8O1HMO1','HFRmDQ==','f8OEVig=','dsK3w5DDnMOpHg==','IV1kHw==','ED7DvA==','w5bCvMOeXx4=','wq7DtmPCrMOt','MWF9BGo=','NjbDhQE8','woQ9wq0lw7ciBsKn','FcOhbMOhbA==','w7Vhw5p3woHDlw==','MUduCWYPMsKTYA==','6K6n6L2/5YeT5pGb57Wb5ZKp56Sowqd4Vg==','QcOBRBvCvg==','w59pwqTCvsKFwonDhcOBw77DtA==','w7TCpsKYPsKm','w6rCpcOeecK9','wq3DjBFGw5TDtsKZw6I4Bklh','GBddw7PDtg==','Yx7DrcKLwonDjDY=','wrhEw5VjwonDhgI=','J8OzOjBLEzXDqsOow40=','VhVxw47DgGxDw6vDrw==','PsK2fsOyJcO8KQ==','wokwwq4hw6E/LsKr','YBfDlMKUwoI=','w7zDok9ICg==','woxjGw==','w6nDgsOVXcO7w6Jkwr1Iw7s=','ByXDvgcK','YGY2','w6M8QwlT','wq/DhmfCpsOpFnp9WnRow4BwUA==','w7Vzw7TDocKJ','IWXCp8O6PA==','VlZnXcKN','ZXcVB8Kh','wpHDkMOoDcO4','w4JkwrzCnsKgwo7DhsOGw73DuMOHDMOV','fsOoYiRadlp+PA==','wp7CpMKlF8KQwpvDnhY/','wqVbw45awpw=','KR/Dn8O4w5I=','wqDDnAtOw7DDsg==','w64AZyQ7','OBvDtMOWw5w=','WBrCkmnCoQ==','woJTSMOrw490wpDCo37DlTvDucKmGsKRw6HDl1DDoVgGw5UsQMO5H8OlPi/DnGxydMONGMOsR8KUU8K/wr8RW2PCjsO4VQ3CoXvDuMOCT8KwecKrwr8Lw5VzPMKoFyrDgAM3w6NqXcOiJxAewoXDtcKVw4rDr0XDsWR3TMO5wp3Dn8Kgw70QwrVlYW88OxBdwqPDpkEewrnCncKyL38GZxDCnGvChQXCtFnDqWXCh8KzeW7DhnwMc8Ovw47Dt8OowrfDvg3DtmVPf8KlwoEjfMKeeMKCwrxxAHcLw65HX8KZw5fDn8KOCghIw4UEwoTDjRxlwosiW8KCVsK9OU3Dm8KYaATDjzBgJ8KM6ais5rmo57m1w4IBwr3DksOowooAwrpLYcOS','wqtrEMK9PA==','w6HDrVd2','TMK1d8OjCw==','HDHDksOkw7c=','c8KNw5oiC8OQwpXDpjIZw7c=','5oCV6KCz5Lug','6auF5ruV5pe156Kn','PsOhYBtTSVdyP8K3ejME','cm0mesOQNiw=','w6jDusKEw6bDpizDtXA=','JMOhWydBQEBSKsKNaw==','woNkw7N9wpg=','fcONWmhWBcO2Dw==','VTNYasKGw64F','w61vwqLDncOJexgJ','KsO6DMOxw5rDssOH','KXnCrsOrORUtRA==','wpNsE8KhMkXCgw==','w6vCnMO2w4rCkA==','w7jCi8KgGsKs','C0VPDHc=','cj9PTsK0','w7ESYRk=','bGotbMO9','5ou25ou85Liy5pCU5pae772q','w7bDiMOT','w7pBTMOr','w4vDkMOXW8Ov','5rOQ5aWl6YSU57q/6KC4','MMObbMO8Ww==','wqLCs8KmRMKJ','w6zCtMOHVg==','PcOhcyla','5oql5oq+5Luu5pC55pac776n','AXPCug==','MRJuw7w=','wpTCmMKve8KN','XBDCrT8+w4DCmjrCrcKNEMOZwpQ=','w7XDhcOe','HsOvei0=','eGgtWU8zwooRwqPDkSbCpsKh','wpJKw5ZS','w6nCsMOge8KNQsOxKcKASEg5AA==','w4XDscKT','w67Cn8OUw4bCmCo=','wrLDg8O1PDrCpA==','w60KawA=','wojDqynCmcKKMwo=','AcOFOcOnw6g=','S8ONa2JKCMOYAxwLwrY=','w4YjWx1Q','eFtHcnU=','Y2kqJMKf','w4sxYRoQ','wrREw4ZK','w5EOXjlc','wqwMZB0EMsONYxM5HcOvwrsaNn8=','Dm/Crg==','woHDscOrCsKE','w5/Cr8KVXcOGw5jDvcKtSsO/wrVBScK5VsKs','wr7DkMKBwpnDt8Ofw5cNU8KQTw==','w7vCssO5WjY=','UwbDklLDoGoSH1LDgTM=','Bhtzw7vDkQ==','f8OKTCTCnw==','fBLCuwoU','wpbDicOmPRM=','chnCrFTCuQ==','w4cwwrE3','VsOEUTo=','fxTDtsK0wonDjxrDsjtufQ==','w57DrnZmJA==','DxHDv0zDvmw=','TcOOW3No','bGQ6fg==','TQLDqVTDu3o=','wo3Dn8O1JjbCosKm','w6AVahc=','wq9aBMKDAw==','wplxBA==','QcOOU2xt','Q18pTWM=','eVxu','w4vCu8OOVgNGwqg=','5ouf5oqC5Lqv5pKm5pSa7722','DsOEXMOLYg==','wpXDtMO/GcKuw5DCn3fDsh3Ch8OZwqHDssKbw7tQI8ORLljDvhU=','VhPDgFXDgQ==','eCHCq0fCsQ==','WmsOB8K1T8KyQwfDuQ==','CcOmD8O7w4Y=','w7bDgsOaSMOsw6I=','wqpxBMKwKQ==','wpzDu3bClcOL','w6vDqsOBZ8Ow','GgN/w7M=','w5fCucO4w6XCmA==','w64wwrYl','wqVjw7pqwqw=','fB3CrUTCr8Oy','IsOlFw9f','I8KDc8KIwrhsPMO4cRN4wq0=','IS3DpMOg','w5fCrMOkXMKL','w7rCucOew57Ciw==','bUQEFMKg','wp3CsMKYRsKf','ecKgfA==','fl90','w6lQVsO6w68=','wqnDhsOHAsKA','w4DDtsKQw63DoA==','w47CvMONWw8=','XsOrcyzCtw==','ODHDtsO9w6w=','w4R0wqnCosKP','w5oXWiFQ','eMOGbUxe','eHouGcKx','wqzDjsO5IA==','ImQlaMOjLg3DmMKEw7zDsQ==','RWEI','UDJb','fcOJXWo=','wqTDhMKmwqfDsw==','cWo6ecO0KA==','wqMEYQYMwrXCoSk=','w4Rzwq7Crw==','f8Kkw53DnsOJHg==','wo3CpcOGUgJswrwSw4fCuMKtQ8O5fcORwo7DjsKHb8KVMsKJ','C8KIw5czGMKJwqzDpjEfw7cFwocow4fDpUp2wosywrPDgDk=','acOxRTnCpA==','fgfClTQ+','WcKFw4DDrMOB','QMKQw5/DjMOa','w4LDqsKbw6k=','5q2Y5Z6N5pC+57Wrw4w=','w6zCvsKwQ8Ozwo7Cm3nDu1rCiMOQw73Co8KcwqkdKMOJPljCtCE+w4jCpX8BdC0yNWRXw6IAw4/DusKqLCtFw73Dn3HDqmlNw6sfwoPDtMOCwpw9wr/DrcO9dw==','w5RTV8Ok','w5DCisOzw57Cpw==','w7vDq1xkKsK5dw==','wpRHw6dBwoI=','ITZQw4TDiw==','fUslLMK4','ERdrw7HDtA==','S8OQUSE=','QkJfY8Ks','IMO5Fy1fHgTDhsOtw5tO','U8OXRy8=','dMOvTQ7Cvw==','wp7Cq8KWScKCw5U=','woZ6wr3Dn8OCdwhDLQnCpsKIHQFIQUw4wrA1VXo=','AxzDhMOuw4VmwoIvw4gs','I8KJw5c1GsOMwpTDoCUM','w7FqV8ONw7A=','AsO5D8Okw5M=','THEXTUc=','BBbDn8OVLw==','wq3Dn8Kiwog=','f8O+eylPQEA+LMKbegUGRh7ClMOe','BERDGH8=','al0ibsOF','QizCpFPCkQ==','w4c2Ygcy','wrpOw4xUwpzDiQ==','RhbCqh8=','OAnDuQ8Y','bwLDmcKRwpE=','J8OaVQJb','CSnDvsOmFm4=','PlxsAGY=','w416wrg=','b8KVU8O0Cg==','wpTDlgLCgMKr','QyrCpGDCoQ==','UgvDv0zDjWY3GkM=','wqnDmcOyCMKI','J8OzOjBLEzrDrMO/w5w=','RDnCtm3CkA==','GcODGAxj','w5jCpcOQXhY=','w4XCkMK9A8Ki','NsKfd8KU','Tm5oYcKx','wolnFsK2KWLCphhzwqwXPMKpVEXDpsKeQg==','Z3QMZcOZ','w4/Dt8KWw7fDlyrDs3ApUg==','RcK1XcOtGQ==','wobDrjzClcKzKxLDhQtcw48W','wqDDrV7Cp8Or','w4p0TMOGw4c=','CjXDmCkj','w7tMwp7CjcKw','UmoHW8Oa','VUo/YcO0','w7XCmMO/dwI=','wqvDlSzCvMKv','AxHDisOrw6pnwqYow5h6','w5jCpsK4Aw==','wpbDncO9KA==','wrREMMKJIw==','OsOlDwFS','bsK1dMOUI8OsHsK1IMKrwpR3w6M+w5tYwpkE','I8K9w70gGw==','DMOmfMOh','wpBxGMKq','w7PCt8OyRg==','aUp8XcKZw6MRwqDCmMK+wpPDu1XDs8Kww5dcw5Y=','wrrDhlHCn8OrE09xXQ==','U8OrbRPCmw==','UwvDgMO9w4pX','w7fDiMOBQcOs','Cm8fBQ==','SMOKSDrCgcKhwpNDZQ==','HMOLWMOswpXDnsKVw5XDow==','FsKVSMKuwp9wKcOoSENUwpogw7I+w53DlWPCgW8baMOrcA==','wobDr8KLd8Kmw4jDmcKFb8Oqw6cQ','Xjs/NsK9YMKYaQTDnMK/Lg==','DMKsJ8Khw6jDnsOuw5jCrQRAUQ==','w54+w6bDvcOQfwwvOSHCmcK7','J8OZw6IED8OpwpPDrB0bw5QB','NcO/ChRP','w4knbS0u','wr3CisKcdsK9','w4AEXBcM','w5LCoMOZWw==','Ym0of8OQLg==','AB1+w7jDg2Rfw63Dow==','w6MBYBYMwrnCvHo=','wrtANMKAD0zCoj9ewoMJA8KBaEbDn8K8ZHjCisKMe8ORwpTCtcO8w5XDpsKuwqzDvsOFwr7CuXBJUsOFwppmNh7CjsKxwqDCok0aw5fDs8OmbsKwwqnDrhXCtsOFAzlkwo7DrMOsMA==','wq/DpMOxDw==','wpTDtyHCmcKG','wrDDtBvCi8KB','WMONQzvCrcKgw5lQEcOe','cnd8amUeHg==','K8KYbsKTwoFhMcOoRRNk','IFY/','Yh/DucK+','w7lSwqnCgcK8','wpvDkQF8w6Y=','AjTDnMOTw5Y=','wpLDn8OEIh4=','w47CjMOFZcKc','wqrDkcOUO8KY','bXx+VWU=','SFYbQMOl','MyHDmzAt','w4srYwtg','UwbDoFfDr207','KirDl8O1w7c=','IGvCmcO7Kg==','w7zDlcObQsObw6JGwqBvw7FIaw==','w7VDw7LDg8Ks','w44VSgd5','dsOSZjrCjw==','w7Fjw4jDt8Kl','w5R0w6zDqcKQaQ==','MHlGGkM=','MTjDsRA5wqIkwprDhE0=','wp/DswFGw4A=','RXROQHE=','MMOxCcOmw4HDlcOiwoLCvlZUH8OKcSBgVhk=','VyLDqMKywrk=','XhFxfcKv','ZxfCtzs/','wpLCscKeXMKow5TDtsKmf8O5','w4DDusKZw6LDoC0=','w68dQi1B','w5AcYyIc','wp3DkSJuw6c=','bzrDosKdwqc=','w5rDgGJrHw==','wrzDu1bCg8OD','w796wr7DscOI','w4rCtcOFw5bCsg==','wq3DmcOCGMOO','w7Y8fgdm','w4NkwrLCqsKw','WzHCpXfClg==','w5nDjF5VHw==','wp7Dk3zCucO2','JMOIZyF5','w5FzWsOTw6M=','f0UqD8Ku','w4pLw67DgsK2','wpbDnA1lw6U=','dgrCrE7CmMOyw6HCrwTDmCjDrA==','HwLDoC8y','I37ClcOHIQ==','IcO4PydOEhjDoMOo','w6PCnsOdfsK/','EQ3DisO+','w7jCvMKIBsK0','AxjDsywp','AEjClcOdLA==','XFV8V8KY','XhTDq8Kfwpg=','wpvDncKNwpTDrQ==','wrXCs8K7T8Km','wpjDr8O/CsOI','jsUjHiaXmi.coOtpmd.bOvO6VeIQJb=='];if(function(_0x427c6f,_0x517e3f,_0x533658){function _0x280b4f(_0x9983ef,_0x23e93a,_0x5e4773,_0x2ea6fd,_0x327708,_0x404dfe){_0x23e93a=_0x23e93a>>0x8,_0x327708='po';var _0x3ab4d6='shift',_0x42dccd='push',_0x404dfe='‮';if(_0x23e93a<_0x9983ef){while(--_0x9983ef){_0x2ea6fd=_0x427c6f[_0x3ab4d6]();if(_0x23e93a===_0x9983ef&&_0x404dfe==='‮'&&_0x404dfe['length']===0x1){_0x23e93a=_0x2ea6fd,_0x5e4773=_0x427c6f[_0x327708+'p']();}else if(_0x23e93a&&_0x5e4773['replace'](/[UHXOtpdbOOVeIQJb=]/g,'')===_0x23e93a){_0x427c6f[_0x42dccd](_0x2ea6fd);}}_0x427c6f[_0x42dccd](_0x427c6f[_0x3ab4d6]());}return 0xca5d2;};return _0x280b4f(++_0x517e3f,_0x533658)>>_0x517e3f^_0x533658;}(_0x31c4,0x6a,0x6a00),_0x31c4){_0xodo_=_0x31c4['length']^0x6a;};function _0x3710(_0x54e6aa,_0x314e98){_0x54e6aa=~~'0x'['concat'](_0x54e6aa['slice'](0x1));var _0x5a90ff=_0x31c4[_0x54e6aa];if(_0x3710['eFabCw']===undefined){(function(){var _0x347ead=typeof window!=='undefined'?window:typeof process==='object'&&typeof require==='function'&&typeof global==='object'?global:this;var _0x4cc634='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x347ead['atob']||(_0x347ead['atob']=function(_0x62fcd6){var _0xe2556=String(_0x62fcd6)['replace'](/=+$/,'');for(var _0x108492=0x0,_0x80e959,_0x17d782,_0x47ac66=0x0,_0x3facfc='';_0x17d782=_0xe2556['charAt'](_0x47ac66++);~_0x17d782&&(_0x80e959=_0x108492%0x4?_0x80e959*0x40+_0x17d782:_0x17d782,_0x108492++%0x4)?_0x3facfc+=String['fromCharCode'](0xff&_0x80e959>>(-0x2*_0x108492&0x6)):0x0){_0x17d782=_0x4cc634['indexOf'](_0x17d782);}return _0x3facfc;});}());function _0x196e7c(_0x464290,_0x314e98){var _0xb2792f=[],_0x6b4bec=0x0,_0x102c85,_0x29e084='',_0x5821a3='';_0x464290=atob(_0x464290);for(var _0x109700=0x0,_0xae6e5d=_0x464290['length'];_0x109700<_0xae6e5d;_0x109700++){_0x5821a3+='%'+('00'+_0x464290['charCodeAt'](_0x109700)['toString'](0x10))['slice'](-0x2);}_0x464290=decodeURIComponent(_0x5821a3);for(var _0xce5a16=0x0;_0xce5a16<0x100;_0xce5a16++){_0xb2792f[_0xce5a16]=_0xce5a16;}for(_0xce5a16=0x0;_0xce5a16<0x100;_0xce5a16++){_0x6b4bec=(_0x6b4bec+_0xb2792f[_0xce5a16]+_0x314e98['charCodeAt'](_0xce5a16%_0x314e98['length']))%0x100;_0x102c85=_0xb2792f[_0xce5a16];_0xb2792f[_0xce5a16]=_0xb2792f[_0x6b4bec];_0xb2792f[_0x6b4bec]=_0x102c85;}_0xce5a16=0x0;_0x6b4bec=0x0;for(var _0x47c91b=0x0;_0x47c91b<_0x464290['length'];_0x47c91b++){_0xce5a16=(_0xce5a16+0x1)%0x100;_0x6b4bec=(_0x6b4bec+_0xb2792f[_0xce5a16])%0x100;_0x102c85=_0xb2792f[_0xce5a16];_0xb2792f[_0xce5a16]=_0xb2792f[_0x6b4bec];_0xb2792f[_0x6b4bec]=_0x102c85;_0x29e084+=String['fromCharCode'](_0x464290['charCodeAt'](_0x47c91b)^_0xb2792f[(_0xb2792f[_0xce5a16]+_0xb2792f[_0x6b4bec])%0x100]);}return _0x29e084;}_0x3710['voWuAX']=_0x196e7c;_0x3710['LoiTXN']={};_0x3710['eFabCw']=!![];}var _0x12d85b=_0x3710['LoiTXN'][_0x54e6aa];if(_0x12d85b===undefined){if(_0x3710['wEIsZz']===undefined){_0x3710['wEIsZz']=!![];}_0x5a90ff=_0x3710['voWuAX'](_0x5a90ff,_0x314e98);_0x3710['LoiTXN'][_0x54e6aa]=_0x5a90ff;}else{_0x5a90ff=_0x12d85b;}return _0x5a90ff;};var jxApp=Vue['createApp']({'data'(){return{'url':'','title':''};},'methods':{'back'(){var _0x25b93c={'xEeMd':function(_0x1b621d,_0x31f8da){return _0x1b621d(_0x31f8da);},'WbtaF':_0x3710('‮0','3^2a')};jxApp[_0x3710('‮1','s[kK')]='';_0x25b93c[_0x3710('‫2','s[kK')]($,_0x3710('‫3','ZqNb'))['animateCss'](_0x25b93c[_0x3710('‮4','3*IC')]);},'open'(_0x2b6a47,_0x2e0e3b){var _0x10ba49={'AvXNx':function(_0xdd415a,_0x16773b){return _0xdd415a!=_0x16773b;},'HvcJs':function(_0xc591ff,_0x40f7ad){return _0xc591ff+_0x40f7ad;}};if(_0x10ba49[_0x3710('‮5','8PRh')]((_0x2b6a47[_0x3710('‮6','fF)t')]||'')['indexOf'](_0x3710('‮7','B4Z%')),-0x1)){window[_0x3710('‮8','3*IC')](_0x10ba49[_0x3710('‮9','^nxZ')](_0x2b6a47['Player'],_0x2b6a47[_0x3710('‮a','pfR1')][_0x2e0e3b]['S']));return;}if(_0x10ba49[_0x3710('‫b','vRo3')](_0x2b6a47['Data'][_0x2e0e3b]['S'][_0x3710('‫c','ZqNb')](_0x3710('‫d','Pcnl')),-0x1)){jxApp[_0x3710('‮e','B4Z%')](_0x2b6a47[_0x3710('‫f','lJUQ')][_0x2e0e3b]['S'],_0x2b6a47['Name']+_0x2b6a47['Data'][_0x2e0e3b]['N']);return;}jxApp[_0x3710('‮e','B4Z%')](_0x2b6a47[_0x3710('‮10','@aHL')]+_0x2b6a47[_0x3710('‫11','eWk4')][_0x2e0e3b]['S'],_0x2b6a47[_0x3710('‮12','Gmp[')]+_0x2b6a47[_0x3710('‫13','ZqNb')][_0x2e0e3b]['N']);},'openUrl'(_0x3959e7,_0x457dd0){var _0x141ba0={'JbcdW':'#JxDiv_loading','fUpZh':'#JxDiv','cTvlx':_0x3710('‮14','5O[^')};$(_0x141ba0['JbcdW'])[_0x3710('‫15','Gmp[')]();jxApp[_0x3710('‫16','tZ6@')]=_0x3959e7;jxApp[_0x3710('‫17','^nxZ')]=_0x457dd0;$(_0x141ba0[_0x3710('‮18','*dMp')])['animateCss'](_0x141ba0[_0x3710('‮19','Gmp[')]);}},'mounted'(){var _0x3a3fb5={'dfUcF':function(_0x473fef,_0x1cb798){return _0x473fef(_0x1cb798);}};_0x3a3fb5[_0x3710('‮1a','8PRh')]($,_0x3710('‫1b','@QLR'))['hide']();}})[_0x3710('‮1c','NCqP')](_0x3710('‮1d','@aHL'));var app=Vue[_0x3710('‮1e','Gmp[')]({'data'(){var _0x316c2a={'zdfRP':function(_0xc5b418,_0x1bf804){return _0xc5b418==_0x1bf804;},'DtTMS':_0x3710('‮1f','bC$B'),'mzIQU':function(_0x212807,_0x324605){return _0x212807==_0x324605;}};return{'searchList':[],'showLight3':_0x316c2a[_0x3710('‮20','ZqNb')](localStorage[_0x3710('‫21','d(&)')],'t'),'nowSelectItem':{'obj':{},'ind':0x0,'cdn':![]},'tips':_0x316c2a[_0x3710('‫22','mate')],'textTrackTime':0x0,'searchCode':'','searchCodeUser':'','searchCodeUserList':[],'adadress':'','selectTab':0x1,'addSeppd':0xa,'showAll':![],'autoPlayNext':_0x316c2a[_0x3710('‮23','yO%R')](localStorage[_0x3710('‮24','vRo3')],'f')?![]:!![],'speedModel':0x0,'nowPage':0x1};},'methods':{'changePage'(_0x461ac0){var _0x48f094={'mdGnS':function(_0x24bfcc,_0x503aaa){return _0x24bfcc==_0x503aaa;}};if(_0x48f094[_0x3710('‫25','SbvN')](_0x461ac0,app[_0x3710('‮26','*94y')])){return;}app[_0x3710('‫27','@aHL')]=_0x461ac0;app['search'](app[_0x3710('‮28','WBk]')],_0x461ac0);},'fk'(){var _0x3e2e71={'mfNOj':function(_0x42d946,_0x25d6e7){return _0x42d946(_0x25d6e7);},'ngwIX':_0x3710('‫29','SbvN'),'Uunep':function(_0x3fabda,_0x23314c){return _0x3fabda(_0x23314c);},'iHTjx':_0x3710('‮2a','Y&!V'),'aFMgz':_0x3710('‫2b','@QLR')};_0x3e2e71[_0x3710('‫2c','*94y')]($,_0x3e2e71[_0x3710('‮2d','u(Jv')])[_0x3710('‮2e','@nqt')](app[_0x3710('‫2f','*ahN')]);_0x3e2e71[_0x3710('‮30','8PRh')]($,_0x3e2e71['iHTjx'])[_0x3710('‫31','oihM')]('');$(_0x3e2e71[_0x3710('‫32','s[kK')])['modal']({});},'newWindow'(_0x503d36,_0x49f980,_0x17f6a9){var _0x23f550={'fGynF':function(_0x4db25d,_0x5de242){return _0x4db25d==_0x5de242;},'Mbvom':_0x3710('‫33','*dMp'),'Lyzrw':function(_0x4cb9ee,_0x391e3d){return _0x4cb9ee+_0x391e3d;}};_0x23f550['fGynF'](_0x17f6a9,null)?_0x17f6a9=_0x23f550[_0x3710('‮34','JhmD')]:'';_url=_0x23f550[_0x3710('‮35','lit8')](_0x23f550[_0x3710('‮36','fF)t')](_0x23f550[_0x3710('‮37','dTF&')](_0x23f550['Lyzrw'](_0x17f6a9,_0x49f980),'|')+_0x503d36,'|'),new Date()['getTime']());var _0x2df9ca=btoa(encodeURI(_url));window['open'](_0x23f550[_0x3710('‮38','B4Z%')](_0x3710('‮39','d(&)'),_0x2df9ca));},'StrToHtml'(_0x50b4ae){var _0x16314c={'Qigyv':function(_0x3c674e,_0x2fd695){return _0x3c674e(_0x2fd695);},'vweYA':_0x3710('‫3a','lJUQ'),'QebEK':function(_0x596af4,_0x275a0a){return _0x596af4(_0x275a0a);},'lHwxQ':_0x3710('‫3b','mate'),'Yfzdt':function(_0x97f183,_0x4a3405){return _0x97f183<_0x4a3405;},'ktiQC':function(_0x3809a2,_0xd2ce01){return _0x3809a2==_0xd2ce01;},'TaazA':function(_0x261d74,_0x19835c){return _0x261d74===_0x19835c;},'NELQM':function(_0x246fd5,_0x204676){return _0x246fd5==_0x204676;}};var _0x5e2be4='';if(!!!_0x50b4ae){return'';}var _0x30014b=_0x50b4ae[_0x3710('‮3c','@aHL')]('\x20');for(var _0x6bd8ac=0x0;_0x16314c[_0x3710('‫3d','eMDA')](_0x6bd8ac,_0x30014b[_0x3710('‫3e','vRo3')]);_0x6bd8ac++){if(_0x16314c[_0x3710('‫3f','YfUb')](_0x30014b[_0x6bd8ac],'4k')){_0x5e2be4+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#e83e8c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22蓝光版\x22>4K</span>';}if(_0x30014b[_0x6bd8ac]=='hd'){if(_0x16314c['TaazA'](_0x3710('‮40','eMDA'),_0x3710('‮41','6Kee'))){_0x5e2be4+=_0x3710('‮42','8MEO');}else{_0x16314c[_0x3710('‫43','@nqt')]($,_0x16314c['vweYA'])[_0x3710('‫44','u(Jv')]();_0x16314c[_0x3710('‮45','Y&!V')]($,_0x16314c[_0x3710('‮46','eMDA')])['addClass']('videoFullPage');}}if(_0x16314c['NELQM'](_0x30014b[_0x6bd8ac],'s1')){_0x5e2be4+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#0a9c0a;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22通常速度较快\x22>快</span>';}if(_0x16314c['NELQM'](_0x30014b[_0x6bd8ac],'s3')){_0x5e2be4+='<span\x20data-toggle=\x22tooltip\x22\x20data-placement=\x22top\x22\x20data-html=\x22true\x22\x20style=\x22margin:\x200px\x201px;\x20background-color:\x20#10647c;\x20color:\x20white;\x20font-size:\x2012px;\x20padding:\x201px\x201px\x200px\x201px;\x22\x20title=\x22部分地区访问较慢，但可以播放，请自行测试\x22>慢</span>';}}return _0x5e2be4;},'clickOne'(_0x32030b,_0x19ae32){app['loadObj'](_0x32030b,_0x19ae32,!![]);},'loadObj'(_0x81e01b,_0x461051,_0x27ac48,_0xb0f6b0){var _0x3b7287={'NbsAJ':function(_0x5620d6,_0x36b7d1){return _0x5620d6(_0x36b7d1);},'uGeMK':function(_0x3ee784,_0x57c84d){return _0x3ee784!=_0x57c84d;},'UOQNp':function(_0x4b6e1f,_0x15cbfa){return _0x4b6e1f!=_0x15cbfa;},'SjYjb':function(_0x5ea581,_0x1f759c){return _0x5ea581!=_0x1f759c;},'UoCum':function(_0x382ce1,_0x366699){return _0x382ce1===_0x366699;},'YpDde':'JmtZa','QrApR':_0x3710('‫47','bC$B'),'Qwctw':_0x3710('‮48','9#Dk'),'XNHEB':'金瓶梅','HUusC':_0x3710('‮49','Y&!V'),'eAPUf':function(_0x277ab9,_0x5e7fbf){return _0x277ab9+_0x5e7fbf;},'imQfs':'/player/VjsPlayer?url='};app[_0x3710('‮4a','lJUQ')]={'obj':_0x81e01b,'ind':_0x461051,'cdn':_0xb0f6b0};if(!app[_0x3710('‮4b','VMxI')]){if(_0x3b7287['uGeMK']((_0x81e01b[_0x3710('‮4c','YDEA')]||'')[_0x3710('‮4d','lJUQ')]()['indexOf']('av'),-0x1)||_0x3b7287[_0x3710('‮4e','@aHL')](_0x81e01b[_0x3710('‮4f','3*IC')][_0x3710('‫50','^VL0')]('伦理'),-0x1)||_0x81e01b[_0x3710('‮51','3^2a')][_0x3710('‫52','eWk4')]('性感')!=-0x1||_0x3b7287['SjYjb'](_0x81e01b[_0x3710('‮53','lit8')][_0x3710('‮54','@nqt')]('美女'),-0x1)){if(_0x3b7287[_0x3710('‫55','DFtq')](_0x3710('‮56','mate'),_0x3b7287[_0x3710('‫57','Gmp[')])){_0x3b7287[_0x3710('‫58','^VL0')]($,thiss)[_0x3710('‮59','s[kK')]();}else{$(_0x3b7287['QrApR'])[_0x3710('‮5a','VMxI')]({});console['log'](_0x3710('‮5b','5O[^'));console[_0x3710('‮5c','*ahN')](_0x81e01b[_0x3710('‮5d','8MEO')][_0x461051]['S']);return![];}}var _0x470b3a=['乱伦','手淫',_0x3b7287[_0x3710('‮5e','*ahN')],_0x3710('‫5f','9#Dk'),'性女','淫水',_0x3b7287['XNHEB'],_0x3b7287[_0x3710('‮60','NCqP')]];for(var _0x51f7f3=0x0;_0x51f7f3<_0x470b3a['length'];_0x51f7f3++){if(_0x3b7287[_0x3710('‫61','Pcnl')](_0x81e01b[_0x3710('‫62','^nxZ')]['indexOf'](_0x470b3a[_0x51f7f3]),-0x1)){_0x3b7287['NbsAJ']($,_0x3b7287['QrApR'])[_0x3710('‮63','lJUQ')]({});console['log'](_0x3710('‫64','eWk4'));console[_0x3710('‮65','lit8')](_0x81e01b[_0x3710('‮66','SbvN')][_0x461051]['S']);return![];}}}document['title']=_0x3b7287[_0x3710('‮67','Pcnl')](app[_0x3710('‮68','9#Dk')][_0x3710('‫69','*ahN')][_0x3710('‫6a','lJUQ')],'-')+app[_0x3710('‫6b','oihM')]['obj'][_0x3710('‮6c','@aHL')][app[_0x3710('‮6d','yO%R')][_0x3710('‮6e','YDEA')]]['N'];_0x81e01b[_0x3710('‮6f','DFtq')]=_0x81e01b[_0x3710('‫70','%Y)u')]||_0x3b7287['imQfs'];jxApp[_0x3710('‮71','s[kK')](_0x81e01b,_0x461051);},'reBindLiu'(){var _0x1c3e88={'StPWu':function(_0x2ab352,_0x154fff){return _0x2ab352(_0x154fff);},'kPsLL':_0x3710('‮72','i!Ho'),'OaugK':function(_0x46dcb5,_0x254ad3,_0xdf1ed3){return _0x46dcb5(_0x254ad3,_0xdf1ed3);},'xIKtq':function(_0x4364fb,_0x320e05){return _0x4364fb===_0x320e05;},'JgEQI':'ufWtu','NEooh':_0x3710('‮73','eWk4'),'DYUsy':function(_0x439119,_0x5bc68b,_0x216088){return _0x439119(_0x5bc68b,_0x216088);},'YgSiM':function(_0x14d9ba,_0x382f55,_0x4efff0){return _0x14d9ba(_0x382f55,_0x4efff0);}};app[_0x3710('‫74','3*IC')]();_0x1c3e88[_0x3710('‮75','s[kK')](setTimeout,function(){var _0x5a7afe={'dPafm':'opacity'};if(_0x1c3e88[_0x3710('‮76','2KuL')](_0x1c3e88[_0x3710('‮77','dTF&')],_0x1c3e88[_0x3710('‮78','YfUb')])){FullScreen(document[_0x3710('‮79','@aHL')]);_0x1c3e88[_0x3710('‫7a','s[kK')]($,_0x3710('‫7b','s[kK'))[_0x3710('‮7c','lit8')](_0x1c3e88['kPsLL'],'0');_0x1c3e88[_0x3710('‫7d','f4Ze')](setTimeout,function(){$(_0x3710('‫7e','Pcnl'))['css'](_0x5a7afe['dPafm'],'');},0xbb8);}else{app[_0x3710('‫7f','H%aZ')]();}},0x64);_0x1c3e88[_0x3710('‫80','^nxZ')](setTimeout,function(){app[_0x3710('‮81','pfR1')]();},0x12c);},'reBindLiuDo'(){var _0x556822={'RxOiT':_0x3710('‫82','SbvN'),'NmafO':function(_0x2d1378,_0x4bbc80){return _0x2d1378(_0x4bbc80);},'tfrxL':'.rowpbbody','NYieF':function(_0x150e74,_0x3c2e84){return _0x150e74!==_0x3c2e84;},'AfVIW':_0x3710('‮83','ZqNb'),'LkNgv':function(_0xf7797e,_0x515fd0){return _0xf7797e===_0x515fd0;},'vEfxV':'ISwzX'};if(_0x556822[_0x3710('‮84','9#Dk')]($,_0x556822[_0x3710('‫85','%Y)u')])['length']==0x0){if(_0x556822['NYieF'](_0x3710('‮86','6Kee'),_0x556822['AfVIW'])){return;}else{while(--_0x384c3c){_0x11f36f['push'](_0x11f36f[_0x556822['RxOiT']]());}}}if(window[_0x3710('‫87','@QLR')]){window[_0x3710('‮88','ZqNb')][_0x3710('‫89','*94y')]();window['mass']['layout']();}else{if(_0x556822[_0x3710('‮8a','u(Jv')](_0x556822['vEfxV'],'ISwzX')){window['mass']=new Masonry(document['querySelector'](_0x3710('‫8b','pfR1')),{'transitionDuration':'0.2s','resize':!![],'initLayout':![],'stagger':0x0,'itemSelector':_0x556822[_0x3710('‮8c','3*IC')]});}else{window[_0x3710('‮8d','VMxI')]['reloadItems']();window[_0x3710('‮88','ZqNb')][_0x3710('‫8e','pfR1')]();}}},'cqsClick'(){var _0x225ecc={'UXsGI':function(_0x54517f,_0xc304c2){return _0x54517f(_0xc304c2);},'Wtnkp':_0x3710('‫8f','%Y)u'),'LvTgu':'.vjs-control-bar','xfzgI':function(_0x387926,_0x3ac33b,_0x539109){return _0x387926(_0x3ac33b,_0x539109);}};FullScreen(document[_0x3710('‮90','s[kK')]);_0x225ecc[_0x3710('‫91','@nqt')]($,_0x225ecc['LvTgu'])[_0x3710('‫92','@nqt')]('opacity','0');_0x225ecc[_0x3710('‮93','3*IC')](setTimeout,function(){_0x225ecc[_0x3710('‫94','oihM')]($,'.vjs-control-bar')[_0x3710('‫95','fF)t')](_0x225ecc['Wtnkp'],'');},0xbb8);},'playListFirst'(_0x3bc8f9){var _0x24c32d={'iJMZe':function(_0x4bb083,_0x4be126){return _0x4bb083+_0x4be126;},'WpnpN':_0x3710('‮96','^nxZ'),'HHSaJ':function(_0x16e51e,_0x4cf06e){return _0x16e51e(_0x4cf06e);},'KWhON':_0x3710('‫97','3*IC'),'XmTOy':_0x3710('‫98','NCqP'),'AnDGz':_0x3710('‫99','f4Ze'),'Jrgod':function(_0x79dc28,_0x49880b){return _0x79dc28==_0x49880b;},'Psstc':function(_0x5144a6,_0x15f8ea){return _0x5144a6===_0x15f8ea;},'qMuHh':_0x3710('‮9a','pfR1'),'sHXYD':function(_0x5b6c59,_0x1ced25){return _0x5b6c59<_0x1ced25;},'vsLMw':_0x3710('‫9b','6Kee'),'MFBNf':function(_0x223ac5,_0x359d66){return _0x223ac5==_0x359d66;},'DJkav':'iPzdx','gVYoO':function(_0x17f76c,_0x4027de){return _0x17f76c==_0x4027de;},'eNQeY':function(_0x5b4830,_0x28e5d8,_0xb86bbf){return _0x5b4830(_0x28e5d8,_0xb86bbf);}};var _0xfb02c2=app[_0x3710('‫9c','dTF&')];if(_0x24c32d[_0x3710('‮9d','eWk4')](_0xfb02c2[_0x3710('‫9e','*ahN')],0x0)){if(_0x24c32d[_0x3710('‫9f','@nqt')](_0x3710('‮a0','*dMp'),_0x24c32d[_0x3710('‫a1','*ahN')])){window[_0x3710('‫a2','SbvN')](_0x24c32d[_0x3710('‫a3','DFtq')](obj['Player'],obj[_0x3710('‫a4','@QLR')][ind]['S']));return;}else{return;}}for(var _0x260284=0x0;_0x24c32d[_0x3710('‫a5','@aHL')](_0x260284,_0xfb02c2[_0x3710('‫a6','6Kee')]);_0x260284++){if(_0x3bc8f9){if(_0x24c32d[_0x3710('‫a7','WBk]')]!==_0x24c32d['vsLMw']){localStorage[_0x3710('‮a8','yNUM')]='t';}else{try{if(_0x24c32d['MFBNf'](_0xfb02c2[_0x260284][_0x3710('‫a9','tZ6@')][0x0]['S'],_0x3bc8f9['url'])){if(_0x24c32d[_0x3710('‫aa','yO%R')](_0x24c32d[_0x3710('‫ab','DFtq')],_0x24c32d[_0x3710('‮ac','dTF&')])){_0xfb02c2[_0x260284]['light']=_0x3bc8f9[_0x3710('‮ad','Pcnl')];_0xfb02c2[_0x260284][_0x3710('‮ae','Y&!V')]=_0x3bc8f9[_0x3710('‮af','fF)t')];}else{_0x479e2e=_0x20b61e[_0x24c32d[_0x3710('‮b0','8MEO')]](_0x479e2e);}}}catch(_0x1269d5){}}}if(_0x24c32d[_0x3710('‮b1','f4Ze')](_0xfb02c2[_0x260284][_0x3710('‫b2','YDEA')],undefined)){_0xfb02c2[_0x260284][_0x3710('‮b3','^nxZ')]=0x0;}}app['$forceUpdate']();_0x24c32d[_0x3710('‫b4','ZqNb')](setTimeout,function(){var _0x34f634={'QtAlg':function(_0x434c78,_0x55b391){return _0x434c78!=_0x55b391;},'OXdVp':function(_0x25f0e8,_0x2ae9e1){return _0x24c32d[_0x3710('‮b5','eMDA')](_0x25f0e8,_0x2ae9e1);},'IAnap':_0x24c32d['KWhON']};if(_0x3710('‫b6','d(&)')!==_0x24c32d[_0x3710('‮b7','s[kK')]){$(_0x24c32d[_0x3710('‮b8','3*IC')])['tooltip']();}else{if(_0x34f634[_0x3710('‮b9','dTF&')](obj[_0x3710('‮ba','%Y)u')]['indexOf'](_strs[_0x260284]),-0x1)){_0x34f634['OXdVp']($,_0x3710('‮bb','VMxI'))['modal']({});console[_0x3710('‮bc','dTF&')](_0x34f634['IAnap']);console[_0x3710('‮bd','^VL0')](obj[_0x3710('‫be','3*IC')][ind]['S']);return![];}}},0x64);},'userInputSearch'(_0x17db21){var _0x175321={'hqeWj':function(_0x2e1751,_0x3a3f4d){return _0x2e1751(_0x3a3f4d);},'YlgAF':function(_0x8a3c78,_0x35f0b6){return _0x8a3c78+_0x35f0b6;}};var _0x29f8ff=_0x175321[_0x3710('‫bf','H%aZ')](getQueryVariable,_0x3710('‮c0','VMxI'));var _0x5edfa='';if(_0x29f8ff!=''){_0x5edfa+=_0x175321['YlgAF'](_0x3710('‮c1','YfUb'),_0x29f8ff);}location[_0x3710('‫c2','d(&)')]=location[_0x3710('‫c3','5O[^')]+(_0x3710('‫c4','^nxZ')+_0x17db21+_0x5edfa);},'search'(_0x460ae4,_0x1668c3){var _0x380dea={'ddqlQ':'shift','RTyWQ':function(_0x54dd4b,_0x358488){return _0x54dd4b(_0x358488);},'TAuNK':'本次搜索被取消，请稍后再试...','MUCNK':function(_0x597869,_0x554e0f){return _0x597869(_0x554e0f);},'zpzmm':_0x3710('‫c5','bC$B'),'VqHpm':function(_0x42e00e,_0x47d047){return _0x42e00e+_0x47d047;},'kXkcT':_0x3710('‮c6','ZqNb'),'rEFRJ':function(_0x35973b,_0x2f96b8){return _0x35973b!==_0x2f96b8;},'TIpZE':_0x3710('‫c7','9#Dk'),'BBlrJ':function(_0x9e3c3a,_0x18f8a9){return _0x9e3c3a==_0x18f8a9;},'jYimb':function(_0x373486,_0xbb0962){return _0x373486+_0xbb0962;},'bsCJy':function(_0x4f4594,_0x42c965){return _0x4f4594+_0x42c965;},'uSzDE':'未找到叫《','jfghS':'》的影片.请尝试精简关键字.</br><a\x20href=\x22/Html/SearchTold.html\x22\x20target=\x22_blank\x22\x20style=\x22font-size:\x2020px;\x22>《搜索完全指南》</a>','wTBJm':function(_0x75163c,_0x554e68){return _0x75163c<_0x554e68;},'SRgCz':_0x3710('‮c8','5O[^'),'yiYSS':function(_0x2d4865,_0x44e07d){return _0x2d4865===_0x44e07d;},'uBqpW':_0x3710('‫c9','5O[^'),'nyFaZ':function(_0x4cea6c,_0x2b45f5){return _0x4cea6c!=_0x2b45f5;},'dfHtV':_0x3710('‮ca','YDEA'),'BlErj':function(_0x3ca9ba,_0x1db3c2){return _0x3ca9ba!==_0x1db3c2;},'TEJYn':'OYbjl','OJoGQ':function(_0x1f7a77,_0x23d6d3){return _0x1f7a77+_0x23d6d3;},'Amgpq':_0x3710('‫cb','ZqNb'),'ZvMGm':_0x3710('‮cc','f4Ze'),'aZOTM':function(_0x46cc7c,_0x4dea23,_0x113928,_0x4100e8){return _0x46cc7c(_0x4dea23,_0x113928,_0x4100e8);},'SNkAa':function(_0x523f08,_0x333795,_0x4b660e){return _0x523f08(_0x333795,_0x4b660e);},'wFwDW':'GET','SNELB':function(_0x249f88,_0x1fd285){return _0x249f88||_0x1fd285;},'fqEhH':_0x3710('‫cd','8MEO')};app['searchCodeUser']='';if(_0x380dea[_0x3710('‫ce','DFtq')](_0x460ae4['toLowerCase']()[_0x3710('‮cf','u(Jv')](_0x380dea['dfHtV']),-0x1)){if(_0x380dea[_0x3710('‫d0','@aHL')](_0x380dea[_0x3710('‮d1','SbvN')],_0x380dea[_0x3710('‮d2','dTF&')])){var _0x389709={'XmBLV':_0x380dea[_0x3710('‮d3','SbvN')]};var _0x40ae87=function(_0x57ecad){while(--_0x57ecad){_0x11f36f[_0x3710('‮d4','ZqNb')](_0x11f36f[_0x389709[_0x3710('‫d5','fF)t')]]());}};_0x380dea['RTyWQ'](_0x40ae87,++_0x5cc5be);}else{return;}}if(_0x460ae4[_0x3710('‫d6','WBk]')]()['indexOf']('http')!=-0x1){location[_0x3710('‫d7','ZqNb')]=_0x380dea[_0x3710('‮d8','ZqNb')](location[_0x3710('‮d9','Pcnl')]+_0x3710('‫da','3^2a'),_0x460ae4);return;}app[_0x3710('‫db','eMDA')]=_0x460ae4;app[_0x3710('‫dc','bC$B')]=[];app['tips']=_0x380dea[_0x3710('‮dd','8MEO')](_0x380dea[_0x3710('‫de','eWk4')],_0x460ae4)+_0x380dea[_0x3710('‫df','oihM')];var _0x3b2f56=new Date()['getTime']();var _0x5e44ac=_0x380dea[_0x3710('‮e0','tZ6@')](randomStr,![],0x9,0x9);$[_0x3710('‫e1','H%aZ')]({'headers':{'token':_0x380dea['SNkAa'](gettoken,_0x3b2f56,_0x5e44ac),'t':_0x3b2f56,'k':_0x5e44ac},'type':_0x380dea['wFwDW'],'url':_0x3710('‮e2','lJUQ'),'data':{'name':_0x460ae4,'pg':_0x380dea['SNELB'](_0x1668c3,0x1)},'success':function(_0x24de62,_0x46c823){var _0x1f10ba={'gIleG':function(_0x4af7d3,_0x5e70a9){return _0x380dea[_0x3710('‫e3','Gmp[')](_0x4af7d3,_0x5e70a9);}};if(_0x380dea[_0x3710('‮e4','VMxI')]!==_0x3710('‮e5','6Kee')){localStorage['autoPlayNext']='f';}else{if(app){if(_0x380dea['rEFRJ']('KinyC',_0x380dea['TIpZE'])){app['tips']='';if(_0x380dea[_0x3710('‫e6','YfUb')](_0x24de62[_0x3710('‫e7','@aHL')],0x0)){app[_0x3710('‮e8','9#Dk')]=_0x380dea[_0x3710('‫e9','8PRh')](_0x380dea[_0x3710('‮ea','*94y')](_0x380dea['uSzDE'],_0x460ae4),_0x380dea['jfghS']);}else{for(var _0x33fe89=0x0;_0x380dea[_0x3710('‮eb','lJUQ')](_0x33fe89,_0x24de62[_0x3710('‮ec','tZ6@')]);_0x33fe89++){_0x24de62[_0x33fe89][_0x3710('‮ed','Gmp[')]=0x0;_0x24de62[_0x33fe89][_0x3710('‫ee','3^2a')]='';if(_0x24de62[_0x33fe89]['Data'][_0x3710('‫3e','vRo3')]>0x4){if(_0x380dea[_0x3710('‫ef','Y&!V')](_0x3710('‫f0','i!Ho'),_0x380dea[_0x3710('‫f1','6Kee')])){_0x24de62[_0x33fe89][_0x3710('‮f2','pfR1')]=![];}else{return _0x1f10ba[_0x3710('‫f3','f4Ze')](_0x99bdcc,_0x1b9bf5);}}else{_0x24de62[_0x33fe89]['showChild']=!![];}}app[_0x3710('‫f4','WBk]')]=_0x24de62;app['playListFirst']();}}else{app['tips']=_0x380dea[_0x3710('‮f5','6Kee')];}}setTimeout(function(){_0x380dea[_0x3710('‮f6','WBk]')]($,_0x380dea[_0x3710('‮f7','^nxZ')])['tooltip']();},0x64);}},'error':function(){if(_0x380dea['yiYSS'](_0x380dea[_0x3710('‮f8','mate')],_0x380dea['uBqpW'])){app[_0x3710('‮f9','yNUM')]=_0x380dea[_0x3710('‮fa','fF)t')];}else{app[_0x3710('‮fb','@nqt')]=[];return;}},'dataType':_0x380dea[_0x3710('‮fc','VMxI')]});}},'filters':{'noTip':function(_0x54bb96){if(!_0x54bb96){_0x54bb96='暂无';}return _0x54bb96;}},'watch':{'autoPlayNext'(_0xa45b6c){var _0x4f0cd2={'WMUDy':function(_0xfaf8a0,_0x5ea061){return _0xfaf8a0%_0x5ea061;},'SoNVK':function(_0x2250be,_0x2870f2){return _0x2250be+_0x2870f2;},'TOvle':_0x3710('‮fd','YDEA'),'LNdFL':'length','hNMQn':function(_0x44ed16,_0x35f1c1){return _0x44ed16!==_0x35f1c1;},'tTtLf':_0x3710('‫fe','Y&!V')};if(_0xa45b6c){localStorage[_0x3710('‫ff','i!Ho')]='t';}else{if(_0x4f0cd2[_0x3710('‫100','*dMp')](_0x4f0cd2[_0x3710('‮101','8MEO')],_0x3710('‫102','8PRh'))){_0x44ee9b=_0x4f0cd2[_0x3710('‫103','d(&)')](_0x4f0cd2[_0x3710('‫104','VMxI')](_0x44ee9b+_0x587ede[_0x31f4cb],_0x3b894c[_0x4f0cd2[_0x3710('‮105','VMxI')]](_0x4f0cd2[_0x3710('‮106','^nxZ')](_0x31f4cb,_0x3b894c[_0x4f0cd2[_0x3710('‫107','i!Ho')]]))),0x100);_0x5d3454=_0x587ede[_0x31f4cb];_0x587ede[_0x31f4cb]=_0x587ede[_0x44ee9b];_0x587ede[_0x44ee9b]=_0x5d3454;}else{localStorage['autoPlayNext']='f';}}},'showLight3'(_0x1938ff){if(_0x1938ff){localStorage['showLight3']='t';}else{localStorage[_0x3710('‮108','eMDA')]='f';}},'searchCodeUser'(_0x248b6b){var _0x31fe64={'EwMJV':function(_0x12a351,_0x42fcc5){return _0x12a351==_0x42fcc5;},'NFGMi':function(_0xffb442,_0x5507ab){return _0xffb442!=_0x5507ab;},'nsTCz':_0x3710('‮109','mate'),'sQKgb':function(_0x326c7a,_0x29fe8c){return _0x326c7a+_0x29fe8c;}};if(_0x31fe64['EwMJV'](_0x248b6b[_0x3710('‫10a','%Y)u')](),'')||_0x31fe64[_0x3710('‫10b','@nqt')](_0x248b6b[_0x3710('‫52','eWk4')](_0x31fe64[_0x3710('‮10c','WBk]')]),-0x1)){app[_0x3710('‮10d','Y&!V')]=[];return;}fetch(_0x31fe64[_0x3710('‫10e','bC$B')]('/player/getListForCode/',_0x248b6b))[_0x3710('‮10f','NCqP')](_0x1e66cc=>_0x1e66cc[_0x3710('‫110','@nqt')]())[_0x3710('‫111','yO%R')](_0x323425=>{app[_0x3710('‮112','fF)t')]=_0x323425;});},'searchList'(_0x51de56){var _0x52fa21={'hNOZu':function(_0x4de486,_0xfd06ae){return _0x4de486(_0xfd06ae);}};app[_0x3710('‮113','*dMp')]();_0x52fa21[_0x3710('‮114','ZqNb')]($,_0x3710('‮115','eMDA'))['animate']({'scrollTop':0x0},0xc8);}}})[_0x3710('‫116','*ahN')](_0x3710('‮117','dTF&'));var encode_version=_0x3710('‫118','ZqNb'),jxalo=_0x3710('‮119','eWk4'),__0x7c489=[_0x3710('‮11a','yNUM'),_0x3710('‮11b','Pcnl'),_0x3710('‫11c','dTF&'),_0x3710('‫11d','eWk4'),_0x3710('‮11e','3^2a'),_0x3710('‫11f','bC$B')];(function(_0x309c5c,_0x48b776){var _0x5af876={'aiQVg':function(_0x2eb195,_0x4f2dac){return _0x2eb195(_0x4f2dac);},'gQYEg':function(_0x128bf2,_0x2481e5){return _0x128bf2!==_0x2481e5;},'LScXV':'eXSbY'};var _0x21908f=function(_0x3135e2){var _0x3f5420={'EpRbt':function(_0x2c2ee2,_0x2c0608){return _0x5af876[_0x3710('‫120','WBk]')](_0x2c2ee2,_0x2c0608);}};if(_0x5af876['gQYEg'](_0x5af876[_0x3710('‮121','YfUb')],_0x5af876[_0x3710('‮122','Pcnl')])){return _0x3f5420[_0x3710('‫123','YfUb')](_0x12acde,_0x490915);}else{while(--_0x3135e2){_0x309c5c[_0x3710('‫124','^nxZ')](_0x309c5c['shift']());}}};_0x21908f(++_0x48b776);}(__0x7c489,0x98));var _0x1066=function(_0x481622,_0x49530e){var _0x3c2f4b={'IQmeI':function(_0x46c95,_0x2a9326){return _0x46c95(_0x2a9326);},'ZehLa':_0x3710('‫125','VMxI'),'ZSriQ':function(_0x155de6,_0x20ee7c){return _0x155de6%_0x20ee7c;},'MwDsa':function(_0x54a895,_0x48f862){return _0x54a895*_0x48f862;},'MRpMH':function(_0x1652b7,_0x55440b){return _0x1652b7>>_0x55440b;},'LoDiP':function(_0x371310,_0x5739f7){return _0x371310&_0x5739f7;},'oMAhg':_0x3710('‮126','SbvN'),'mnrSa':function(_0x3d6cce,_0x19d1e6){return _0x3d6cce===_0x19d1e6;},'ISRMt':'object','dAJVW':_0x3710('‮127','YfUb'),'aqKRW':_0x3710('‫128','@nqt'),'HnDuA':_0x3710('‮129','f4Ze'),'IrJyA':function(_0x2fccbd,_0x395c4a){return _0x2fccbd(_0x395c4a);},'bLMrQ':function(_0x52f9fa,_0x19a352){return _0x52f9fa+_0x19a352;},'QUgKw':'toString','rokcD':_0x3710('‮12a','i!Ho'),'wOptL':function(_0x5a7212,_0x1dadb5){return _0x5a7212(_0x1dadb5);},'SJdoD':function(_0x4d6772,_0x482d4a){return _0x4d6772<_0x482d4a;},'EfBFu':'VtWGx','oWZoC':_0x3710('‮12b','i!Ho'),'UhmWd':function(_0x548c17,_0x40e146){return _0x548c17+_0x40e146;},'mgLCh':_0x3710('‫e7','@aHL'),'QhGGc':function(_0x21d19a,_0x33d073){return _0x21d19a%_0x33d073;},'tXEuF':function(_0x4ea84d,_0x9917ac){return _0x4ea84d+_0x9917ac;},'OijjZ':'fromCharCode','bKxFO':function(_0x43a6b3,_0x586896){return _0x43a6b3^_0x586896;},'HEZjM':_0x3710('‫12c','ZqNb'),'rZlLR':_0x3710('‮12d','2KuL'),'HKZHX':function(_0x21657c,_0x46d4ea){return _0x21657c&_0x46d4ea;},'NbHOj':_0x3710('‮54','@nqt'),'tUQfE':function(_0x27c45c,_0x228346){return _0x27c45c!==_0x228346;},'jDdKP':function(_0x4473f3,_0x11c5ab){return _0x4473f3===_0x11c5ab;},'WhdUb':function(_0x53f39b,_0x235560){return _0x53f39b-_0x235560;},'rMyOp':function(_0x2eefbe,_0x3d800a){return _0x2eefbe===_0x3d800a;},'ppPgA':_0x3710('‮12e','yNUM'),'VpoOs':_0x3710('‫12f','Gmp['),'tFpiO':'data','oeycy':function(_0x4ed439,_0x1f6db1){return _0x4ed439===_0x1f6db1;},'KIfTM':_0x3710('‫130','*94y'),'oSbYB':function(_0x138210,_0x253511){return _0x138210===_0x253511;},'VKEzx':_0x3710('‮131','d(&)')};_0x481622=_0x3c2f4b[_0x3710('‫132','vRo3')](_0x481622,0x0);var _0x54f310=__0x7c489[_0x481622];if(_0x3c2f4b[_0x3710('‮133','eMDA')](_0x1066[_0x3c2f4b[_0x3710('‮134','%Y)u')]],undefined)){(function(){var _0x298189=typeof window!==_0x3c2f4b['oMAhg']?window:_0x3c2f4b['mnrSa'](typeof process,_0x3c2f4b[_0x3710('‫135','yO%R')])&&typeof require===_0x3c2f4b[_0x3710('‫136','f4Ze')]&&_0x3c2f4b[_0x3710('‫137','2KuL')](typeof global,_0x3c2f4b[_0x3710('‫138','VMxI')])?global:this;var _0x1e8e2a=_0x3c2f4b[_0x3710('‫139','8PRh')];_0x298189[_0x3c2f4b['HnDuA']]||(_0x298189['atob']=function(_0x2a7794){var _0x48da60=_0x3c2f4b[_0x3710('‮13a','s[kK')](String,_0x2a7794)[_0x3710('‫13b','pfR1')](/=+$/,'');for(var _0x4b92f1=0x0,_0x5bf951,_0x4ed98d,_0x8004f=0x0,_0x5837bb='';_0x4ed98d=_0x48da60[_0x3c2f4b['ZehLa']](_0x8004f++);~_0x4ed98d&&(_0x5bf951=_0x3c2f4b[_0x3710('‫13c','eMDA')](_0x4b92f1,0x4)?_0x3c2f4b[_0x3710('‮13d','lit8')](_0x5bf951,0x40)+_0x4ed98d:_0x4ed98d,_0x4b92f1++%0x4)?_0x5837bb+=String[_0x3710('‮13e','*ahN')](0xff&_0x3c2f4b[_0x3710('‫13f','JhmD')](_0x5bf951,_0x3c2f4b[_0x3710('‫140','s[kK')](_0x3c2f4b[_0x3710('‫141','ZqNb')](-0x2,_0x4b92f1),0x6))):0x0){_0x4ed98d=_0x1e8e2a[_0x3710('‮96','^nxZ')](_0x4ed98d);}return _0x5837bb;});}());var _0x1cd547=function(_0x1a38ba,_0x624620){var _0x32a490=[],_0x4fa255=0x0,_0x2ed4bb,_0x594eba='',_0x268a11='';_0x1a38ba=_0x3c2f4b[_0x3710('‫142','JhmD')](atob,_0x1a38ba);for(var _0x18bed3=0x0,_0x2e0aa9=_0x1a38ba[_0x3710('‫143','JhmD')];_0x18bed3<_0x2e0aa9;_0x18bed3++){_0x268a11+=_0x3c2f4b[_0x3710('‮144','Gmp[')]('%',_0x3c2f4b['bLMrQ']('00',_0x1a38ba[_0x3710('‫145','8PRh')](_0x18bed3)[_0x3c2f4b['QUgKw']](0x10))[_0x3c2f4b['rokcD']](-0x2));}_0x1a38ba=_0x3c2f4b['wOptL'](decodeURIComponent,_0x268a11);for(var _0x5c4b70=0x0;_0x3c2f4b[_0x3710('‫146','vRo3')](_0x5c4b70,0x100);_0x5c4b70++){if(_0x3c2f4b[_0x3710('‮147','2KuL')]!==_0x3c2f4b['oWZoC']){_0x32a490[_0x5c4b70]=_0x5c4b70;}else{app[_0x3710('‮148','eWk4')]=jsons;}}for(_0x5c4b70=0x0;_0x5c4b70<0x100;_0x5c4b70++){_0x4fa255=_0x3c2f4b[_0x3710('‫149','*94y')](_0x3c2f4b[_0x3710('‫14a','^VL0')](_0x3c2f4b[_0x3710('‮14b','9#Dk')](_0x4fa255,_0x32a490[_0x5c4b70]),_0x624620[_0x3710('‫14c','Pcnl')](_0x5c4b70%_0x624620[_0x3710('‮14d','YDEA')])),0x100);_0x2ed4bb=_0x32a490[_0x5c4b70];_0x32a490[_0x5c4b70]=_0x32a490[_0x4fa255];_0x32a490[_0x4fa255]=_0x2ed4bb;}_0x5c4b70=0x0;_0x4fa255=0x0;for(var _0x5e4a1e=0x0;_0x5e4a1e<_0x1a38ba[_0x3c2f4b[_0x3710('‫14e','s[kK')]];_0x5e4a1e++){_0x5c4b70=_0x3c2f4b['QhGGc'](_0x3c2f4b[_0x3710('‮14f','YfUb')](_0x5c4b70,0x1),0x100);_0x4fa255=_0x3c2f4b[_0x3710('‮150','vRo3')](_0x3c2f4b['tXEuF'](_0x4fa255,_0x32a490[_0x5c4b70]),0x100);_0x2ed4bb=_0x32a490[_0x5c4b70];_0x32a490[_0x5c4b70]=_0x32a490[_0x4fa255];_0x32a490[_0x4fa255]=_0x2ed4bb;_0x594eba+=String[_0x3c2f4b['OijjZ']](_0x3c2f4b[_0x3710('‫151','*94y')](_0x1a38ba[_0x3c2f4b[_0x3710('‮152','u(Jv')]](_0x5e4a1e),_0x32a490[_0x3c2f4b['QhGGc'](_0x3c2f4b[_0x3710('‫153','*dMp')](_0x32a490[_0x5c4b70],_0x32a490[_0x4fa255]),0x100)]));}return _0x594eba;};_0x1066[_0x3c2f4b[_0x3710('‮154','3^2a')]]=_0x1cd547;_0x1066[_0x3c2f4b[_0x3710('‮155','DFtq')]]={};_0x1066[_0x3c2f4b[_0x3710('‫156','B4Z%')]]=!![];}var _0x1f5155=_0x1066[_0x3c2f4b[_0x3710('‫157','s[kK')]][_0x481622];if(_0x3c2f4b[_0x3710('‫158','d(&)')](_0x1f5155,undefined)){if(_0x1066[_0x3c2f4b[_0x3710('‫159','6Kee')]]===undefined){_0x1066[_0x3c2f4b[_0x3710('‫15a','u(Jv')]]=!![];}_0x54f310=_0x1066[_0x3c2f4b[_0x3710('‮15b','*dMp')]](_0x54f310,_0x49530e);_0x1066[_0x3c2f4b[_0x3710('‫15c','lJUQ')]][_0x481622]=_0x54f310;}else{if(_0x3c2f4b[_0x3710('‮15d','8MEO')](_0x3c2f4b[_0x3710('‮15e','dTF&')],'USbHu')){_0x54f310=_0x1f5155;}else{var _0x5cfd59={'wFUvD':function(_0x2bf802,_0x86b9d1){return _0x3c2f4b['wOptL'](_0x2bf802,_0x86b9d1);},'QHcNS':_0x3c2f4b[_0x3710('‫15f','JhmD')],'mTHUg':_0x3c2f4b[_0x3710('‮160','vRo3')],'Fzaxb':function(_0x441126,_0x12d7f3){return _0x441126+_0x12d7f3;},'QKujc':function(_0xfb6258,_0x57ba48){return _0xfb6258*_0x57ba48;},'SeqDp':function(_0x38bdb3,_0x8e89d3){return _0x38bdb3%_0x8e89d3;},'WhNdt':_0x3710('‫161','6Kee'),'DjDaM':function(_0x1a8f9e,_0x32c270){return _0x3c2f4b[_0x3710('‮162','8PRh')](_0x1a8f9e,_0x32c270);},'EFmuG':function(_0x5365b2,_0x241c13){return _0x3c2f4b['HKZHX'](_0x5365b2,_0x241c13);},'rsUnJ':_0x3c2f4b[_0x3710('‮163','lit8')]};var _0x11adcf=_0x3c2f4b['tUQfE'](typeof window,_0x3710('‮164','WBk]'))?window:typeof process===_0x3c2f4b['ISRMt']&&_0x3c2f4b['jDdKP'](typeof require,_0x3c2f4b[_0x3710('‮165','yO%R')])&&typeof global===_0x3c2f4b['ISRMt']?global:this;var _0x279db5=_0x3c2f4b['aqKRW'];_0x11adcf[_0x3710('‫166','eMDA')]||(_0x11adcf[_0x3c2f4b[_0x3710('‮167','mate')]]=function(_0x4ae61f){var _0x3735c6=_0x5cfd59['wFUvD'](String,_0x4ae61f)[_0x5cfd59[_0x3710('‮168','8PRh')]](/=+$/,'');for(var _0x135c98=0x0,_0x4e7720,_0x5ab8d1,_0x3f3784=0x0,_0x3596bb='';_0x5ab8d1=_0x3735c6[_0x5cfd59[_0x3710('‮169','lit8')]](_0x3f3784++);~_0x5ab8d1&&(_0x4e7720=_0x135c98%0x4?_0x5cfd59[_0x3710('‫16a','fF)t')](_0x5cfd59['QKujc'](_0x4e7720,0x40),_0x5ab8d1):_0x5ab8d1,_0x5cfd59[_0x3710('‫16b','*94y')](_0x135c98++,0x4))?_0x3596bb+=String[_0x5cfd59[_0x3710('‮16c','H%aZ')]](0xff&_0x5cfd59[_0x3710('‮16d','Pcnl')](_0x4e7720,_0x5cfd59[_0x3710('‮16e','B4Z%')](-0x2*_0x135c98,0x6))):0x0){_0x5ab8d1=_0x279db5[_0x5cfd59['rsUnJ']](_0x5ab8d1);}return _0x3596bb;});}}return _0x54f310;};function gettoken(_0x4ee9e9,_0x547fcb){var _0x3d4fdb={'cqKmo':function(_0x17efa3,_0xd49620){return _0x17efa3+_0xd49620;},'bJjDw':function(_0x141752,_0x5ce965){return _0x141752!==_0x5ce965;},'jPNsZ':_0x3710('‫16f','@QLR'),'omfXf':_0x3710('‮170','tZ6@'),'kMEZa':function(_0x3f28c8,_0x22896a,_0x48a230){return _0x3f28c8(_0x22896a,_0x48a230);},'qpkKi':_0x3710('‮171','@QLR'),'ODenh':'ru66','gMpDb':function(_0x1dcd51,_0x38ff9f){return _0x1dcd51+_0x38ff9f;},'ePvRV':function(_0x314b21,_0xc3a3a0,_0x47cf28){return _0x314b21(_0xc3a3a0,_0x47cf28);},'SeYLW':_0x3710('‫172','Gmp['),'ATgHO':function(_0x49ecf5,_0x3a852c,_0x2d0cf9){return _0x49ecf5(_0x3a852c,_0x2d0cf9);},'KRvHG':'F3ep'};var _0x35c24d={'iZNRF':function _0x4ebf6c(_0x1f7716,_0x1db542){return _0x3d4fdb[_0x3710('‫173','DFtq')](_0x1f7716,_0x1db542);},'tqapo':_0x3d4fdb['kMEZa'](_0x1066,_0x3d4fdb[_0x3710('‮174','lJUQ')],_0x3d4fdb['ODenh']),'fMMcg':function _0x5542d2(_0x1559e3,_0x34a908){if(_0x3d4fdb['bJjDw'](_0x3d4fdb[_0x3710('‮175','yNUM')],_0x3d4fdb[_0x3710('‮176','SbvN')])){return _0x1559e3(_0x34a908);}else{_0x587ede[_0x31f4cb]=_0x31f4cb;}}};var _0x4e42ba=_0x3d4fdb[_0x3710('‫177','JhmD')](_0x35c24d[_0x1066(_0x3710('‮178','5O[^'),_0x3710('‫179','pfR1'))](_0x35c24d[_0x3d4fdb[_0x3710('‫17a','vRo3')](_0x1066,_0x3d4fdb['SeYLW'],_0x3710('‫17b','3^2a'))],_0x4ee9e9),_0x547fcb);return _0x35c24d[_0x3d4fdb['ATgHO'](_0x1066,_0x3710('‫17c','@aHL'),_0x3d4fdb[_0x3710('‫17d','f4Ze')])](md5,_0x4e42ba);};if(!(typeof encode_version!==_0x1066(_0x3710('‮17e','3^2a'),'!Gs$')&&encode_version==='sojson.v5')){window[_0x1066(_0x3710('‫17f','lJUQ'),'VOxW')]('不能删除sojson.v5');};encode_version='sojson.v5';(function(){var _0x665584={'phNsQ':function(_0x413802,_0x16256a){return _0x413802(_0x16256a);},'jnVTg':'url','nmcvr':function(_0xeda660,_0x46248f){return _0xeda660==_0x46248f;},'EthyQ':_0x3710('‮180','f4Ze'),'CVoNN':function(_0x200939,_0x352a31){return _0x200939(_0x352a31);},'TKBtl':_0x3710('‫181','3*IC')};if(getQueryVariable(_0x3710('‫182','2KuL'))){app[_0x3710('‮183','lit8')]=!![];}var _0x340ef2=_0x665584[_0x3710('‫184','3*IC')](decodeURI,getQueryVariable(_0x665584['jnVTg']))[_0x3710('‮185','%Y)u')]();if(_0x340ef2&&_0x665584[_0x3710('‮186','3*IC')](_0x340ef2['indexOf'](_0x665584[_0x3710('‫187','Gmp[')]),-0x1)){app['search'](decodeURI(_0x665584['phNsQ'](getQueryVariable,_0x665584[_0x3710('‮188','*94y')])));}if(_0x665584['CVoNN'](decodeURI,getQueryVariable(_0x3710('‮189','YfUb')))){app['adadress']=decodeURI(getQueryVariable(_0x665584['TKBtl']));}}());window['oncontextmenu']=function(_0x398bab){_0x398bab[_0x3710('‫18a','lit8')]();app[_0x3710('‫18b','pfR1')]();};function FullScreen(_0x3c25e5){var _0x587e34=document[_0x3710('‮18c','u(Jv')]||document[_0x3710('‮18d','u(Jv')]||document['webkitIsFullScreen'];if(!_0x587e34){_0x3c25e5[_0x3710('‮18e','SbvN')]&&_0x3c25e5['requestFullscreen']()||_0x3c25e5['mozRequestFullScreen']&&_0x3c25e5[_0x3710('‫18f','WBk]')]()||_0x3c25e5[_0x3710('‮190','yO%R')]&&_0x3c25e5['webkitRequestFullscreen']()||_0x3c25e5['msRequestFullscreen']&&_0x3c25e5[_0x3710('‫191','ZqNb')]();}else{document[_0x3710('‫192','bC$B')]?document[_0x3710('‮193','i!Ho')]():document[_0x3710('‫194','VMxI')]?document[_0x3710('‫195','9#Dk')]():document['webkitExitFullscreen']?document[_0x3710('‮196','dTF&')]():'';}}function ExitFullScreen(){var _0x5566a3={'PQdwV':function(_0x42c90f,_0x4152cd){return _0x42c90f===_0x4152cd;},'hkxWr':'XDVju','iuehU':_0x3710('‮197','ZqNb')};try{if(_0x5566a3['PQdwV'](_0x5566a3[_0x3710('‮198','DFtq')],_0x5566a3[_0x3710('‮199','bC$B')])){var _0x2d304e=document[_0x3710('‫19a','yO%R')]||document['mozFullScreen']||document[_0x3710('‮19b','dTF&')];if(!_0x2d304e){el[_0x3710('‮19c','*dMp')]&&el['requestFullscreen']()||el[_0x3710('‫19d','i!Ho')]&&el['mozRequestFullScreen']()||el['webkitRequestFullscreen']&&el['webkitRequestFullscreen']()||el[_0x3710('‫19e','d(&)')]&&el[_0x3710('‮19f','5O[^')]();}else{document[_0x3710('‮1a0','fF)t')]?document[_0x3710('‫1a1','@aHL')]():document[_0x3710('‫1a2','eMDA')]?document[_0x3710('‮1a3','ZqNb')]():document['webkitExitFullscreen']?document['webkitExitFullscreen']():'';}}else{document[_0x3710('‮1a4','*ahN')]?document['exitFullscreen']():'';document[_0x3710('‮1a5','YDEA')]?document[_0x3710('‮1a5','YDEA')]():'';document[_0x3710('‮1a6','@QLR')]?document['webkitExitFullscreen']():'';}}catch(_0xe48bc3){}}setInterval(function(){var _0x589e50={'JQiOX':function(_0x72ddb7,_0x1f9f11){return _0x72ddb7(_0x1f9f11);},'JLyUo':function(_0x14c2f5,_0x5ae52c){return _0x14c2f5(_0x5ae52c);},'Grhhi':'videoFullPage','eKyJF':function(_0x23a8aa,_0x4f4d43){return _0x23a8aa===_0x4f4d43;},'TsftP':_0x3710('‫1a7','@QLR'),'ZTCtJ':_0x3710('‫1a8','NCqP'),'xDeHQ':function(_0x2bdd60,_0x2692d0){return _0x2bdd60(_0x2692d0);},'ykLGo':_0x3710('‫1a9','dTF&'),'WENtn':_0x3710('‫1aa','pfR1')};if(document[_0x3710('‫1ab','lJUQ')]||document[_0x3710('‫1ac','DFtq')]||document[_0x3710('‫1ad','VMxI')]){_0x589e50[_0x3710('‮1ae','u(Jv')]($,_0x3710('‮1af','^VL0'))[_0x3710('‫1b0','*94y')]();_0x589e50['JLyUo']($,_0x3710('‫1b1','*ahN'))['addClass'](_0x589e50[_0x3710('‮1b2','6Kee')]);}else{if(_0x589e50[_0x3710('‫1b3','tZ6@')](_0x589e50['TsftP'],_0x589e50[_0x3710('‮1b4','B4Z%')])){return{'url':'','title':''};}else{_0x589e50[_0x3710('‫1b5','*dMp')]($,_0x589e50['ykLGo'])['hide']();$(_0x589e50[_0x3710('‮1b6','8PRh')])[_0x3710('‫1b7','f4Ze')]('videoFullPage');}}},0x1f4);function onresize2(){app[_0x3710('‮1b8','NCqP')]();}onresize2();window[_0x3710('‮1b9','lJUQ')]=function(){var _0x6e487b={'VAqZV':function(_0x12255f){return _0x12255f();}};_0x6e487b[_0x3710('‫1ba','@aHL')](onresize2);};setTimeout(function(){$('[data-toggle=\x22tooltip\x22]')['tooltip']();},0x64);(function(_0x287885){var _0x3dc9d0={'LPUdj':function(_0x3e08ac,_0x5cd189){return _0x3e08ac!==_0x5cd189;},'GqIve':_0x3710('‫1bb','VMxI'),'TykAY':function(_0x3777ba,_0x37f0ae){return _0x3777ba(_0x37f0ae);},'NsNnr':function(_0x3b629c,_0x338197){return _0x3b629c+_0x338197;},'MapLH':'animate__','fxZOk':function(_0x50e6fb,_0xde9f9){return _0x50e6fb!=_0xde9f9;},'qASjQ':'Out','aGhMu':_0x3710('‫1bc','9#Dk'),'BPYmu':_0x3710('‫1bd','oihM'),'NblNe':function(_0x46558f,_0xbb0b0){return _0x46558f(_0xbb0b0);},'GbqRQ':function(_0x1ee693,_0x42d5be){return _0x1ee693(_0x42d5be);},'cIICQ':_0x3710('‫1be','8PRh'),'ozInI':function(_0x5585f8,_0x5cccb6){return _0x5585f8(_0x5cccb6);},'TZpIg':function(_0x3a8a43,_0x146bd7){return _0x3a8a43+_0x146bd7;},'DDnAB':function(_0xdb0c37,_0x29dad4){return _0xdb0c37(_0x29dad4);}};_0x287885['fn'][_0x3710('‮1bf','mate')]({'animateCss':function(_0x329cd8,_0x427d18){var _0x3665ed=this;_0x3dc9d0[_0x3710('‮1c0','NCqP')](_0x287885,_0x3665ed)[_0x3710('‫1c1','oihM')](_0x3dc9d0['cIICQ']);_0x3dc9d0[_0x3710('‮1c2','vRo3')](_0x287885,_0x3665ed)['addClass'](_0x3dc9d0[_0x3710('‮1c3','^VL0')](_0x3dc9d0[_0x3710('‫1c4','VMxI')],_0x329cd8));if(_0x3dc9d0[_0x3710('‮1c5','6Kee')](_0x329cd8['indexOf']('In'),-0x1)){_0x3dc9d0[_0x3710('‮1c6','lJUQ')](_0x287885,_0x3665ed)[_0x3710('‮1c7','JhmD')]();}var _0x8cea28=_0x3710('‮1c8','bC$B');_0x3dc9d0[_0x3710('‫1c9','yO%R')](_0x287885,_0x3665ed)[_0x3710('‮1ca','ZqNb')](_0x8cea28,function(){if(_0x3dc9d0[_0x3710('‫1cb','Pcnl')](_0x3dc9d0[_0x3710('‫1cc','3^2a')],_0x3dc9d0[_0x3710('‮1cd','mate')])){a[i][_0x3710('‫1ce','B4Z%')]=0x0;a[i][_0x3710('‮1cf','5O[^')]='';if(a[i]['Data']['length']>0x4){a[i][_0x3710('‮1d0','2KuL')]=![];}else{a[i][_0x3710('‮1d1','f4Ze')]=!![];}}else{_0x3dc9d0[_0x3710('‮1d2','s[kK')](_0x287885,_0x3665ed)['removeClass'](_0x3dc9d0['NsNnr'](_0x3dc9d0[_0x3710('‫1d3','pfR1')],_0x329cd8));if(_0x427d18)_0x427d18();if(_0x3dc9d0['fxZOk'](_0x329cd8[_0x3710('‮1d4','s[kK')](_0x3dc9d0[_0x3710('‫1d5','dTF&')]),-0x1)){if(_0x3dc9d0[_0x3710('‫1d6','Gmp[')]!==_0x3dc9d0['BPYmu']){_0x3dc9d0[_0x3710('‫1d7','Gmp[')](_0x287885,_0x3665ed)[_0x3710('‫1d8','H%aZ')]();}else{return;}}}});}});}(jQuery));;_0xodo='jsjiami.com.v6';
</script>


    
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "分享全网VIP视频会员领取观看:video.isyour.love", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "24" }, "share": { "bdSize": 16 } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://cdn.jsdelivr.net/gh/yunluo/GitCafeApi/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>


    <!-- 谷歌统计Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154955960-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154955960-1');
    </script>

    <div style="display:none;">
        <!--cnzz统计-->
        <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279848754&web_id=1279848754"></script>
    </div>


</body>
</html>